<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Filter Users</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="users-filter-form"
            class="form-responsive form-spacious filter"
            hx-target="#htmx-modal-container"
            hx-post="{{ request.path }}">
        {% csrf_token %} {{ filter.form }}
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn-icon button-link"
              hx-target="#htmx-modal-container"
              hx-get="{% url 'management:clear-filters' session_key='user_filter' trigger='userListReload' %}">
        Restore Defaults
      </button>
      <button type="submit" form="users-filter-form" class="btn btn-success">Apply</button>
    </div>
  </div>
</div>
