<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Edit User</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form hx-post="{{ request.path }}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact col2">
        {% csrf_token %}
        {{ form }}
        <div class="flex-center-space span2">
          <div>
            <button type="submit" class="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
