<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Create User</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="new-user-form"
            hx-post="{{ request.path }}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact col2">
        {% csrf_token %} {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="new-user-form" class="submit">Submit</button>
    </div>
  </div>
</div>
