{% if selected_ids %}
  <div class="dropdown" x-data="dropdown()">
    <button type="button"
            class="btn-icon toggle-active"
            x-ref="button"
            @click="toggle()"
            :aria-expanded="open">
      Actions ({{ selected_ids|length }})
      <small><i class="icon-chevron-down"></i></small>
    </button>
    <ul class="dropdown-menu" x-ref="menu" x-show="open" @click="close()">
      {% include actions_template %}
    </ul>
  </div>
  {% if date_url %}
    <button type="button"
            class="btn-icon toggle-active"
            x-data
            @click.prevent=" const input = document.createElement('input'); input.style.cssText = 'position:absolute;visibility:hidden;height:0;width:0;padding:0;'; $el.parentElement.appendChild(input); flatpickr(input, { dateFormat: 'Y-m-d', allowInput: true, onReady: (_, __, fp) => fp.open(), onChange: (_, dateStr) => { htmx.ajax('POST', '{{ date_url }}', { swap: 'none', values: { date_due: dateStr } }); }, onClose: () => { input.remove(); } }); ">
      <i class="icon-calendar"></i>
    </button>
  {% endif %}
  <button type="button"
          class="btn-icon toggle-active"
          hx-post="{{ clear_url }}"
          hx-swap="none">
    <i class="icon-x"></i> Clear
  </button>
{% endif %}
