<div class="dropdown">
  <button class="button-link"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ document.importance }}</button>
  <ul class="dropdown-menu">
    {% for i in '123456789'|make_list %}
      <li>
        <a class="dropdown-item"
           href="#"
           hx-get="{% url 'documents:file-importance' document.id forloop.counter %}"
           hx-target="#files">{{ forloop.counter }}</a>
      </li>
    {% endfor %}
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'documents:file-importance' document.id 10 %}"
         hx-target="#files">10</a>
    </li>
  </ul>
</div>
