<tr id="document-{{ document.id }}" data-document-id="{{ document.id }}">
  <td class="col-select">
    <input type="checkbox"
           name="document_select"
           value="{{ document.id }}"
           {% if document.id in selected_documents %}checked{% endif %}
           hx-post="{% url 'documents:files-toggle-select' document.id %}"
           hx-trigger="change"
           hx-target="closest tr"
           hx-swap="outerHTML">
  </td>
  <td class="col-category dropdown-cell">{% include "documents/files/category-display.html" %}</td>
  <td class="col-date">{% include "documents/files/date-display.html" %}</td>
  <td class="col-document dropdown-cell">
    <div class="file-name-row">
      <div class="file-name-content">
        <div class="dropdown">
          <a href="#"
             class="file-name-link"
             data-bs-toggle="dropdown"
             aria-expanded="false">{{ document.name }}</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item"
                 href="#"
                 hx-get="{% url 'documents:files-edit' document.id %}"
                 hx-target="#htmx-modal-container"
                 data-bs-toggle="modal"
                 data-bs-target="#htmx-modal-container">Edit File Details</a>
            </li>
            {% if document.file.name|slice:"-4:"|lower == ".pdf" %}
              <li>
                <a class="dropdown-item"
                   href="{% url 'documents:viewer' document.id %}"
                   target="_blank">View Document</a>
              </li>
            {% endif %}
            <li>
              <a class="dropdown-item"
                 href="{% url 'documents:files-download' document.id %}">Download</a>
            </li>
            <li>
              <a class="dropdown-item document-link-btn"
                 href="#"
                 data-url="{% url 'documents:viewer' document.id %}">Copy Link to File</a>
            </li>
            <li>
              <a class="dropdown-item"
                 href="#"
                 hx-get="{% url 'documents:labels-apply-modal' 'document' document.id %}"
                 hx-target="#htmx-modal-container"
                 data-bs-toggle="modal"
                 data-bs-target="#htmx-modal-container">Add Label</a>
            </li>
            {% if document.highlight_count %}
              <li>
                <a class="dropdown-item"
                   href="{% url 'documents:highlights-for-document' document.id %}">Review Highlights</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <span class="text-muted">{{ document.citation }}</span>
        {% include "documents/files/ocr-badge.html" %}
      </div>
    </div>
    {% if document.description %}<div class="file-description">{{ document.description }}</div>{% endif %}
    {% if document.labels.count %}
      <div class="file-labels">
        {% for label in document.labels.all %}
          {% include "documents/labels/badge.html" with object_type="document" object=document %}
        {% endfor %}
      </div>
    {% endif %}
  </td>
  <td class="col-proceeding dropdown-cell">{% include "documents/files/proceeding-display.html" %}</td>
  <td class="col-importance dropdown-cell">{% include "documents/files/importance-display.html" %}</td>
</tr>
