<div class="dropdown" x-data="dropdown()">
  <button type="button"
          class="btn-icon"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">
    <span><i class="icon-flag with-text"></i> Importance</span>
    <small><i class="icon-chevron-down"></i></small>
  </button>
  <ul class="dropdown-menu" x-ref="menu" x-show="open" @click="close()">
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'notes:bulk-set-importance' %}"
         hx-vals='{"importance": "7"}'
         hx-swap="none"><i class="icon-chevrons-up importance-7"></i> Highest</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'notes:bulk-set-importance' %}"
         hx-vals='{"importance": "6"}'
         hx-swap="none"><i class="icon-chevron-up importance-6"></i> Higher</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'notes:bulk-set-importance' %}"
         hx-vals='{"importance": "5"}'
         hx-swap="none"><i class="icon-chevron-up importance-5"></i> High</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'notes:bulk-set-importance' %}"
         hx-vals='{"importance": "4"}'
         hx-swap="none"><i class="icon-equal"></i> Normal</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'notes:bulk-set-importance' %}"
         hx-vals='{"importance": "3"}'
         hx-swap="none"><i class="icon-chevron-down importance-3"></i> Low</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'notes:bulk-set-importance' %}"
         hx-vals='{"importance": "2"}'
         hx-swap="none"><i class="icon-chevron-down importance-2"></i> Lower</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'notes:bulk-set-importance' %}"
         hx-vals='{"importance": "1"}'
         hx-swap="none"><i class="icon-chevrons-down importance-1"></i> Lowest</a>
    </li>
  </ul>
</div>
