<div class="dropdown" x-data="dropdown()">
  <button class="button-link"
          type="button"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">{{ note.get_category_display }}</button>
  <ul class="dropdown-menu" x-ref="menu" x-show="open">
    {% for key, label in category_choices %}
      <li>
        <a class="dropdown-item {% if note.category == key %}active{% endif %}"
           href="#"
           hx-post="{% url 'notes:note-category' note.id key %}"
           hx-target="#notes">{{ label }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
