<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Filter Notes</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="notes-filter-form"
            hx-post="{% url 'notes:filter' %}"
            hx-target="#htmx-modal-container"
            class="form-compact col2">
        {% csrf_token %}
        {{ filter.form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-danger"
              hx-post="{% url 'notes:filter' %}"
              hx-vals='{"reset": "true"}'>Clear Filters</button>
      <button type="submit" form="notes-filter-form" class="submit">Apply</button>
    </div>
  </div>
</div>
