{% extends "base.html" %}
{# djlint:off #}{% block body_class %}notes-page has-subnav{% endblock body_class %}{# djlint:on #}
{% block content %}
  <div id="content" class="container content">
    <div class="notes-layout">
      <div id="note-folders" class="notes-sidebar">{% include "note_folders/list.html" %}</div>
      <div id="notes"
           class="notes-content"
           hx-trigger="notesChanged from:body"
           hx-get="{% url 'notes:list' %}"
           hx-target="this">{% include "notes/list.html" %}</div>
    </div>
  </div>
{% endblock content %}
