<tr id="note-{{ note.id }}">
  <td class="col-select">
    {% url 'notes:toggle-select' note.id as toggle_url %}
    {% include "selection/checkbox.html" with toggle_url=toggle_url obj_id=note.id selected_ids=selected_notes %}
  </td>
  <td class="title">
    <div class="dropdown" x-data="dropdown()">
      <a href="#"
         class="note-title-link"
         x-ref="button"
         @click.prevent="toggle()">{{ note.title }}</a>
      <ul class="dropdown-menu" x-ref="menu" x-show="open">
        <li>
          <a class="dropdown-item"
             href="{% url 'notes:note-view' note.id %}"
             target="_blank"><i class="icon-external-link"></i> Open</a>
        </li>
        <li>
          <a class="dropdown-item"
             href="#"
             hx-get="{% url 'notes:edit' note.id %}"
             hx-target="#htmx-modal-container"><i class="icon-pencil"></i> Rename</a>
        </li>
        <li>
          <a class="dropdown-item"
             href="#"
             hx-get="{% url 'notes:note-move' note.id %}"
             hx-target="#htmx-modal-container"><i class="icon-arrow-right"></i> Move</a>
        </li>
        <li>
          <a class="dropdown-item urgent"
             href="#"
             hx-confirm="Are you sure you want to delete this note?"
             hx-post="{% url 'notes:delete' note.id %}"><i class="icon-trash-2"></i> Delete</a>
        </li>
      </ul>
    </div>
  </td>
  <td class="user">{{ note.author.get_short_name|default:note.author.username|default:"—" }}</td>
  <td class="created">{{ note.created_at|date:"Y-m-d" }}</td>
  <td class="updated">{{ note.updated_at|date:"Y-m-d" }}</td>
  <td class="importance dropdown-cell">
    <div class="dropdown" x-data="dropdown()">
      <button class="button-link"
              type="button"
              x-ref="button"
              @click="toggle()"
              :aria-expanded="open">{{ note.importance }}</button>
      <ul class="dropdown-menu dropdown-menu-end" x-ref="menu" x-show="open">
        {% for i in "1234567890"|make_list %}
          <li>
            <a class="dropdown-item"
               href="#"
               hx-post="{% url 'notes:note-importance' note.id forloop.counter %}"
               hx-target="#notes"><i class="icon-flag"></i> {{ forloop.counter }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </td>
</tr>
