<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Keyboard Shortcuts</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <table class="shortcuts-table">
        <tr>
          <th colspan="2">Text Formatting</th>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>B</kbd>
          </td>
          <td>Bold</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>I</kbd>
          </td>
          <td>Italic</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>S</kbd>
          </td>
          <td>Strikethrough</td>
        </tr>
        <tr>
          <th colspan="2">Highlights</th>
        </tr>
        <tr>
          <td>
            <kbd>Alt</kbd> + <kbd>Y</kbd>
          </td>
          <td>Yellow highlight</td>
        </tr>
        <tr>
          <td>
            <kbd>Alt</kbd> + <kbd>G</kbd>
          </td>
          <td>Green highlight</td>
        </tr>
        <tr>
          <td>
            <kbd>Alt</kbd> + <kbd>R</kbd>
          </td>
          <td>Red highlight</td>
        </tr>
        <tr>
          <td>
            <kbd>Alt</kbd> + <kbd>P</kbd>
          </td>
          <td>Purple highlight</td>
        </tr>
        <tr>
          <td>
            <kbd>Alt</kbd> + <kbd>O</kbd>
          </td>
          <td>Orange highlight</td>
        </tr>
        <tr>
          <td>
            <kbd>Alt</kbd> + <kbd>A</kbd>
          </td>
          <td>Gray highlight</td>
        </tr>
        <tr>
          <td>
            <kbd>Alt</kbd> + <kbd>C</kbd>
          </td>
          <td>Remove highlight</td>
        </tr>
        <tr>
          <th colspan="2">Headings</th>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>1</kbd> - <kbd>5</kbd>
          </td>
          <td>Heading 1-5</td>
        </tr>
        <tr>
          <td>
            <kbd>F2</kbd> / <kbd>F3</kbd> / <kbd>F4</kbd>
          </td>
          <td>Heading 2 / 3 / 4</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>0</kbd>
          </td>
          <td>Normal paragraph</td>
        </tr>
        <tr>
          <th colspan="2">Lists & Blocks</th>
        </tr>
        <tr>
          <td>
            <kbd>F7</kbd> or <kbd>Ctrl</kbd> + <kbd>7</kbd>
          </td>
          <td>Bullet list</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>8</kbd>
          </td>
          <td>Blockquote</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>↑</kbd> / <kbd>↓</kbd>
          </td>
          <td>Move list item up/down</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>D</kbd>
          </td>
          <td>Delete block</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>;</kbd>
          </td>
          <td>Insert source</td>
        </tr>
        <tr>
          <th colspan="2">General</th>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>H</kbd>
          </td>
          <td>Search & Replace</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>S</kbd>
          </td>
          <td>Save</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>Z</kbd>
          </td>
          <td>Undo</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>Z</kbd>
          </td>
          <td>Redo</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>?</kbd>
          </td>
          <td>Show shortcuts</td>
        </tr>
      </table>
    </div>
  </div>
</div>
