<div class="table-container">
  <table id="notes-list" class="table notes-list">
    <tr>
      <th class="category">Category</th>
      <th class="topic">
        Topic
        <button class="btn-sort {% if 'topic' in current_order %}active{% endif %}"
                hx-get="{% url 'notes:order-by' 'topic' %}"
                hx-target="#notes">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th class="title">
        Title
        <button class="btn-sort {% if 'title' in current_order %}active{% endif %}"
                hx-get="{% url 'notes:order-by' 'title' %}"
                hx-target="#notes">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th class="user">Author</th>
      <th class="created">
        Created
        <button class="btn-sort {% if 'created_at' in current_order %}active{% endif %}"
                hx-get="{% url 'notes:order-by' 'created_at' %}"
                hx-target="#notes">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th class="viewed">
        Viewed
        <button class="btn-sort {% if 'viewed_at' in current_order %}active{% endif %}"
                hx-get="{% url 'notes:order-by' 'viewed_at' %}"
                hx-target="#notes">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th class="importance">
        <button class="btn-sort {% if 'importance' in current_order %}active{% endif %}"
                hx-get="{% url 'notes:order-by' 'importance' %}"
                hx-target="#notes"
                title="Sort by importance">
          <i class="bi bi-flag"></i>
        </button>
      </th>
    </tr>
    {% for note in notes %}
      {% include "notes/row.html" %}
    {% empty %}
      <tr>
        <td colspan="7" class="empty-message">No notes found.</td>
      </tr>
    {% endfor %}
  </table>
</div>
