{% block subcontent %}
  {% load humanize %}
  <div class="toolbar">
    <div class="toolbar-left">
      <h2>Ledger</h2>
    </div>
    <div class="toolbar-right">
      <a href="{% url 'matters:ledger-pdf' matter.id %}"
         target="_blank"
         type="button"
         class="btn-icon">Download PDF</a>
    </div>
  </div>
  {% if transactions %}
    <div class="table-container">
      <table class="table ledger">
        <tr>
          <th class="date">Date</th>
          <th class="type">Type</th>
          <th>Description</th>
          <th class="numeric">Amount</th>
        </tr>
        {% for transaction in transactions %}
          <tr>
            <td class="date">{{ transaction.date|date:'Y-m-d' }}</td>
            <td class="type">{{ transaction.transaction_type }}</td>
            <td>
              {% if 'Invoice' in transaction.description %}
                <a href="{% url 'billing:invoices-detail-index' transaction.id %}">{{ transaction.description }}</a>
              {% elif 'Payment' in transaction.description %}
                <button class="button-link"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{{ transaction.description }}</button>
                <ul class="dropdown-menu" aria-labelledby="paymentDropdown">
                  <li>
                    <a class="dropdown-item"
                       href="#"
                       hx-get="{% url 'billing:payments-edit' transaction.id %}"
                       hx-target="#htmx-modal-container"
                       hx-trigger="click"
                       data-bs-toggle="modal"
                       data-bs-target="#htmx-modal-container">Edit</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                       hx-confirm="Are you sure you want to delete this payment?"
                       href="#"
                       hx-delete="{% url 'billing:payments-delete' transaction.id %}">Delete</a>
                  </li>
                </ul>
              {% elif 'Credit' in transaction.description %}
                <button class="button-link"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{{ transaction.description }}</button>
                <ul class="dropdown-menu" aria-labeledby="creditsDropdown">
                  <li>
                    <a class="dropdown-item"
                       href="#"
                       hx-get="{% url 'billing:credits-edit' transaction.id %}"
                       hx-target="#htmx-modal-container"
                       hx-trigger="click"
                       data-bs-toggle="modal"
                       data-bs-target="#htmx-modal-container">Edit</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                       href="#"
                       hx-confirm="Are you sure you want to delete this credit?"
                       hx-delete="{% url 'billing:credits-delete' transaction.id %}">Delete</a>
                  </li>
                </ul>
              {% else %}
                {{ transaction.description }}
              {% endif %}
            </td>
            {% if transaction.transaction_type == 'Charge' %}
              <td class="numeric urgent">-${{ transaction.amount|floatformat:2|intcomma }}</td>
            {% else %}
              <td class="numeric">${{ transaction.amount|floatformat:2|intcomma }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
      <div class="flex-start-space">
        <br />
        <div class="totals-table">
          <table>
            <tr>
              <td class="total">Balance Due</td>
              <td class="numeric total">${{ balance_due|floatformat:2|intcomma }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  {% else %}
    No transactions found.
  {% endif %}
{% endblock subcontent %}
