{% block subcontent %}
  {% load humanize %}
  {% load mathfilters %}
  <div class="toolbar">
    <div class="toolbar-left">
      <h2>Ledger</h2>
    </div>
    <div class="toolbar-right">
      <a href="{% url 'matters:ledger-pdf' matter.id %}"
         target="_blank"
         type="button"
         class="btn-icon">Download PDF</a>
    </div>
  </div>
  <table class="ledger-totals">
    <tr>
      <th>Total Invoices</th>
      <td class="numeric">${{ matter.value.invoices.billed|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <th>Total Payments</th>
      <td class="numeric">${{ matter.value.invoices.payment_sum|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <th>Total Credits</th>
      <td class="numeric">${{ total_credits|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <th>Balance Due</th>
      <td class="numeric">${{ balance_due|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <th>Unbilled Activity</th>
      <td class="numeric">${{ matter.value.unbilled.net_fees_and_expenses|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <th>Total Cost to Date</th>
      <td class="numeric">${{ total_cost|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <th>Clent Trust Balance (Confirmed)</th>
      <td class="numeric">
        {% if matter.client %}
          <a href="{% url 'trust:client-index' id=matter.client.id %}">${{ client_trust_balance|floatformat:2|intcomma }}</a>
        {% else %}
          ${{ client_trust_balance|floatformat:2|intcomma }}
        {% endif %}
      </td>
    </tr>
  </table>
  {% if transactions %}
    <div class="table-container">
      <table class="table ledger">
        <tr>
          <th class="date">Date</th>
          <th class="type">Type</th>
          <th class="description">Description</th>
          <th class="numeric">Amount</th>
          <th class="numeric">Balance</th>
        </tr>
        {# list of transactions -------------------------------------- #}
        {% for transaction in transactions %}
          <tr>
            <td class="date">{{ transaction.date|date:'Y-m-d' }}</td>
            <td class="type">{{ transaction.transaction_type }}</td>
            <td class="description dropdown-cell">
              {# invoices -------------------------------------- #}
              {% if 'Invoice' in transaction.description %}
                <a href="{% url 'invoicing:invoices-detail-index' transaction.id %}">{{ transaction.description }}</a>
              {% elif 'Payment' in transaction.description %}
                <button class="button-link"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{{ transaction.description }}</button>
                <ul class="dropdown-menu" aria-labelledby="paymentDropdown">
                  <li>
                    <a class="dropdown-item"
                       href="#"
                       hx-get="{% url 'invoicing:payments-edit' transaction.id %}"
                       hx-target="#htmx-modal-container"
                       hx-trigger="click"
                       data-bs-toggle="modal"
                       data-bs-target="#htmx-modal-container">Edit</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                       hx-confirm="Are you sure you want to delete this payment?"
                       href="#"
                       hx-delete="{% url 'invoicing:payments-delete' transaction.id %}">Delete</a>
                  </li>
                </ul>
              {% elif 'Credit' in transaction.description %}
                <button class="button-link"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{{ transaction.description }}</button>
                <ul class="dropdown-menu" aria-labeledby="creditsDropdown">
                  <li>
                    <a class="dropdown-item"
                       href="#"
                       hx-get="{% url 'invoicing:credits-edit' transaction.id %}"
                       hx-target="#htmx-modal-container"
                       hx-trigger="click"
                       data-bs-toggle="modal"
                       data-bs-target="#htmx-modal-container">Edit</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                       href="#"
                       hx-confirm="Are you sure you want to delete this credit?"
                       hx-delete="{% url 'invoicing:credits-delete' transaction.id %}">Delete</a>
                  </li>
                </ul>
              {% else %}
                {{ transaction.description }}
              {% endif %}
            </td>
            {% if transaction.transaction_type == 'Charge' %}
              <td class="numeric urgent">${{ transaction.amount|floatformat:2|intcomma }}</td>
            {% else %}
              <td class="numeric">-${{ transaction.amount|floatformat:2|intcomma }}</td>
            {% endif %}
            <td class="numeric{% if transaction.balance <= 0 %} money-positive{% endif %}">
              ${{ transaction.balance|abs|floatformat:2|intcomma }}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <div class="table-container">
      <table class="table ledger">
        <tr>
          <td>No transactions found.</td>
        </tr>
      </table>
    </div>
  {% endif %}
{% endblock subcontent %}
