{% load humanize %}
{% load static %}
{% load cache_buster %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{{ matter.name }} - Ledger</title>
    <link rel="shortcut icon" href={% static 'images/briefcase-fill.svg' %} />
    <link rel="stylesheet" href={% static_v 'css/pdf/general.css' %} />
    <link rel="stylesheet" href={% static_v 'css/pdf/ledger.css' %} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />
  </head>
  <body>
    <div class="template">
      <div class="header">
        <div class="header-left">
          <div class="header-left-left">
            <img width="100"
                 height="auto"
                 class="cb-logo"
                 alt="cb_logo"
                 src="{% static 'images/cb_logo.png' %}" />
          </div>
          <div class="header-left-right">
            <p>
              CB Legal, <span class="llc">LLC</span>
            </p>
            <p>5565 Glenridge Connector</p>
            <p>Suite 350</p>
            <p>Atlana, GA 30342</p>
            <p>(770) 426 - 7740</p>
            <p>jcraig@cblegal.law</p>
          </div>
        </div>
        <div class="header-right">
          <h3 class="text-right">Matter Ledger</h3>
          <p class="text-right">Matter {{ matter.id }}</p>
          <p class="text-right">"{{ matter.name }}"</p>
          <p class="text-right">{{ current_date }}</p>
          {% if matter.client_reference_id %}<p class="text-right">{{ matter.client_reference_id }}</p>{% endif %}
        </div>
      </div>
      <div class="section">
        <h3>List of Charges and Credits</h3>
        {% if transactions %}
          <div class="table-container">
            <table class="table ledger">
              <tr>
                <th class="date">Date</th>
                <th class="transaction-type">Type</th>
                <th>Description</th>
                <th class="money">Amount</th>
                <th class="money">Balance</th>
              </tr>
              {% for transaction in transactions %}
                <tr>
                  <td class="date">{{ transaction.date|date:'Y-m-d' }}</td>
                  <td class="transaction-type">{{ transaction.transaction_type }}</td>
                  <td>{{ transaction.description }}</td>
                  {% if transaction.transaction_type == 'Charge' %}
                    <td class="money urgent">${{ transaction.amount|floatformat:2|intcomma }}</td>
                  {% else %}
                    <td class="money">-${{ transaction.amount|floatformat:2|intcomma }}</td>
                  {% endif %}
                  <td class="money">${{ transaction.balance|floatformat:2|intcomma }}</td>
                </tr>
              {% endfor %}
              <tr>
                {% if balance_due >= 0 %}
                  <td colspan="4">Balance Due</td>
                {% else %}
                  <td colspan="4">Surplus Funds</td>
                {% endif %}
                <td class="money balance-due">${{ balance_due|abs|floatformat:2|intcomma }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    {% else %}
      No transactions found.
    {% endif %}
    <div class="section trust-balance">
      <h3>Trust Account</h3>
      <table class="table ledger">
        <tr>
          <td>Funds on Retainer</td>
          <td class="money">${{ client_trust_balance|floatformat:2|intcomma }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
