{% load humanize %}
{% load static %}
{% load cache_buster %}
{% load mathfilters %}
{% load firm_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{{ matter.name }} - Ledger</title>
    <link rel="shortcut icon" href={% static 'images/briefcase-fill.svg' %} />
    <link rel="stylesheet" href={% static_v 'css/pdf/general.css' %} />
    <link rel="stylesheet" href={% static_v 'css/pdf/ledger.css' %} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet" />
  </head>
  <body>
    {% get_firm as firm %}
    <div class="template">
      <div class="header">
        <div class="header-left">
          {% if firm.logo %}
            <div class="header-left-left">
              <img class="firm-logo"
                   height="auto"
                   width="100"
                   alt="{{ firm.name }} logo"
                   src="{{ firm.logo.url }}" />
            </div>
          {% endif %}
          <div class="header-left-right">
            <p>
              {{ firm.name }}
              {% if firm.name_suffix %}, <span class="llc">{{ firm.name_suffix }}</span>{% endif %}
            </p>
            <p>{{ firm.address_line1 }}</p>
            {% if firm.address_line2 %}<p>{{ firm.address_line2 }}</p>{% endif %}
            <p>{{ firm.city }}, {{ firm.state }} {{ firm.zip_code }}</p>
            <p>{{ firm.phone }}</p>
            <p>{{ firm.email }}</p>
          </div>
        </div>
        <div class="header-right">
          <h3 class="text-right">Matter Ledger</h3>
          <p class="text-right">Matter {{ matter.id }}</p>
          <p class="text-right">"{{ matter.name }}"</p>
          <p class="text-right">{{ current_date }}</p>
          {% if matter.client_reference_id %}<p class="text-right">{{ matter.client_reference_id }}</p>{% endif %}
        </div>
      </div>
      <div class="section">
        <h3>List of Charges and Credits</h3>
        {% if transactions %}
          <div class="table-container">
            <table class="table ledger">
              <tr>
                <th class="date">Date</th>
                <th class="transaction-type">Type</th>
                <th>Description</th>
                <th class="money">Amount</th>
                <th class="money">Balance</th>
              </tr>
              {% for transaction in transactions %}
                <tr>
                  <td class="date">{{ transaction.date|date:'Y-m-d' }}</td>
                  <td class="transaction-type">{{ transaction.transaction_type }}</td>
                  <td>{{ transaction.description }}</td>
                  {% if transaction.transaction_type == 'Charge' %}
                    <td class="money urgent">${{ transaction.amount|floatformat:2|intcomma }}</td>
                  {% else %}
                    <td class="money">-${{ transaction.amount|floatformat:2|intcomma }}</td>
                  {% endif %}
                  <td class="money">${{ transaction.balance|floatformat:2|intcomma }}</td>
                </tr>
              {% endfor %}
              <tr>
                {% if balance_due >= 0 %}
                  <td colspan="4">Balance Due</td>
                {% else %}
                  <td colspan="4">Surplus Funds</td>
                {% endif %}
                <td class="money balance-due">${{ balance_due|abs|floatformat:2|intcomma }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    {% else %}
      No transactions found.
    {% endif %}
    <div class="section trust-balance">
      <h3>Trust Account</h3>
      <table class="table ledger">
        <tr>
          <td>Funds on Retainer</td>
          <td class="money">${{ client_trust_balance|floatformat:2|intcomma }}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
