<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if outline %}
          Edit Outline
        {% else %}
          New Outline
        {% endif %}
      </h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="outline-form"
            hx-post="{% if outline %}{% url 'outlines:edit' outline.id %}{% else %}{% url 'outlines:add' %}{% endif %}"
            hx-target="#htmx-modal-container"
            class="form-compact col2 outline-form">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="outline-form" class="submit">Submit</button>
      {% if outline %}
        <a href="#"
           class="delete-link"
           hx-post="{% url 'outlines:delete' outline.id %}"
           hx-target="#htmx-modal-container"
           hx-confirm="Delete this outline and all its items?">Delete Outline</a>
      {% endif %}
    </div>
  </div>
</div>
