{% extends "base-minimal.html" %}
{% load static %}
{% block title %}
  {{ outline.title }} - LawAdmin
{% endblock title %}
{% block favicon %}
  <link rel="icon"
        type="image/svg+xml"
        href="{% static 'images/outline-favicon.svg' %}" />
{% endblock favicon %}
{% block content %}
  {% csrf_token %}
  <div class="outline-page standalone">
    <div class="outline-canvas">
      <div class="toolbar">
        <div class="toolbar-left">
          <h1>{{ outline.title }}</h1>
          {% if outline.matter %}<span class="app-badge app-badge-lg">{{ outline.matter.name }}</span>{% endif %}
        </div>
        <div class="toolbar-right">
          <a href="#"
             hx-get="{% url 'outlines:shortcuts' %}"
             hx-target="#htmx-modal-container"
             data-bs-toggle="modal"
             data-bs-target="#htmx-modal-container"
             title="Keyboard shortcuts">
            <i class="bi bi-keyboard"></i>
          </a>
          <a href="#" onclick="window.close(); return false;" title="Close">
            <i class="bi bi-x-lg"></i>
          </a>
        </div>
      </div>
      <div id="outline-tree"
           class="outline-tree"
           data-outline-id="{{ outline.id }}"
           hx-trigger="outlineChanged from:body"
           hx-get="{% url 'outlines:tree' outline.id %}"
           hx-target="this">{% include "outlines/tree.html" %}</div>
    </div>
  </div>
  <script src="{% static 'js/outlines.js' %}"></script>
{% endblock content %}
