<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Keyboard Shortcuts</h5>
      <button type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <table class="shortcuts-table">
        <tr>
          <th colspan="2">Navigation & Selection</th>
        </tr>
        <tr>
          <td>
            <kbd>↑</kbd> / <kbd>↓</kbd>
          </td>
          <td>Move focus up/down</td>
        </tr>
        <tr>
          <td>
            <kbd>Shift</kbd> + <kbd>↑</kbd> / <kbd>↓</kbd>
          </td>
          <td>Extend selection</td>
        </tr>
        <tr>
          <td>
            <kbd>Shift</kbd> + Click
          </td>
          <td>Select range</td>
        </tr>
        <tr>
          <td>
            <kbd>Enter</kbd>
          </td>
          <td>Edit focused item</td>
        </tr>
        <tr>
          <th colspan="2">Editing</th>
        </tr>
        <tr>
          <td>
            <kbd>Enter</kbd>
          </td>
          <td>Create new item below</td>
        </tr>
        <tr>
          <td>
            <kbd>Backspace</kbd>
          </td>
          <td>Delete empty item</td>
        </tr>
        <tr>
          <td>
            <kbd>Escape</kbd>
          </td>
          <td>Cancel editing</td>
        </tr>
        <tr>
          <th colspan="2">Indentation</th>
        </tr>
        <tr>
          <td>
            <kbd>Tab</kbd>
          </td>
          <td>Indent item</td>
        </tr>
        <tr>
          <td>
            <kbd>Shift</kbd> + <kbd>Tab</kbd>
          </td>
          <td>Outdent item</td>
        </tr>
        <tr>
          <th colspan="2">Reordering</th>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>↑</kbd>
          </td>
          <td>Move item up</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>↓</kbd>
          </td>
          <td>Move item down</td>
        </tr>
        <tr>
          <td>
            <kbd>Ctrl</kbd> + <kbd>Delete</kbd>
          </td>
          <td>Delete item</td>
        </tr>
      </table>
    </div>
  </div>
</div>
