Django==4.2.22
pytest==8.4.1
python-dateutil==2.9.0
google-api-python-client==2.136.0
Markdown==3.6
pytz==2024.1
django-environ==0.11.2
django-mathfilters==1.0.0
psycopg2-binary==2.9.10
setuptools==78.1.1
google-auth-oauthlib==0.4.6
black==24.4.2
pytest-django==4.8.0
pre-commit==3.7.1
weasyprint==66.0
django-cleanup==8.1.0
django-filter==24.3
pytest-xdist==3.8.0
