{% extends "registration/base.html" %}
{% block title %}
  Log In
{% endblock title %}
{% block content %}
  <div class="auth-container">
    <div class="auth-card">
      <div class="auth-title">{{ site_handle }}</div>
      <div class="auth-subtitle">Log in to your account</div>
      {% if error %}<div class="auth-error">{{ error }}</div>{% endif %}
      <form id="login-form" class="account-form" method="post">
        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
        {{ form.as_p }}
        <div class="auth-buttons justify-between">
          <a href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
