{% extends "registration/base.html" %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block "content" %}

<div class="auth-card">

  <div class="auth-title">{{ site_handle }}</div>

  <div class="auth-subtitle">
      Password Reset
  </div>

  <div class="prompt">
    Please enter the email address associated with your account.
  </div>

  <form id="password-reset-form" class="account-form" method="post">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Send</button>

  </form>

</div>

{% endblock "content" %}
