
{% extends "registration/base.html" %}

{% block title %}Password Reset Sent{% endblock %}

{% block content %}

<div class="auth-card">

  <div class="auth-title">{{ site_handle }}</div>

  <div class="auth-subtitle">
      Password Reset
  </div>

  <div class="reset-confirm">
    <p>
    The server has emailed you instructions for resetting your password. You should receive the email shortly.
    <p>
    If the email does not appear in your inbox, please check your <span class="spam-folder">spam folder</span>  and make sure you’ve entered the email address associated with your account.
  </div>

</div>

{% endblock content %}
