

{% extends "registration/base.html" %}

{% block title %}Password Reset Sent{% endblock title %}

{% block content %}

    <div class="auth-card">

        <div class="auth-title">{{ site_handle }}</div>

        <div class="auth-subtitle">
            Password Reset
        </div>

        <div class="reset-confirm reset-complete">
            <p>Your new password has been set.</p>
            <p>You may now <a href={% url 'accounts:login' %}>log in</a>.</p>
        </div>

    </div>

{% endblock content %}
