
{% extends "registration/base.html" %}

{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

  <div class="auth-card">

    <div class="auth-title">{{ site_handle }}</div>

    <div class="auth-subtitle">
        Set a new password
    </div>

    <form id="password-reset-confirm-form" class="account-form" method="post">

      {% csrf_token %}

      {{ form.as_p }}

      <button type="submit">Send</button>

    </form>

  </div>

{% else %}

  <div class="auth-card">

    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

  </div>

{% endif %}

{% endblock content %}
