{% extends "registration/base.html" %}
{% block title %}
  Sign Up
{% endblock title %}
{% block content %}
  <div class="auth-container">
    <div class="auth-card">
      <div class="auth-title">{{ site_handle }}</div>
      <div class="auth-subtitle"></div>
      <form class="account-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="auth-buttons justify-between">
          <a class="btn btn-secondary" href="{% url 'accounts:login' %}">Cancel</a>
          <button type="submit" class="btn btn-success">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
