<div class="card">
  <div class="folders">
    <div class="toolbar">
      <div class="toolbar-left">
        <h1>Folders</h1>
      </div>
      <div class="toolbar-right">
        <button class="button-link"
                hx-get="{% url 'checklists:folder-add' %}"
                hx-target="#htmx-modal-container"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="icon-plus"></i>
        </button>
        <button id="toggle-all-checklist-folders-btn"
                class="button-link"
                onclick="toggleAllChecklistFolders()"
                title="Expand/Collapse All">
          <i class="icon-chevrons-up-down"></i>
        </button>
      </div>
    </div>
    <ul class="list-group">
      <li class="folder-item-container list-group-item{% if not selected_checklist_folder and not all_folders_selected %} item-selected-highlight{% endif %}">
        <div>
          <span class="folder-caret-placeholder"></span>
          <i class="icon-inbox"></i>
          <a href="{% url 'checklists:folder-unsorted' %}">Inbox</a>
        </div>
      </li>
      <li class="folder-item-container list-group-item{% if all_folders_selected %} item-selected-highlight{% endif %}">
        <div>
          <span class="folder-caret-placeholder"></span>
          <i class="icon-folders"></i>
          <a href="{% url 'checklists:folder-all' %}">All Folders</a>
        </div>
      </li>
      {% for node in checklist_folder_tree %}
        {% include "checklists/folder.html" %}
      {% empty %}
        <li class="list-group-item empty-message">No folders found.</li>
      {% endfor %}
    </ul>
  </div>
</div>
