<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if template %}
          Edit Checklist Template
        {% else %}
          Add Checklist Template
        {% endif %}
      </h1>
      <div>
        <button type="button" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form id="checklist-template-form"
            hx-post="{{ request.path }}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact">
        {% csrf_token %}
        {{ form }}
      </form>
      {% if template %}
        <div id="template-items" class="template-items-section">{% include "checklists/template-items.html" %}</div>
      {% endif %}
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-secondary"
              @click="$dispatch('close-modal')">Close</button>
      <button type="submit" form="checklist-template-form" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
