{% extends "base.html" %}
{% block content %}
  <div class="sub-nav">
    <ul>
      <li {% if tab == "invoices" %}class="active"{% endif %}>
        <a href="{% url 'billing:set-tab' tab='invoices' %}">Invoices</a>
      </li>
      <li {% if tab == "payments" %}class="active"{% endif %}>
        <a href="{% url 'billing:set-tab' tab='payments' %}">Payments</a>
      </li>
    </ul>
  </div>
  {% if tab == "invoices" %}
    {% include "billing/list.html" %}
  {% elif tab == "payments" %}
    {% include "billing/payments/payment-list.html" %}
  {% endif %}
{% endblock content %}
