{% extends "base.html" %}
{% block content %}
  <div class="section">
    <div class="section-title">
      <div class="section-title-left">
        <h1>Invoices</h1>
      </div>
      <div class="section-title-right">
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'billing:add-invoice' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>
    </div>
    <div class="table-container">
      <table class="table invoices">
        <tr>
          <th class="number">Number</th>
          <th class="date">Issue Date</th>
          <th class="status">Status</th>
          <th>Matter</th>
          <th class="amount">Amount</th>
          <th class="pdf">PDF</th>
        </tr>
        {% for invoice in invoices %}
          {% include "billing/invoice-row.html" %}
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
