{% extends "base.html" %}
{% block content %}
  <div class="subnav">
    <ul>
      <li {% if subapp == "invoices" %}class="active"{% endif %}>
        <a href="{% url 'billing:invoices-list' %}">Invoices</a>
      </li>
      <li {% if subapp == "payments" %}class="active"{% endif %}>
        <a href="{% url 'billing:payments-list' %}">Payments</a>
      </li>
    </ul>
  </div>
  <div class="section subsection">
    {% block subcontent %}
    {% endblock subcontent %}
  </div>
{% endblock content %}
