{% block content %}
  {% load humanize %}
  <div class="section trust">
    <div class="toolbar">
      <div class="toolbar-left">
        <div class="filter-tools">
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'trust:add' %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-plus-lg"></i>
          </button>
          <a class="{% if page == "summary" %}toggle-active{% endif %}"
             href="{% url 'trust:index' %}">Summary</a>
          <a class="{% if page == "history" %}toggle-active{% endif %}"
             href="{% url 'trust:history-index' '30days' %}">History</a>
          <a class="{% if page == "client" %}toggle-active{% endif %}"
             href="{% url 'contacts:select' id=client.id %}">{{ client.name }}</a>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table id="transactions" class="trust-transactions">
        {% if transactions %}
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th class="amount">Withdrawal</th>
            <th class="amount">Deposit</th>
            <th class="check">C</th>
          </tr>
          {% for transaction in transactions %}
            <tr>
              <td class="date">{{ transaction.date|date:'Y-m-d' }}</td>
              <td class="note">
                <a href="#"
                   hx-get="/trust/{{ transaction.id }}/edit"
                   hx-target="#htmx-modal-container"
                   data-bs-toggle="modal"
                   data-bs-target="#htmx-modal-container">{{ transaction.description }}</a>
              </td>
              <td class="amount urgent">
                {% if transaction.type == 'Withdrawal' %}
                  $
                  {{ transaction.amount|intcomma }}
                {% endif %}
              </td>
              <td class="amount">
                {% if transaction.type == 'Deposit' %}
                  $
                  {{ transaction.amount|intcomma }}
                {% endif %}
              </td>
              <td class="check">
                <a href="#" hx-post={% url 'trust:confirmed' id=transaction.id %}>
                  {% if transaction.confirmed %}
                    <i class="bi bi-check-square"></i>
                  {% else %}
                    <i class="bi bi-square"></i>
                  {% endif %}
                </a>
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>
    <div class="flex-start-space">
      <br />
      <div class="totals-table">
        <table class="balances">
          <tr>
            <td>Pending Balance</td>
            <td class="numeric">${{ pending_client_balance|intcomma }}</td>
          </tr>
          <tr>
            <td>Confirmed Balance</td>
            <td class="numeric">
              <strong>${{ confirmed_client_balance|intcomma }}</strong>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
