{% block content %}
  {% load humanize %}
  <div class="trust">
    <div class="toolbar">
      <div class="toolbar-left">
        <div class="filter-tools">
          <div class="dropdown" x-data="dropdown()">
            <button type="button"
                    class="btn-icon"
                    x-ref="button"
                    @click="toggle()"
                    :aria-expanded="open">
              <i class="icon-plus"></i>
            </button>
            <ul class="dropdown-menu" x-ref="menu" x-show="open">
              <li>
                <a class="dropdown-item"
                   href="#"
                   hx-get="{% url 'trust:add-with-client' client.id %}"
                   hx-target="#htmx-modal-container"
                   hx-trigger="click"
                   data-bs-toggle="modal"
                   data-bs-target="#htmx-modal-container">Add Transaction</a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="#"
                   hx-get="{% url 'invoicing:requests-new-trust' %}?next=requests"
                   hx-target="#htmx-modal-container"
                   hx-trigger="click"
                   data-bs-toggle="modal"
                   data-bs-target="#htmx-modal-container">Request Deposit</a>
              </li>
            </ul>
          </div>
          <a class="{% if page == "summary" %}toggle-active{% endif %}"
             href="{% url 'trust:index' %}">Summary</a>
          <a class="{% if page == "history" %}toggle-active{% endif %}"
             href="{% url 'trust:history-index' '30days' %}">History</a>
          <a class="{% if page == "client" %}toggle-active{% endif %}"
             href="{% url 'contacts:select' contact_id=client.id %}">{{ client.name }}</a>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table id="transactions" class="trust-transactions">
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th class="method">Method</th>
          <th class="amount">Withdrawal</th>
          <th class="amount">Deposit</th>
          <th class="check">C</th>
        </tr>
        {% for transaction in transactions %}
          <tr>
            <td class="date">{{ transaction.date|date:'Y-m-d' }}</td>
            <td class="note">
              <a href="#"
                 hx-get="{% url 'trust:edit' id=transaction.id %}"
                 hx-target="#htmx-modal-container"
                 data-bs-toggle="modal"
                 data-bs-target="#htmx-modal-container">{{ transaction.description }}</a>
            </td>
            <td class="method">{{ transaction.get_method_display }}</td>
            <td class="amount urgent">
              {% if transaction.type == 'Withdrawal' %}
                $
                {{ transaction.amount|intcomma }}
              {% endif %}
            </td>
            <td class="amount">
              {% if transaction.type == 'Deposit' %}
                $
                {{ transaction.amount|intcomma }}
              {% endif %}
            </td>
            <td class="check">
              <a href="#" hx-post={% url 'trust:confirmed' id=transaction.id %}>
                {% if transaction.confirmed %}
                  <i class="icon-square-check"></i>
                {% else %}
                  <i class="icon-square"></i>
                {% endif %}
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6" class="empty-message">No trust transactions found for this client.</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="flex-start-space">
      <br />
      <div class="totals-table">
        <table class="balances">
          <tr>
            <td>Pending Balance</td>
            <td class="numeric">${{ pending_client_balance|intcomma }}</td>
          </tr>
          <tr>
            <td>Confirmed Balance</td>
            <td class="numeric">
              <strong>${{ confirmed_client_balance|intcomma }}</strong>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
