<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if edit %}
          Edit Transaction
        {% else %}
          Add Transaction
        {% endif %}
      </h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="transaction-form"
            hx-post="{{ action }}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact col2">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      {% if edit %}
        <button type="button"
                class="btn btn-danger"
                hx-confirm='Are you sure you want to delete this record?'
                hx-delete="{% url 'trust:delete' id=transaction.id %}"
                hx-target="#htmx-modal-container">Delete Transaction</button>
      {% else %}
        <button type="button"
                class="btn btn-secondary"
                @click="$dispatch('close-modal')">Cancel</button>
      {% endif %}
      <button type="submit" form="transaction-form" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
