
{% extends "base.html" %}
{% block "content" %}

<h1>

    {% if edit %}
      Edit Transaction
    {% else %}
	    Add Transaction
    {% endif %}

</h1>

<form id="transaction" action="{{ action }}" method="post">

  {% csrf_token %}

	{% if edit %}

    <div class="delete">

      <a
        onclick="return confirm('Are you sure you want to delete this record?')"
        href="/trust/{{ transaction.id }}/delete"
      >
        Delete Transaction
      </a>

    </div>

  {% endif %}


	<table>

    {{ form.as_table }}

		<tr>

			<td>

			<td>
        <input type="submit" value="Submit">

	</table>
</form>

{% endblock "content" %}
