{% block content %}
  {% load humanize %}
  <div class="section trust">
    <div class="toolbar">
      <div class="toolbar-left">
        <div class="filter-tools">
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'trust:add' %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-plus-lg"></i>
          </button>
          <a class="{% if page == "summary" %}toggle-active{% endif %}"
             href="{% url 'trust:index' %}">Summary</a>
          <a class="{% if page == "history" %}toggle-active{% endif %}"
             href="{% url 'trust:history-index' '30days' %}">History</a>
          <a class="{% if interval == "30days" %}toggle-active{% endif %}"
             href="{% url 'trust:history-index' interval='30days' %}">30 days</a>
          <a class="{% if interval == "60days" %}toggle-active{% endif %}"
             href="{% url 'trust:history-index' interval='60days' %}">60 days</a>
          <a class="{% if interval == "all" %}toggle-active{% endif %}"
             href="{% url 'trust:history-index' interval='all' %}">All</a>
        </div>
      </div>
      <div class="toolbar-right"></div>
    </div>
    <div class="table-container">
      <table class="trust-transactions">
        <tr>
          <th class="client-id">Client ID</th>
          <th class="date">Date</th>
          <th class="client">Client</th>
          <th class="note">Description</th>
          <th class="amount">Withdrawal</th>
          <th class="amount">Deposit</th>
          <th class="check">C</th>
        </tr>
        {% for transaction in transactions %}
          <tr>
            <td class="client-id">{{ transaction.contact_id }}</td>
            <td class="date">{{ transaction.date|date:'Y-m-d' }}</td>
            <td class="client">
              <a href={% url 'trust:client-index' id=transaction.contact_id %}>{{ transaction.contact.name }}</a>
            </td>
            <td class="note">
              <a href="#"
                 hx-get="/trust/{{ transaction.id }}/edit"
                 hx-target="#htmx-modal-container"
                 data-bs-toggle="modal"
                 data-bs-target="#htmx-modal-container">{{ transaction.description }}</a>
            </td>
            <td class="amount urgent">
              {% if transaction.type == 'Withdrawal' %}
                $
                {{ transaction.amount|intcomma }}
              {% endif %}
            </td>
            <td class="amount">
              {% if transaction.type == 'Deposit' %}
                $
                {{ transaction.amount|intcomma }}
              {% endif %}
            </td>
            <td class="check">
              <a href="#" hx-post={% url 'trust:confirmed' id=transaction.id %}>
                {% if transaction.confirmed %}
                  <i class="bi bi-check-square"></i>
                {% else %}
                  <i class="bi bi-square"></i>
                {% endif %}
              </a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="7" class="empty-message">No trust transactions found.</td>
          </tr>
        {% endfor %}
      </table>
      <div class="flex-start-space">
        <div>{% include "pagination.html" %}</div>
        <div class="totals-table">
          <table id="balances">
            <tr>
              <td>Pending Balance</td>
              <td class="numeric">${{ pending_account_balance|intcomma }}</td>
            </tr>
            <tr>
              <td>Confirmed Balance</td>
              <td class="numeric">
                <strong>${{ confirmed_account_balance|intcomma }}</strong>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
