{% block content %}
  {% load humanize %}
  <div class="trust">
    <div class="toolbar">
      <div class="toolbar-left">
        <div class="filter-tools">
          <div class="dropdown" x-data="dropdown()">
            <button type="button"
                    class="btn-icon"
                    x-ref="button"
                    @click="toggle()"
                    :aria-expanded="open">
              <i class="icon-plus"></i>
            </button>
            <ul class="dropdown-menu" x-ref="menu" x-show="open">
              <li>
                <a class="dropdown-item"
                   href="#"
                   hx-get="{% url 'trust:add' %}"
                   hx-target="#htmx-modal-container"
                   hx-trigger="click"
                   data-bs-toggle="modal"
                   data-bs-target="#htmx-modal-container">Add Transaction</a>
              </li>
              <li>
                <a class="dropdown-item"
                   href="#"
                   hx-get="{% url 'invoicing:requests-new-trust' %}?next=requests"
                   hx-target="#htmx-modal-container"
                   hx-trigger="click"
                   data-bs-toggle="modal"
                   data-bs-target="#htmx-modal-container">Request Deposit</a>
              </li>
            </ul>
          </div>
          <a class="{% if page == "summary" %}toggle-active{% endif %}"
             href="{% url 'trust:index' %}">Summary</a>
          <a class="{% if page == "history" %}toggle-active{% endif %}"
             href="{% url 'trust:history-index' '30days' %}">History</a>
        </div>
      </div>
      <div class="toolbar-right"></div>
    </div>
    <table class="trust-summary">
      <tr>
        <th class="client-id">Client ID</th>
        <th>
          Client
          <button class="btn-sort {% if current_order == 'name' %}active{% endif %}"
                  hx-post="{% url 'trust:order-by' 'name' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="numeric">
          Pending Balance
          <button class="btn-sort {% if current_order == 'pending_client_balance' %}active{% endif %}"
                  hx-post="{% url 'trust:order-by' 'pending_client_balance' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="numeric">
          Confirmed Balance
          <button class="btn-sort {% if current_order == 'confirmed_client_balance' %}active{% endif %}"
                  hx-post="{% url 'trust:order-by' 'confirmed_client_balance' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="numeric">
          Clearance
          <button class="btn-sort {% if current_order == 'clearance' %}active{% endif %}"
                  hx-post="{% url 'trust:order-by' 'clearance' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
      </tr>
      {% if contacts %}
        {% for contact in contacts %}
          <tr>
            <td class="client-id">{{ contact.id }}</td>
            <td class="name">
              <a href={% url 'trust:client-index' id=contact.id %}>{{ contact.name }}</a>
            </td>
            <td class="numeric {% if contact.pending_client_balance != contact.confirmed_client_balance %}urgent{% endif %}">
              ${{ contact.pending_client_balance|intcomma }}
            </td>
            <td class="numeric">${{ contact.confirmed_client_balance|intcomma }}</td>
            <td class="numeric clearance{% if contact.clearance < 0 %} is-negative{% endif %}">
              ${{ contact.clearance|intcomma }}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
      {% if contacts %}
        <tr class="total">
          <th>Total</th>
          <td></td>
          <td class="numeric">${{ pending_account_balance|intcomma }}</td>
          <td class="numeric">${{ confirmed_account_balance|intcomma }}</td>
          <td class="numeric">${{ total_clearance|intcomma }}</td>
        </tr>
      {% endif %}
    </table>
    {% include "pagination.html" %}
  </div>
{% endblock content %}
