{% block content %}
  {% load humanize %}
  <div class="section trust">
    <div class="section-title">
      <div class="section-title-left">
        <h1>Account Summary</h1>
        <div class="table-filter">
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'trust:add' %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-plus-lg"></i>
          </button>
          <a href={% url 'trust:history-index' '30days' %}>History</a>
        </div>
      </div>
      <div class="section-title-right"></div>
    </div>
    <table class="trust-summary">
      <tr>
        <th>Client</th>
        <th class="numeric">Pending Balance</th>
        <th class="numeric">Confirmed Balance</th>
      </tr>
      {% if contacts %}
        {% for contact in contacts %}
          <tr>
            <td class="name">
              <a href={% url 'trust:client-index' id=contact.id %}>{{ contact.name }}</a>
            </td>
            <td class="numeric {% if contact.pending_client_balance != contact.confirmed_client_balance %}urgent{% endif %}">
              ${{ contact.pending_client_balance|intcomma }}
            </td>
            <td class="numeric">${{ contact.confirmed_client_balance|intcomma }}</td>
          </tr>
        {% endfor %}
      {% endif %}
      {% if contacts %}
        <tr>
          <td class="total">Total</td>
          <td class="numeric total">${{ pending_account_balance|intcomma }}</td>
          <td class="numeric total">${{ confirmed_account_balance|intcomma }}</td>
        </tr>
      {% endif %}
    </table>
    {% include "pagination.html" %}
  </div>
{% endblock content %}
