<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Are you sure you want to cancel this invoice?</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="cancel-invoice-form"
            class="invoices-cancel-form"
            method="post"
            action="{% url 'invoicing:invoices-status-update' invoice.id %}">
        <input type="hidden" name="status" value="CANCELED">
        {% csrf_token %}
        <label for="userInput">Type 'CANCEL' to confirm:</label>
        <input type="text" id="userInput" oninput="updateText()">
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit"
              form="cancel-invoice-form"
              class="submit disabled-btn"
              disabled>Submit</button>
    </div>
  </div>
</div>
