<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Edit Invoice</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <h2>{{ invoice.matter }}</h2>
      <br />
      <form id="invoice-edit-form"
            hx-post="{% url 'invoicing:invoices-edit' invoice.id %}"
            hx-target="#htmx-modal-container"
            class="form-compact col2">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="invoice-edit-form" class="submit">Submit</button>
      <a class="delete-link confirm"
         data-confirm-title="Delete Invoice"
         data-confirm-message="Are you sure you want to delete this invoice?"
         data-confirm-text="Delete"
         href="{% url 'invoicing:invoices-delete' invoice.id %}">Delete Invoice</a>
    </div>
  </div>
</div>
