{% block subcontent %}
  <div class="toolbar">
    <div class="toolbar-left">
      <div class="filter-tools">
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'invoicing:invoices-add' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="icon-plus"></i>
        </button>
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'invoicing:invoices-filter' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="icon-list-filter"></i>Filter
        </button>
        <a type="button"
           class="btn-icon {% if selected_status == "DRAFT" %}toggle-active{% endif %}"
           href="#"
           hx-post="{% url 'invoicing:invoices-filter-status' "DRAFT" %}">Draft</a>
        <a type="button"
           href="#"
           class="btn-icon {% if selected_status == "APPROVED" %}toggle-active{% endif %}"
           hx-post="{% url 'invoicing:invoices-filter-status' "APPROVED" %}">Approved</a>
        <a type="button"
           href="#"
           class="btn-icon {% if selected_status == "SENT" %}toggle-active{% endif %}"
           hx-post="{% url 'invoicing:invoices-filter-status' "SENT" %}">Sent</a>
        <a type="button"
           href="#"
           class="btn-icon {% if selected_status == "DEFERRED" %}toggle-active{% endif %}"
           hx-post="{% url 'invoicing:invoices-filter-status' "DEFERRED" %}">Deferred</a>
        <a type="button"
           href="#"
           class="btn-icon {% if selected_status == "PAID" %}toggle-active{% endif %}"
           hx-post="{% url 'invoicing:invoices-filter-status' "PAID" %}">Paid</a>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table invoices">
      <tr>
        <th class="invoice-id">ID</th>
        <th class="date">
          Issue Date
          <button class="btn-sort {% if current_order == 'date_issued' %}active{% endif %}"
                  hx-get="{% url 'invoicing:invoices-order-by' 'date_issued' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="matter">
          Matter
          <button class="btn-sort {% if current_order == 'matter' %}active{% endif %}"
                  hx-get="{% url 'invoicing:invoices-order-by' 'matter' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="status">
          Status
          <button class="btn-sort {% if current_order == 'status' %}active{% endif %}"
                  hx-get="{% url 'invoicing:invoices-order-by' 'status' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="amount">Fees</th>
        <th class="amount">Expenses</th>
        <th class="amount amount-total">
          Total
          <button class="btn-sort {% if current_order == 'total' %}active{% endif %}"
                  hx-get="{% url 'invoicing:invoices-order-by' 'total' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="amount amount-due">
          Amount Due
          <button class="btn-sort {% if current_order == 'amount_due' %}active{% endif %}"
                  hx-get="{% url 'invoicing:invoices-order-by' 'amount_due' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="download">
          <i class="icon-download"></i>
        </th>
      </tr>
      {% for invoice in objects %}
        {% include "invoicing/invoices/row.html" %}
      {% empty %}
        <tr>
          <td colspan="9" class="empty-message">No invoices found.</td>
        </tr>
      {% endfor %}
    </table>
    <div class="flex-start-space">
      <div>{% include "pagination.html" %}</div>
      {% include "invoicing/invoices/summary.html" %}
    </div>
  </div>
{% endblock subcontent %}
