{% load humanize %}
<tr id="invoice-{{ invoice.id }}">
  <td class="number">
    <a href="{% url 'invoicing:invoices-detail-index' invoice.id %}">{{ invoice.id }}</a>
  </td>
  <td class="date">{{ invoice.date_issued|date:"Y-m-d" }}</td>
  <td class="matter">
    <a href="{% url 'matters:ledger' id=invoice.matter.id|default:0 %}">{{ invoice.matter.name }}</a>
  </td>
  <td class="status dropdown-cell">{% include "invoicing/invoices/status.html" %}</td>
  <td class="amount">${{ invoice.annotated_net_fees|floatformat:2|intcomma }}</td>
  <td class="amount">${{ invoice.annotated_net_expenses|floatformat:2|intcomma }}</td>
  <td class="amount total">${{ invoice.annotated_final_total|floatformat:2|intcomma }}</td>
  <td class="amount">
    $
    {% if invoice.status == "PAID" and invoice.annotated_payments == 0 and invoice.annotated_credits == 0 %}
      0.00
    {% else %}
      {{ invoice.annotated_amount_remaining|floatformat:2|intcomma }}
    {% endif %}
  </td>
  <td class="download dropdown-cell">
    <div class="dropdown" x-data="dropdown()">
      <button class="button-link"
              type="button"
              x-ref="button"
              @click="toggle()"
              :aria-expanded="open">
        <i class="icon-download"></i>
      </button>
      <ul class="dropdown-menu" x-ref="menu" x-show="open">
        <li>
          <a class="dropdown-item"
             target="_blank"
             href="{% url 'invoicing:invoices-pdf-download' invoice.id %}"><i class="icon-file-pdf"></i> Download PDF</a>
        </li>
        <li>
          <a class="dropdown-item"
             target="_blank"
             href="{% url 'invoicing:invoice-ledes' invoice.id %}"><i class="icon-file-text"></i> Download Ledes</a>
        </li>
      </ul>
    </div>
  </td>
</tr>
