{% load humanize %}
<tr id="invoice-{{ invoice.id }}">
  <td class="number">
    <a href="{% url 'invoicing:invoices-detail-index' invoice.id %}">{{ invoice.id }}</a>
  </td>
  <td class="date">{{ invoice.date_issued|date:"Y-m-d" }}</td>
  <td class="matter">
    <a href="{% url 'matters:ledger' id=invoice.matter.id|default:0 %}">{{ invoice.matter.name|truncatechars:32 }}</a>
  </td>
  <td class="status">{% include "invoicing/invoices/status.html" %}</td>
  <td class="amount">${{ invoice.value.net_fees|floatformat:2|intcomma }}</td>
  <td class="amount">${{ invoice.value.net_expenses|floatformat:2|intcomma }}</td>
  <td class="amount total">${{ invoice.value.final_total|floatformat:2|intcomma }}</td>
  <td class="download">
    <div class="dropdown">
      <button class="button-link"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        <i class="bi bi-download"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item"
             target="_blank"
             href="{% url 'invoicing:invoices-pdf-download' invoice.id %}">Download PDF</a>
        </li>
        <li>
          <a class="dropdown-item"
             target="_blank"
             href="{% url 'invoicing:invoice-ledes' invoice.id %}">Download Ledes</a>
        </li>
      </ul>
    </div>
  </td>
</tr>
