{% load humanize %}
<div class="totals-table">
  <table>
    <tr>
      <td>Total Fees</td>
      <td class="numeric">${{ total_fees|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <td>Total Expenses</td>
      <td class="numeric">${{ total_expenses|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <td>Total Charges</td>
      <td class="numeric">${{ total|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <th>Total Amount Due</th>
      <td class="numeric total">${{ total_amount_due|floatformat:2|intcomma }}</td>
    </tr>
  </table>
</div>
