<tr id="fact-{{ fact.id }}">
  <td class="date-time{% if fact.color %} fact-color-{{ fact.color|lower }}{% endif %}">
    <a href="#"
       type="button"
       class="btn-icon"
       hx-get="/matters/{{ matter.id }}/timeline/{{ fact.id }}/edit"
       hx-target="#htmx-modal-container"
       hx-trigger="click"
       data-bs-toggle="modal"
       data-bs-target="#htmx-modal-container">{{ fact.date|date:'Y-m-d' }} {{ fact.time|time:'g:i A' }}</a>
  </td>
  <td id="show-fact-description-{{ fact.id }}"
      class="description{% if fact.color %} fact-color-{{ fact.color|lower }}{% endif %}">
    <a class="button-link show-description-form-button"
       href="#"
       hx-target="#show-fact-description-{{ fact.id }}"
       hx-swap="innerHTML"
       hx-get="{% url 'matters:timeline-edit-description' matter_id=matter.id fact_id=fact.id %}">{{ fact.description }}</a>
  </td>
  <td id="show-fact-citations-{{ fact.id }}"
      class="citations{% if fact.color %} fact-color-{{ fact.color|lower }}{% endif %}">
    <a class="button-link show-citations-form-button"
       href="#"
       hx-target="#show-fact-citations-{{ fact.id }}"
       hx-swap="innerHTML"
       hx-get="{% url 'matters:timeline-edit-citations' matter_id=matter.id fact_id=fact.id %}">{{ fact.citations|default_if_none:'' }}</a>
  </td>
</tr>
