{% extends "matters/detail.html" %}
{% block subcontent %}
  <div class="section-title">
    <div class="section-title-left">
      <h2>Timeline</h2>
      <div class="section-title-left-right">
        <button hx-get="/matters/{{ matter.id }}/timeline/add"
                hx-target="#htmx-modal-container"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table timeline-list">
      {% if facts %}
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Citation</th>
        </tr>
        {% for fact in facts %}
          <tr>
            <td class="date {% if fact.emphasis == 'Yes' %}strong{% endif %}">{{ fact.date|date:'Y-m-d' }}</td>
            <td class="description {% if fact.emphasis == 'Yes' %}strong{% endif %}">
              <a href="#"
                 type="button"
                 class="btn-icon"
                 hx-get="/matters/{{ matter.id }}/timeline/{{ fact.id }}/edit"
                 hx-target="#htmx-modal-container"
                 hx-trigger="click"
                 data-bs-toggle="modal"
                 data-bs-target="#htmx-modal-container">{{ fact.description }}</a>
            </td>
            <td class="citation {% if fact.emphasis == 'Yes' %}strong{% endif %}">
              {{ fact.citation|slice:":25"|default_if_none:'' }}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </div>
{% endblock subcontent %}
