{% block subcontent %}
  <div class="toolbar">
    <div class="toolbar-left">
      <h2>Timeline</h2>
      <div class="filter-tools">
        <button hx-get="/matters/{{ matter.id }}/timeline/add"
                hx-target="#htmx-modal-container"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
        <form class="filter-form"
              hx-get="/matters/{{ matter.id }}/timeline/list"
              hx-target="#timeline-container"
              hx-trigger="change, keyup delay:500ms from:input[name='keyword']">
          <label for="date_start">From</label>
          <input type="date"
                 id="date_start"
                 name="date_start"
                 placeholder="Start Date"
                 value="{{ request.GET.date_start }}"
                 class="filter-input">
          <label for="date_end">To</label>
          <input type="date"
                 id="date_end"
                 name="date_end"
                 placeholder="End Date"
                 value="{{ request.GET.date_end }}"
                 class="filter-input">
          <label for="keyword">Search</label>
          <input type="text"
                 name="keyword"
                 value="{{ request.GET.keyword }}"
                 class="filter-input">
        </form>
      </div>
    </div>
    <div class="toolbar-right">
      {% if facts %}
        <a href="{% url 'matters:timeline-pdf' matter.id %}"
           target="_blank"
           type="button"
           class="btn-icon">Download PDF</a>
      {% endif %}
    </div>
  </div>
  <div id="timeline-container"
       hx-trigger="matterTimelineChanged from:body"
       hx-get="{% url 'matters:timeline' matter.id %}"
       hx-target="this"
       hx-swap="innerHTML">{% include "matters/timeline/table.html" %}</div>
{% endblock subcontent %}
