{% extends "print.html" %}
{% block content %}
  <div class="page-title">{{ matter.name }} - Case Timeline</div>
  <table class="table timeline-list">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Citation</th>
    </tr>
    {% if facts %}
      {% for fact in facts %}
        <tr>
          <td class="date {% if fact.emphasis == 'Yes' %}strong{% endif %}">{{ fact.date|date:'Y-m-d' }}</td>
          <td class="description {% if fact.emphasis == 'Yes' %}strong{% endif %}">{{ fact.description }}</td>
          <td class="citation {% if fact.emphasis == 'Yes' %}strong{% endif %}">
            {{ fact.citation|slice:":25"|default_if_none:'' }}
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </table>
{% endblock content %}
