{% load humanize %}
{% load static %}
{% load cache_buster %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{{ matter.name }} - Timeline</title>
    <link rel="shortcut icon" href={% static 'images/briefcase-fill.svg' %} />
    <link rel="stylesheet" href={% static_v 'css/pdf/general.css' %} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />
  </head>
  <body>
    <div class="template">
      <div class="section">
        <h3>{{ matter.name }} - Timeline</h3>
        <div class="table-container">
          <table class="table timeline-list">
            {% if facts %}
              <tr>
                <th>Date</th>
                <th>Description</th>
              </tr>
              {% for fact in facts %}
                <tr>
                  <td class="date-time {% if fact.emphasis == 'Yes' %}strong{% endif %}">{{ fact.date|date:'Y-m-d' }}</td>
                  <td class="description {% if fact.emphasis == 'Yes' %}strong{% endif %}">
                    {{ fact.description }}&nbsp;&nbsp;
                    {% if fact.citation %}({{ fact.citation|slice:":25"|default_if_none:'' }}.){% endif %}
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
