<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Filter Invoices</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-responsive filter"
            hx-target="#htmx-modal-container"
            hx-post="{% url 'billing:invoices-filter' %}">
        {% csrf_token %}
        {{ filter.form }}
        <br />
        <div class="flex-center-space limited-width">
          <button type="submit" class="submit">Apply</button>
          <a class="btn-icon"
             href="#"
             hx-post="{% url 'management:clear-filters' session_key='invoices_filter' trigger='invoicesChanged' %}">Restore Defaults</a>
        </div>
      </form>
    </div>
  </div>
</div>
