{% extends "billing/list.html" %}
{% block subcontent %}
  <div class="section-title">
    <div class="section-title-left">
      <h1>Invoices</h1>
      <div class="table-filter">
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'billing:invoices-add' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'billing:invoices-filter' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">Filter</button>
        <form action="{% url 'billing:invoices-filter-status' %}" method="post">
          {% csrf_token %}
          <select class="select-user" name="status" onchange="this.form.submit()">
            <option value="">All</option>
            {% for option in status_options %}
              <option value="{{ option.0 }}"
                      {% if option.0 == selected_status %}selected{% endif %}>{{ option.1 }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table invoices">
      <tr>
        <th class="invoice-id">ID</th>
        <th class="date">
          Issue Date
          <a href="{% url 'billing:invoices-order-by' 'date_issued' %}">
            <i class="bi bi-chevron-expand"></i>
          </a>
        </th>
        <th>
          Matter
          <a href="{% url 'billing:invoices-order-by' 'matter' %}">
            <i class="bi bi-chevron-expand"></i>
          </a>
        </th>
        <th class="status">
          Status
          <a href="{% url 'billing:invoices-order-by' 'status' %}">
            <i class="bi bi-chevron-expand"></i>
          </a>
        </th>
        <th class="amount">Fees</th>
        <th class="amount">Expenses</th>
        <th class="amount">Total</th>
      </tr>
      {% for invoice in objects %}
        {% include "billing/invoices/row.html" %}
      {% endfor %}
    </table>
    <div class="flex-start-space">
      <div>{% include "pagination.html" %}</div>
      {% include "billing/invoices/summary.html" %}
    </div>
  </div>
{% endblock subcontent %}
