{% load humanize %}
<tr id="invoice-{{ invoice.id }}">
  <td class="number">
    <a href={% url 'billing:invoices-detail' invoice.id %}>{{ invoice.id }}</a>
  </td>
  <td class="date">{{ invoice.date_issued|date:"Y-m-d" }}</td>
  <td class="status">
    <a href="#"
       class="pointer"
       data-bs-toggle="dropdown"
       aria-expanded="false">{{ invoice.status_display }}</a>
    <ul class="dropdown-menu" aria-labelledby="invoiceDropdown">
      {% if invoice.status == 'DRAFT' %}
        <li>
          <form hx-post="{% url 'billing:invoices-status-update' invoice.id %}"
                hx-target="#invoice-{{ invoice.id }}"
                hx-swap="outerHTML">
            <input type="hidden" name="status" value="APPROVED">
            <button type="submit" class="dropdown-item">Approved</button>
          </form>
        </li>
      {% endif %}
      {% if invoice.status == 'APPROVED' %}
        <li>
          <form hx-post="{% url 'billing:invoices-status-update' invoice.id %}"
                hx-target="#invoice-{{ invoice.id }}"
                hx-swap="outerHTML">
            <input type="hidden" name="status" value="SENT">
            <button type="submit" class="dropdown-item">Sent</button>
          </form>
        </li>
      {% endif %}
      {% if invoice.status == 'SENT' %}
        <li>
          <form hx-post="{% url 'billing:invoices-status-update' invoice.id %}"
                hx-target="#invoice-{{ invoice.id }}"
                hx-swap="outerHTML">
            <input type="hidden" name="status" value="APPROVED">
            <button type="submit" class="dropdown-item">Approved</button>
          </form>
        </li>
        <li>
          <form hx-post="{% url 'billing:invoices-status-update' invoice.id %}"
                hx-target="#invoice-{{ invoice.id }}"
                hx-swap="outerHTML">
            <input type="hidden" name="status" value="PAID">
            <button type="submit" class="dropdown-item">Paid</button>
          </form>
        </li>
        <li>
          <form hx-post="{% url 'billing:invoices-status-update' invoice.id %}"
                hx-target="#invoice-{{ invoice.id }}"
                hx-swap="outerHTML">
            <input type="hidden" name="status" value="WAIVED">
            <button type="submit" class="dropdown-item">Waived</button>
          </form>
        </li>
        <li class="dropdown-item invoices-delete pointer"
            hx-get="{% url 'billing:invoices-cancel' invoice.id %}"
            hx-target="#htmx-modal-container"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#htmx-modal-container">Canceled</li>
      {% endif %}
      {% if invoice.status == 'PAID' or invoice.status == 'WAIVED' %}
        <li>
          <form hx-post="{% url 'billing:invoices-status-update' invoice.id %}"
                hx-target="#invoice-{{ invoice.id }}"
                hx-swap="outerHTML">
            <input type="hidden" name="status" value="SENT">
            <button type="submit" class="dropdown-item">Sent</button>
          </form>
        </li>
      {% endif %}
      {% if invoice.status != 'SENT' and invoice.status != 'WAIVED' and invoice.status != 'PAID' %}
        <li>
          <a onclick="return confirm('Are you sure you want to delete this invoice?')"
             class="dropdown-item invoices-delete"
             href="{% url 'billing:invoices-delete' invoice.id %}">Delete</a>
        </li>
      {% endif %}
    </ul>
  </td>
  <td>
    <a href={% url 'matters:detail' id=invoice.matter.id %}>{{ invoice.matter.name|slice:":20" }}</a>
  </td>
  <td class="amount">${{ invoice.amount|floatformat:2|intcomma }}</td>
  <td class="pdf">
    <a target="_blank" href="{% url 'billing:invoices-pdf' invoice.id %}">
      <i class="bi bi-download"></i>
    </a>
  </td>
</tr>
