{% load humanize %}
<tr id="invoice-{{ invoice.id }}">
  <td class="number">
    <div class="dropdown">
      <button class="button-link"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">{{ invoice.id }}</button>
      <ul class="dropdown-menu">
        <li>
          <a target="_blank" href="{% url 'billing:invoices-pdf' invoice.id %}">Download PDF</a>
        </li>
        <li>
          <a href={% url 'billing:invoices-detail' invoice.id %}>Detail</a>
        </li>
        <li>
          <a href="#"
             hx-get="{% url 'billing:invoices-edit' invoice.id %}"
             hx-target="#htmx-modal-container"
             hx-trigger="click"
             data-bs-toggle="modal"
             data-bs-target="#htmx-modal-container"
             hx-swap="innerHTML">Edit</a>
        </li>
      </ul>
    </div>
  </td>
  <td class="date">{{ invoice.date_issued|date:"Y-m-d" }}</td>
  <td>
    <a href={% url 'matters:detail' id=invoice.matter.id %}>{{ invoice.matter.name|slice:":20" }}</a>
  </td>
  <td class="status">{% include "billing/invoices/status.html" %}</td>
  <td class="amount">${{ invoice.value.net_fees|floatformat:2|intcomma }}</td>
  <td class="amount">${{ invoice.value.net_expenses|floatformat:2|intcomma }}</td>
  <td class="amount">${{ invoice.value.final_total|floatformat:2|intcomma }}</td>
</tr>
