<div class="dropdown">
  <button class="button-link"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ invoice.status_display }}</button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'billing:invoices-edit-status' pk=invoice.id status='DRAFT' %}">Draft</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'billing:invoices-edit-status' pk=invoice.id status='APPROVED' %}">Approved</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'billing:invoices-edit-status' pk=invoice.id status='SENT' %}">Sent</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'billing:invoices-edit-status' pk=invoice.id status='PAID' %}">Paid</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'billing:invoices-edit-status' pk=invoice.id status='WAIVED' %}">Waived</a>
    </li>
  </ul>
</div>
