{% extends "base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-4">
      <div class="section">
        <div class="section-title">
          <div class="section-title-left">
            <h1>{{ intake.name }}</h1>
          </div>
          <div class="section-title-right">
            {% if contact %}
              <a href={% url 'contacts:select' id=contact.id %}>
                <i class="bi bi-person-check"></i>
              </a>
            {% else %}
              <a href={% url 'contacts:add-intake' id=intake.id %}>
                <i class="bi bi-person-plus"></i>
              </a>
            {% endif %}
            <a href="#"
               type="button"
               class="btn-icon"
               hx-get="/intakes/{{ intake.id }}/edit"
               hx-target="#htmx-modal-container"
               hx-trigger="click"
               data-bs-toggle="modal"
               data-bs-target="#htmx-modal-container">
              <i class="bi bi-pencil"></i>
            </a>
          </div>
        </div>
        <div class="intake-section details">
          <div hx-get="/intakes/{{ intake.id }}/data"
               hx-trigger="load, dbUpdate from:body"></div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="section intake-notes">
        <div class="section-title">
          <div class="section-title-left">
            <h1>Notes</h1>
            <div class="table-filter">
              <a href="#"
                 type="button"
                 class="btn-icon"
                 hx-get="/intakes/{{ intake.id }}/add-note"
                 hx-target="#htmx-modal-container"
                 hx-trigger="click"
                 data-bs-toggle="modal"
                 data-bs-target="#htmx-modal-container">
                <i class="bi bi-plus-lg"></i>
              </a>
            </div>
          </div>
          <div class="section-title-right"></div>
        </div>
        {% if notes %}
          {% for note in notes %}
            <div class="intake-note">
              <div class="intake-note-title">
                <div class="intake-note-title-left">
                  <a href="#"
                     type="button"
                     class="btn-icon"
                     hx-get="/intakes/{{ note.id }}/edit-note"
                     hx-target="#htmx-modal-container"
                     hx-trigger="click"
                     data-bs-toggle="modal"
                     data-bs-target="#htmx-modal-container">
                    <span class="intake-note-date-time">{{ note.date|date:'Y-m-d' }} {{ note.time|time:'g:i A' }}</span>
                  </a>
                  <span class="intake-note-username">{{ note.user.username|title }}</span>
                  <span class="intake-note-type">{{ note.type }}</span>
                </div>
                <div class="intake-note-title-right"></div>
              </div>
              <div class="intake-note-details">{{ note.details|safe }}</div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
