{% load phone_numbers %}

<table class="intake-details">

    <tr>
        <td class="strong">Email</td>
        <td>{{ intake.email|default:'' }}</td>
    </tr>

    <tr>
        <td class="strong">Phone</td>
        <td>{{ intake.phone|phone_number|default:'' }}</td>
    </tr>

    <tr>
        <td class="strong">Address</td>
        <td>{% if intake.address %}{{ intake.address|linebreaks }}{% endif %}</td>
    </tr>

</table>

<table class="intake-details">

    <tr>
        <td class="strong">Status</td>
        <td>{{ intake.status }}</td>
    </tr>

    <tr>
        <td class="strong">Date Opened</td>
        <td>{{ intake.date|date:'Y-m-d' }}</td>
    </tr>

    <tr>
        <td class="strong">Practice Area</td>
        <td>{{ intake.practice_area }}</td>
    </tr>

    <tr>
        <td class="strong">Source</td>
        <td>{{ intake.source|default:'' }}</td>
    </tr>

</table>
