<div class="dropdown"
     id="intake-practice-area-dropdown-{{ intake.id }}"
     x-data="dropdown()">
  <button class="button-link"
          type="button"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">{{ intake.practice_area }}</button>
  <ul hx-target="#intake-practice-area-dropdown-{{ intake.id }}"
      hx-swap="outerHTML"
      class="dropdown-menu"
      x-ref="menu"
      x-show="open">
    {% for pa in practice_areas %}
      <li>
        <a href="#"
           hx-post="{% url 'intakes:edit-practice-area' pk=intake.id practice_area_id=pa.id %}"
           class="dropdown-item">{{ pa.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
