{% extends "base.html" %}
{% load phone_numbers %}
{% block content %}
  <div class="section">
    <div class="section-title">
      <div class="section-title-left">
        <h1>{{ filter.status }} Intakes ({{ number_intakes }})</h1>
        <div class="table-filter">
          <button hx-get="/intakes/add"
                  hx-target="#htmx-modal-container"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-plus-lg"></i>
          </button>
          <button hx-get="/intakes/filter-intakes"
                  hx-target="#htmx-modal-container"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">Filter</button>
          <a href={% url 'intakes:quick-filter-all' %}>All</a>
          <a href={% url 'intakes:quick-filter-status' 'Open' %}>Open</a>
          <a href={% url 'intakes:quick-filter-status' 'Pending' %}>Pending</a>
        </div>
      </div>
      <div class="section-title-right"></div>
    </div>
    <div class="table-container">
      <table class="table intake-list">
        <tr>
          <th class="intake-date">
            <a href={% url 'intakes:order-by' 'date' %}>
              Date
              <i class="bi bi-chevron-expand"></i>
            </a>
          </th>
          <th class="intake-name">
            <a href={% url 'intakes:order-by' 'name' %}>
              Name
              <i class="bi bi-chevron-expand"></i>
            </a>
          </th>
          <th class="intake-phone">Phone</th>
          <th class="intake-email">Email</th>
          <th class="intake-status">Status</th>
          <th class="intake-source">Source</th>
        </tr>
        {% if intakes %}
          {% for intake in intakes %}
            <tr>
              <td class="intake-date">{{ intake.date|date:"Y-m-d" }}</td>
              <td class="intake-name">
                <a href={% url 'intakes:detail' id=intake.id %}>{{ intake.name }}</a>
              </td>
              <td class="intake-phone">{{ intake.phone|phone_number|default:'' }}</td>
              <td class="intake-email">{{ intake.email|default:'' }}</td>
              <td class="intake-status">
                <div class="dropdown">
                  <button class="button-link"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false">{{ intake.status }}</button>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{% url 'intakes:edit-status' pk=intake.id status='Open' %}"
                         class="dropdown-item">Open</a>
                    </li>
                    <li>
                      <a href="{% url 'intakes:edit-status' pk=intake.id status='Pending' %}"
                         class="dropdown-item">Pending</a>
                    </li>
                    <li>
                      <a href="{% url 'intakes:edit-status' pk=intake.id status='Accepted' %}"
                         class="dropdown-item">Accepted</a>
                    </li>
                    <li>
                      <a href="{% url 'intakes:edit-status' pk=intake.id status='Referred Out' %}"
                         class="dropdown-item">Referred Out</a>
                    </li>
                    <li>
                      <a href="{% url 'intakes:edit-status' pk=intake.id status='Client Declined' %}"
                         class="dropdown-item">Client Declined</a>
                    </li>
                    <li>
                      <a href="{% url 'intakes:edit-status' pk=intake.id status='Unresponsive' %}"
                         class="dropdown-item">Unresponsive</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td class="intake-source">
                {% if intake.source %}{{ intake.source|slice:':14' }}{% endif %}
              </td>
            </tr>
          {% endfor %}
        {% endif %}
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
