<span class="label-badge dropdown" x-data="dropdown()">
  <a href="#"
     class="app-badge label-{{ label.color }}"
     x-ref="button"
     @click.prevent="toggle()"
     :aria-expanded="open"><i class="icon-tag"></i>{{ label.name }}</a>
  <ul class="dropdown-menu" x-ref="menu" x-show="open">
    <li>
      <a class="dropdown-item urgent"
         href="#"
         hx-post="{% url 'case:remove-label-from' object_type object.id %}"
         hx-vals='{"label_id": "{{ label.id }}"{% if view %}, "view": "{{ view }}"{% endif %}}'
         hx-target="#{{ object_type }}-{{ object.id }}"
         hx-swap="outerHTML"><i class="icon-x"></i> Remove</a>
    </li>
  </ul>
</span>
