<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if edit %}
          Edit Label
        {% else %}
          Add Label
        {% endif %}
      </h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="label-form"
            hx-post="{% if edit %}{% url 'case:edit-label' label.id %}{% else %}{% url 'case:add-label' matter.id %}{% endif %}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact col2">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="label-form" class="submit">Submit</button>
      {% if edit %}
        <a class="delete-link"
           href="#!"
           hx-confirm="Are you sure you want to delete this label?"
           hx-delete="{% url 'case:delete-label' label.id %}"
           hx-target="#htmx-modal-container">Delete Label</a>
      {% endif %}
    </div>
  </div>
</div>
