

/*------------------------------------------------
Display
------------------------------------------------*/

#facts {
  margin: 10px 0 5px 0;
  width: 100%;
}

#facts .time {
  width: 120px;
}

#facts .citation {
  width: 250px;
}


/*------------------------------------------------
Form
------------------------------------------------*/


