<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if practice_area %}
          Edit Practice Area
        {% else %}
          Add Practice Area
        {% endif %}
      </h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="practice-area-form"
            hx-post="{{ request.path }}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="practice-area-form" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
