<div>
  <div class="toolbar">
    <div class="toolbar-left">
      <div class="filter-tools">
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'documents:add' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'documents:filter' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-filter"></i> &nbsp;Filter
        </button>
        <button type="button"
                id="documents-matter-filter"
                class="select-btn large-btn {% if selected_matter %}toggle-active{% endif %}"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          {{ selected_matter|default:"Matters (All)" }}
          <small>
            <i class="bi bi-chevron-down"></i>
          </small>
        </button>
        <ul class="dropdown-menu"
            hx-target="#documents-matter-filter"
            hx-swap="outerHTML">
          <li>
            <a class="dropdown-item"
               href="#"
               hx-post="{% url 'documents:filter-matter' 0 %}"
               hx-target="#documents"
               hx-swap="#outerHTML">Matters&nbsp;&nbsp;(All)</a>
          </li>
          {% for matter in matters %}
            <li>
              <a class="dropdown-item {% if matter.id == matter_id %}active{% endif %}"
                 href="#"
                 hx-post="{% url 'documents:filter-matter' matter.id %}"
                 hx-target="#documents"
                 hx-swap="#outerHTML">{{ matter.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <button type="button"
                id="documents-label-filter"
                class="select-btn large-btn {% if selected_label %}toggle-active{% endif %}"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          {{ selected_label|default:"Labels (All)" }}
          <small>
            <i class="bi bi-chevron-down"></i>
          </small>
        </button>
        <ul class="dropdown-menu"
            hx-target="#documents-label-filter"
            hx-swap="outerHTML">
          <li>
            <a class="dropdown-item"
               href="#"
               hx-post="{% url 'documents:filter-label' 0 %}"
               hx-target="#documents"
               hx-swap="#outerHTML">Labels&nbsp;&nbsp;(All)</a>
          </li>
          {% for label in labels %}
            <li>
              <a class="dropdown-item {% if label.id == label_id %}active{% endif %}"
                 href="#"
                 hx-post="{% url 'documents:filter-label' label.id %}"
                 hx-target="#documents"
                 hx-swap="#outerHTML">
                {% load color_utils %}
                <span class="badge"
                      style="background-color: {{ label.color }};
                             color: {{ label.color|contrast_color }};
                             margin-right: 5px">{{ label.name }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
        {% if selected_documents %}
          <button type="button"
                  hx-get="{% url 'documents:bulk-update' %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container"
                  class="btn-icon">Bulk Actions ({{ selected_documents|length }})</button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="table-container">
    <table id="documents-list" class="table">
      <tr>
        <th class="checkmark"></th>
        <th>Date</th>
        <th>
          Document
          <a href="#" hx-get="{% url 'documents:sort' 'name' %}">
            <i class="bi bi-chevron-expand"></i>
          </a>
        </th>
        <th>
          Uploaded at
          <a href="#" hx-get="{% url 'documents:sort' 'uploaded_at' %}">
            <i class="bi bi-chevron-expand"></i>
          </a>
        </th>
        <td class="download">
          <i class="bi bi-download"></i>
        </td>
      </tr>
      {% if objects %}
        {% for document in objects %}
          {% include "documents/documents/row.html" %}
        {% endfor %}
      {% endif %}
    </table>
  </div>
  <div class="flex-start-space">
    <div>{% include "pagination.html" %}</div>
  </div>
</div>
