<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if not edit %}
          Add Event
        {% else %}
          Edit Event
        {% endif %}
      </h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      {% include "agenda/events/deadline-calculator.html" %}
      {% if results %}<div id="calculator-results"></div>{% endif %}
      {% if not google_connected %}
        <div class="warn">
          Not connected to a Google calendar. You may still add an event, but it will not be posted to your
          Google account. Contact an administrator to establish a connection.
        </div>
      {% endif %}
      <form hx-post="{{ action }}"
            class="form-compact events-form col2"
            hx-target="#htmx-modal-container"
            role="form">
        {% csrf_token %}
        {{ form }}
        <div class="flex-center-space span2">
          <div>
            <button type="submit" class="submit">Submit</button>
          </div>
          <div>
            {% if edit %}
              <a href="#"
                 class="delete-link"
                 hx-confirm="Are you sure you want to delete this record?"
                 hx-delete="{% url 'agenda:events-delete-origin' id=event.id origin='events' %}">Delete Event</a>
            {% endif %}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
