<tr id="fact-{{ fact.id }}"
    class="{% if fact.color %}hl-{{ fact.color|lower }}{% endif %}">
  <td class="date-time{% if fact.color %} hl-{{ fact.color|lower }}{% endif %}">
    <span>{{ fact.date|date:'Y-m-d' }}
      {% if fact.time %}{{ fact.time|time:'g:i A' }}{% endif %}
    </span>
  </td>
  <td class="description{% if fact.color %} hl-{{ fact.color|lower }}{% endif %}">
    <a href="#"
       class="fact-text"
       hx-get="{% url 'case:facts-edit' fact.id %}"
       hx-target="#htmx-modal-container">{{ fact.description }}</a>
  </td>
  <td class="sources{% if fact.color %} hl-{{ fact.color|lower }}{% endif %}">
    {% for highlight in fact.highlights.all %}
      <span class="source-citation dropdown" x-data="dropdown()">
        <a href="#" x-ref="button" @click.prevent="toggle()">{{ highlight.citation }}</a>
        <ul class="dropdown-menu" x-ref="menu" x-show="open">
          <li>
            <a class="dropdown-item"
               href="{% url 'case:highlight-link' highlight.id %}"
               target="_blank"><i class="icon-eye"></i> View Source</a>
          </li>
          <li>
            <a class="dropdown-item source-copy-btn"
               href="#"
               data-copy="{{ highlight.citation }}"><i class="icon-copy"></i> Copy Citation</a>
          </li>
          <li>
            <a class="dropdown-item urgent"
               href="#"
               hx-post="{% url 'case:fact-remove-source' fact.id %}"
               hx-vals='{"type": "highlight", "id": "{{ highlight.id }}"}'
               hx-target="#fact-{{ fact.id }}"
               hx-swap="outerHTML"><i class="icon-x"></i> Remove</a>
          </li>
        </ul>
      </span>
    {% endfor %}
    {% for document in fact.documents.all %}
      <span class="source-citation dropdown" x-data="dropdown()">
        <a href="#" x-ref="button" @click.prevent="toggle()">{{ document.citation }}</a>
        <ul class="dropdown-menu" x-ref="menu" x-show="open">
          {% if document.file.name|slice:"-4:"|lower == ".pdf" %}
            <li>
              <a class="dropdown-item"
                 href="{% url 'case:viewer' document.id %}"
                 target="_blank"><i class="icon-eye"></i> View</a>
            </li>
          {% endif %}
          <li>
            <a class="dropdown-item"
               href="{% url 'case:documents-download' document.id %}"><i class="icon-download"></i> Download</a>
          </li>
          <li>
            <a class="dropdown-item source-copy-btn"
               href="#"
               data-copy="{{ document.citation }}"><i class="icon-copy"></i> Copy Citation</a>
          </li>
          <li>
            <a class="dropdown-item urgent"
               href="#"
               hx-post="{% url 'case:fact-remove-source' fact.id %}"
               hx-vals='{"type": "document", "id": "{{ document.id }}"}'
               hx-target="#fact-{{ fact.id }}"
               hx-swap="outerHTML"><i class="icon-x"></i> Remove</a>
          </li>
        </ul>
      </span>
    {% endfor %}
    <a href="#"
       class="add-icon"
       hx-get="{% url 'case:fact-sources' fact.id %}"
       hx-target="#htmx-modal-container">
      <i class="icon-link-2"></i>
    </a>
  </td>
  <td class="labels{% if fact.color %} hl-{{ fact.color|lower }}{% endif %}">
    {% for label in fact.labels.all %}
      {% include "case/labels/badge.html" with object_type="fact" object=fact %}
    {% endfor %}
    <a href="#"
       class="add-icon"
       hx-get="{% url 'case:labels-apply-modal' 'fact' fact.id %}"
       hx-target="#htmx-modal-container">
      <i class="icon-tag"></i>
    </a>
  </td>
  <td class="importance{% if fact.color %} hl-{{ fact.color|lower }}{% endif %}">
    {% include "case/facts/importance-display.html" %}
  </td>
</tr>
