<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Filter Facts</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="facts-filter-form"
            class="form-responsive form-spacious filter"
            hx-target="#htmx-modal-container"
            hx-post="{% url 'case:facts-filter' matter.id %}">
        {% csrf_token %}
        {{ filter.form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="facts-filter-form" class="submit">Apply</button>
      <a class="btn-icon"
         href="#"
         hx-post="{% url 'management:clear-filters' session_key='facts_filter' trigger='factsChanged' %}">Restore Defaults</a>
    </div>
  </div>
</div>
