<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">{{ action }} Fact</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="fact-form"
            hx-post="{% if fact %}{% url 'case:facts-edit' fact.id %}{% else %}{% url 'case:facts-add' %}{% endif %}"
            hx-target="#htmx-modal-container"
            class="form-compact col2">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="fact-form" class="submit">Submit</button>
      {% if fact %}
        <a hx-confirm='Are you sure you want to delete this fact?'
           href="#"
           hx-post="{% url 'case:facts-delete' fact.id %}"
           class="delete-link">Delete Fact</a>
      {% endif %}
    </div>
  </div>
</div>
