<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">{{ action }} Fact</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="fact-form"
            hx-post="{% if fact %}{% url 'case:facts-edit' fact.id %}{% else %}{% url 'case:facts-add' matter.id %}{% endif %}"
            hx-target="#htmx-modal-container"
            class="form-compact col2">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      {% if fact %}
        <button type="button"
                class="btn btn-danger"
                hx-confirm='Are you sure you want to delete this fact?'
                hx-post="{% url 'case:facts-delete' fact.id %}"
                hx-target="#htmx-modal-container">Delete Fact</button>
      {% endif %}
      <button type="submit" form="fact-form" class="submit">Submit</button>
    </div>
  </div>
</div>
