{% load humanize %}
<div class="toolbar facts-toolbar">
  <div class="toolbar-left">
    <div class="filter-tools">
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'case:facts-add' matter.id %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click">
        <i class="icon-plus"></i>
      </button>
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'case:facts-filter' matter.id %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click">
        <i class="icon-list-filter with-text"></i>Filter
      </button>
      <div class="dropdown" x-data="dropdown()">
        <button type="button"
                id="facts-importance-filter"
                class="select-btn filter-dropdown-button priority-dropdown {% if importance_value %}toggle-active{% endif %}"
                x-ref="button"
                @click="toggle()"
                :aria-expanded="open">
        <span><i class="icon-flag with-text"></i>
        {% if importance_value %}
          {% if importance_value == 1 %}
            1 only
          {% else %}
            {{ importance_value }} and above
          {% endif %}
        {% else %}
          Importance
        {% endif %}
      </span>
      <small>
        <i class="icon-chevron-down"></i>
      </small>
    </button>
    <ul class="dropdown-menu" x-ref="menu" x-show="open">
      {% for importance in importances %}
        {% if importance != 10 %}
          <li>
          <a class="dropdown-item {% if importance == importance_value %}active{% endif %}"
             href="#"
             hx-get="{% url 'case:facts-filter-importance' matter.id importance %}"
             hx-target="#facts"><i class="icon-flag"></i>
          {% if importance == 1 %}
            1 only
          {% else %}
            {{ importance }} and above
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  <li>
    <a class="dropdown-item {% if not importance_value %}active{% endif %}"
       href="#"
       hx-get="{% url 'case:facts-filter-importance' matter.id 0 %}"
       hx-target="#facts"><i class="icon-flag"></i> All Levels</a>
  </li>
</ul>
</div>
<input type="text"
       id="facts-keyword-input"
       name="keyword"
       placeholder="Keyword Search"
       value="{{ keyword }}"
       class="filter-input keyword-input {% if keyword %}toggle-active{% endif %}"
       hx-get="{% url 'case:facts-filter-keyword' matter.id %}"
       hx-target="#facts-table"
       hx-trigger="keyup changed delay:500ms"
       hx-include="this"
       oninput="this.classList.toggle('toggle-active', this.value.trim() !== '')">
</div>
</div>
<div class="toolbar-right">
  {% if facts %}
    <a href="{% url 'case:facts-pdf' matter.id %}"
       target="_blank"
       type="button"
       class="btn-icon">Download PDF</a>
  {% endif %}
</div>
</div>
<div id="facts-table">{% include "case/facts/table.html" %}</div>
