<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Add Source</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <div class="combobox-container">
        <div class="combobox-input-wrapper">
          <input type="search"
                 id="sources-search-input"
                 name="q"
                 hx-get="{% url 'case:fact-sources-search' fact.id %}"
                 hx-target="#sources-results"
                 hx-trigger="keyup changed delay:300ms, search"
                 autocomplete="off"
                 placeholder="Search documents and highlights..."
                 autofocus>
        </div>
        <div id="sources-results"></div>
      </div>
    </div>
  </div>
</div>
