<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">New Draft Session</h1>
      <div>
        <button type="button" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </button>
      </div>
    </div>
    <div class="modal-body">
      {% if files %}
        <p class="detail-text">
          Pick an ODT file from this matter's Drive folder. The drafting
          window opens in a new tab.
        </p>
        <ul class="draft-picker-list">
          {% for file in files %}
            <li>
              <a href="{% url 'case:drafts-start' matter.id %}?file={{ file.id }}"
                 target="_blank"
                 @click="$dispatch('close-modal'); setTimeout(() => htmx.trigger(document.body, 'draftsChanged'), 4000)">
                <i class="icon-file-text"></i>
                <span class="draft-picker-path">{{ file.path }}</span>{{ file.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p class="detail-text">
          No ODT files found in this matter's Drive folder. Save the draft
          there first (any subfolder works), then reopen this list.
        </p>
      {% endif %}
    </div>
  </div>
</div>
