@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');


html {
    height: 100%;
}

body {
    background: var(--warm-gray-300);
    color: var(--warm-gray-600);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    min-height: 100%;
}

a,
a:hover {
    color: var(--lime-800);
    outline: none;
    text-decoration: none;
}

.content {
    padding-bottom: 3rem;
    padding-top: 1.5rem;
}


/* ==========================================================================
   sections
   ========================================================================== */

.section {
    background: var(--warm-gray-100);
    border-radius: 3px;
    margin-bottom: 1.5rem;
    padding: 1rem 1rem 1.5rem;
}

.section-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1rem 0;
}

.section-title a,
.section-title button {
    background: none;
    border: none;
    border-radius: 4px;
    color: var(--lime-800);
    padding: 2px 7px;
}

.section-title a {
    padding: 4px 7px 5px 7px;
}

.section-title-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.section-title-left-right {
    /* margin-left: 1rem; */
    margin-top: 3px;
}

.section-title-left-right a,
.section-title-left-right button {
    margin-left: 1rem;
    margin-right: 0.3rem;
}


.section-title-right {
}

.section-title-right .bi {
}

.section-title-right .bi-plus-lg {
    margin-right: 10px;
    font-size: 1.2rem;
}

.section-text {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.section > .list-group {
    border: none;
}

/* ==========================================================================
   typography
   ========================================================================== */

h1 {
    font-weight: normal;
    font-size: 1.3rem;
    margin-bottom: 0;
}

h2 {
    font-weight: normal;
    font-size: 1.2rem;
    margin-bottom: 0;
}

strong {
    font-weight: 600;
}

.strong {
    font-weight: 600;
}

.soon a {
  color: var(--orange-800);
}

.warn {
    margin-bottom: 20px;
    padding: 10px;
}

.urgent {
  color: var(--orange-800);
}

/* ==========================================================================
   tables
   ========================================================================== */

.width100 {
  width: 100%;
}

.table {
    color: inherit;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
}

th {
    border: solid 1px var(--warm-gray-200);
    font-weight: 600;
    padding: 8px 15px !important;
    vertical-align: top;
}

td {
    border: solid 1px var(--warm-gray-200);
    padding: 8px 15px !important;
    vertical-align: top;
}

.numeric {
    text-align: right;
}

.total {
    font-weight: 600;
}

th {
    font-weight: 500;
}


/* ==========================================================================
   lists
   ========================================================================== */

li {
    list-style-type: none;
}

.list-group {
    background: var(--warm-gray-100);
    border: none;
    border-radius: 0;
}

.list-group-item {
    background: none;
    border-left: none;
    border-right: none;
    color: inherit;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

/* ==========================================================================
   buttons
   ========================================================================== */

.btn {
    font-size: 1em;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background: var(--lime-900);
    border: none;
    box-shadow: none;
    color: var(--warm-gray-300);
}

.btn-icon {
    background: none;
    border: none;
    padding: 0;
}

.btn-slim {
    font-size: 0.97rem;
    padding: 0.1rem 0.4rem;
}

.button-icon {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.button-link {
    background: none;
    border: none;
    color: var(--lime-800);
    margin: 0;
    padding: 0;
}

.button-link:hover {
    color: var(--lime-800);
}


/* ==========================================================================
   icons
   ========================================================================== */

.icon,
.icon:hover {
    color: var(--warm-gray-500);
    font-size: 1rem;
    font-weight: 600;
}

.dot-icon {
  color: var(--warm-gray-350);
}

.btn-icon {
    background: none;
    border: none;
    padding: 0;
}

.bi-plus-lg {
    color: var(--lime-800);
}

.bi-x-lg {
    color: var(--lime-800);
    font-size: 0.9rem;
}

.bi-folder {
    color: var(--warm-gray-400);
    margin-right: 10px;
}

.bi-trash {
    color: var(--red-800);
}

.bi-chevron-expand {
    color: var(--warm-gray-400);
    margin-left: 5px;
}

.bi-square,
.bi-check-square {
    color: var(--warm-gray-400);
}

/* ==========================================================================
   utilities
   ========================================================================== */

.flex-start-space {
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-center-space {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.overflow-x {
  overflow-x: auto;
}

/* ==========================================================================
   modals
   ========================================================================== */

.modal-content {
    background: var(--warm-gray-100);
}

.modal-header {
    padding: 0.5rem 1rem;
}

.hide {
    display: none;
}

/* ==========================================================================
   filter-bar
   ========================================================================== */

.filter-bar {
    align-items: center;
    background: var(--warm-gray-100);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.filter-bar a,
.filter-bar button {
    background: none;
    border: none;
    border-radius: 4px;
    color: var(--lime-800);
    padding: 2px 7px;
}

.filter-bar a {
    padding: 4px 7px 5px 7px;
}

.filter-bar:first-child {
  padding-left: 0;
}

.filter-bar-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
