
body {
    background: var(--warm-gray-300);
    color: var(--warm-gray-700);
    font-family: 'Open Sans', sans-serif;
}

a {
    color: var(--lime-800);
    text-decoration: none;
}

a:hover {
    color: var(--lime-600);
    text-decoration: none;
}

.vertical-center {
    align-items: center;
    display: flex;
    min-height: 80%;
}

@supports (height: 80vh) {
    .vertical-center {
        min-height: 80vh; /* Override with 80vh if supported */
    }
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.auth-card {
    background: var(--warm-gray-100);
    border-radius: 3px;
    padding: 20px;
    width: 500px;
}

.auth-title {
    color: var(--lime-800);
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

.auth-subtitle {
    font-size: 1em;
    margin-bottom: 30px;
    text-align: center;
}

.prompt {
    margin-bottom: 30px;
}

.reset-confirm p {
    margin-bottom: 20px;
}

.account-form p {
    margin: 30px 0 0 0;
    padding: 0;
}

.account-form label {
    display: block;
    font-weight: normal;
}

.account-form input {
    border: solid 1px var(--warm-gray-350);
    border-radius: 5px;
    display: block;
    margin-top: 5px;
    padding: 7px;
    width: 100%;
}

.account-form ul {
    padding-left: 2px;
}

.account-form ul li {
    color: var(--red-600);
    margin-top: 5px;
    font-size: 0.8rem;
}

.account-form button {
    background: var(--warm-gray-600);
    border: solid 1px var(--warm-gray-600);
    color: var(--warm-gray-200);
    border-radius: 5px;
    font-size: 1em;
    margin-top: 40px;
    padding: 7px 10px;
}

input {
    filter: none;
}

input:focus {
    outline: none;
}

.login-bottom {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-bottom-right {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    font-size: 0.8rem;
}

.reset-confirm {
    margin-top: 30px;
}

.reset-complete {
    text-align: center;
}

.spam-folder {
    color: var(--red-600);
    font-weight: 600;
}

.auth-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 1rem;
}
