:root {
  /* tailwindcolor.com */

  --neutral-700: #262626;
  --neutral-600: #404040;
  --neutral-500: #525252;
  --neutral-400: #a3a3a3;
  --neutral-350: #cbcbcb;
  --neutral-300: #d4d4d4;
  --neutral-200: #e5e5e5;
  --neutral-100: #f5f5f5;
  --neutral-50: #fafafa;

  --stone-900: black;
  --stone-800: #292524;
  --stone-700: #44403c;
  --stone-600: #57534e;
  --stone-500: #78716c;
  --stone-400: #a8a29e;
  --stone-375: #c1bbb6;
  --stone-350: #cbc8c6;
  --stone-300: hsl(24, 6%, 83%);
  --stone-250: hsl(24, 6%, 85%);
  --stone-215: hsl(24, 6%, 89%);
  --stone-200: hsl(24, 6%, 90%);
  --stone-175: hsl(24, 6%, 92%);
  --stone-150: #eeecec;
  --stone-100: #f5f5f4;
  --stone-50: #fafaf9;
  --stone-25: hsl(24, 6%, 99.5%);

  --amber-400: #f59e0b;
  --amber-500: #eab308;

  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;

  --cyan-700: #037490;
  --cyan-800: #155e75;

  --emerald-600: #059669;
  --emerald-700: #15803d;

  --fuscia-600: #c026d3;
  --fuscia-700: #a21caf;
  --fuscia-800: #86198f;

  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;

  --lime-600: #65a30d;
  --lime-700: #4d7c0f;
  --lime-800: #3f6212;
  --lime-900: #365314;

  --orange-700: #c2410c;
  --orange-800: #9a3412;

  --purple-600: #9333ea;
  --purple-700: #7e22ce;
  --purple-800: #6b21a8;
  --purple-900: #581c87;
  --purple-950: #2e1065;

  --red-900: #7f1d1d;
  --red-800: #991b1b;
  --red-700: #b91c1c;
  --red-600: #dc2626;

  --rose-700: #be123c;

  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;

  --teal-600: #047857;
  --teal-700: #047857;
  --teal-800: #115e59;

  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;

  --link: var(--lime-800);
  --link-hover: var(--lime-800);
  --button-form: var(--link);
  --button-toolbar: var(--stone-600);
  --urgent: var(--orange-800);
  --true: var(--lime-700);
  --false: var(--urgent);
  --icon-green: var(--lime-800);
  --icon-purple: var(--purple-950);
  --icon-yellow: var(--yellow-700);
  --icon-blue: var(--sky-800);
  --add: var(--icon-green);

  --selected-background: hsl(252, 32%, 91%);
  --selected-color: hsl(24, 6%, 35%);
  --selected-border: hsl(252, 22%, 85%);

  --client-background: hsl(252, 12%, 91%);
}

.true-bool {
  color: var(--true);
}

.false-bool {
  color: var(--false);
}

.delete-link {
  color: var(--orange-700);
}

.delete-link:hover {
  color: var(--orange-700);
}
