
#folders {
	margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.folder-item {
  display: flex;
}

.folder-item .bi-folder {
  color: var(--warm-gray-400);
}

.folder-icon {
  margin-right: 15px;
  top: 2px;
}

#add-folder-item {
  border-bottom: none;
  display: none;
  background: var(--warm-gray-100);
}

.edit-folder {
  display: none;
  justify-content: space-between;
  width: 100%;
}

.folder-form {
	padding: 0;
  margin: 0;
	text-align: left;
  width: 100%;
}

.folder-form input {
  background: inherit;
  border: none;
	display: inline;
	margin: 0;
  padding: 0;
	width: 100%;
}

.delete-folder {
  color: var(--red-dark);
  margin: 0;
}
