.filter select {
  min-width: 95%;
}

.filter input[type="date"] {
  margin-left: 0.2rem;
  width: 137px;
}

input,
select,
textarea {
  border: solid 1px var(--warm-gray-300);
  border-radius: 3px;
  outline: none;
  padding: 0.25rem;
}

select {
  background: white;
  max-width: 200px;
}

input[type="date"] {
  max-width: 140px;
}

input[type="time"] {
  max-width: 140px;
}

input[type="password"] {
  max-width: 200px;
}

textarea {
  height: 100px;
  max-width: 550px;
}

.form-control:focus {
  border: solid 1px var(--warm-gray-300);
  box-shadow: none;
  outline: none;
}

.submit {
  background: var(--lime-900);
  border: solid 1px var(--warm-gray-600);
  border-radius: 5px;
  color: var(--warm-gray-200);
  margin-top: 0.55rem;
  padding: 4px 10px;
}

.disabled-btn {
  background: var(--warm-gray-300);
  border: solid 1px var(--warm-gray-300);
  color: var(--warm-gray-400);
}

.add-event {
  margin-top: 1rem;
  border-top: solid 1px var(--warm-gray-200);
  padding-top: 1rem;
}

/* responsive layout */

.new-form-responsive {
  display: grid;
}

.new-form-responsive .form-group label {
  font-weight: 600;
}

.new-form-responsive > div {
  margin-block-end: 1rem;
}

.form-responsive {
  display: grid;
}

.form-responsive > label {
  font-weight: 600;
}

.form-responsive > div {
  margin-block-end: 1rem;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .form-responsive {
    grid-template-columns: 1fr 3fr;
  }

  .modal-md .form-responsive {
    grid-template-columns: 1fr 2fr;
  }

  .modal-lg .form-responsive {
    grid-template-columns: 1fr 4fr;
  }
}

@media screen and (min-width: 1200px) {
  .form-responsive {
    grid-template-columns: 1fr 4fr;
  }

  .modal-md .form-responsive {
    grid-template-columns: 1fr 2fr;
  }

  .modal-lg .form-responsive {
    grid-template-columns: 1fr 4fr;
  }
}

/*------------------------------------------------
Task form
------------------------------------------------*/

#id_priority {
  max-width: 15px;
  height: 15px;
  margin-top: 0.3rem;
}

/*------------------------------------------------
Time entry form
------------------------------------------------*/

#id_matter {
  width: auto;
}

#id_actions {
  max-width: 500px;
  vertical-align: top;
  width: 95%;
}

#id_hours {
  max-width: 80px;
}

#id_firm_rate {
  max-width: 80px;
}

#id_comp {
  max-width: 80px;
}

#id_entered {
  max-width: 80px;
}

/*------------------------------------------------
Expense entry form
------------------------------------------------*/

#id_amount {
  max-width: 120px;
}
