.filter select {
  min-width: 95%;
}

.filter input[type="text"] {
  min-width: 95%;
}

.filter input[type="date"] {
  margin-left: 0.2rem;
  width: 137px;
}

form .errorlist {
  padding: 0;
  margin: 0;
  color: var(--orange-800);
}

input,
select,
textarea {
  border: solid 1px var(--stone-300);
  border-radius: 3px;
  outline: none;
  padding: 0.4rem;
}

select {
  background: white;
}

.form-control:focus {
  border: solid 1px var(--stone-300);
  box-shadow: none;
  outline: none;
}

.submit {
  background: var(--button-form);
  border: solid 1px var(--button-form);
  border-radius: 5px;
  color: var(--stone-200);
  padding: 4px 10px;
}

.disabled-btn {
  background: var(--stone-300);
  border: solid 1px var(--stone-300);
  color: var(--stone-400);
}

.add-event {
  margin-top: 1rem;
  border-top: solid 1px var(--stone-200);
  padding-top: 1rem;
}

/* spacious layout */

.form-spacious {
  display: grid;
  gap: 0.5rem;
}

.form-spacious > label {
  font-weight: 600;
}

.form-spacious > div {
  margin-block-end: 1rem;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .form-spacious {
    grid-template-columns: 1fr 3fr;
  }

  .modal-md .form-spacious {
    grid-template-columns: 1fr 2fr;
  }

  .modal-lg .form-spacious {
    grid-template-columns: 1fr 4fr;
  }
}

@media screen and (min-width: 1200px) {
  .form-spacious {
    grid-template-columns: 1fr 4fr;
  }

  .modal-md .form-spacious {
    grid-template-columns: 1fr 2fr;
  }

  .modal-lg .form-spacious {
    grid-template-columns: 1fr 4fr;
  }
}

.form-spacious input[type="date"] {
  max-width: 400px;
}

.form-spacious input[type="time"] {
  max-width: 140px;
}

.form-spacious input[type="password"] {
  max-width: 200px;
}

.form-spacious textarea {
  height: 100px;
  max-width: 550px;
}

/* compact layout */

.form-compact {
  display: grid;
  gap: 1rem;
}

.form-compact select,
.form-compact input[type="date"],
.form-compact input[type="time"],
.form-compact input[type="text"],
.form-compact input[type="password"],
.form-compact input[type="number"],
.form-compact input[type="email"],
.form-compact textarea {
  width: 100%;
}

.col2 {
  grid-template-columns: 1fr 1fr;
}

.col3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.col5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.form-compact .form-group:has(div > .span2) {
  grid-column: span 2;
}

.form-compact .form-group:has(div > .span3) {
  grid-column: span 3;
}

.form-compact .form-group:has(div > .span5) {
  grid-column: span 5;
}

.form-compact .span2 {
  grid-column: span 2;
}

.form-compact .span3 {
  grid-column: span 3;
}

.form-compact .span5 {
  grid-column: span 5;
}

.form-compact .form-group label {
  margin-bottom: 0.5rem;
}

.form-compact .flex-center-space {
  padding-bottom: 0.5rem;
  padding-top: 0.35rem;
}
