
.icon,
.icon:hover {
  color: var(--stone-500);
  font-size: 1rem;
  font-weight: 600;
}

.dot-icon {
  color: var(--stone-350);
}

.btn-icon {
  background: none;
  border: none;
  padding: 0;
}

.bi-plus-lg {
  color: var(--add);
}

.bi-plus-download {
  color:var(--link);
}

.bi-x-lg {
  color: var(--link);
  font-size: 1rem;
}

.bi-folder {
  color: var(--stone-400);
  margin-right: 0.75rem;
}

.bi-trash {
  color: var(--orange-800);
}

.bi-square,
.bi-caret-up,
.bi-check-square,
.bi-exclamation-square {
  color: var(--stone-400);
}

.bi-calendar-week,
.bi-arrow-up-right-circle {
  margin-right: 0.5rem;
}

.spin,
i.spin {
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.note-badge-icon {
  color: var(--stone-400);
  font-size: 1rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.note-badge-icon.note-badge-new {
  color: var(--violet-800);
}
