.hidden {
  display: none;
}

.dropdown-menu {
  padding: 0 !important;
}

.dropdown-menu li {
  background: var(--stone-50);
  border-radius: 3px;
  border-top: solid 1px var(--stone-200);
}

.dropdown-menu li:hover {
  background: var(--stone-100);
  color: var(--link-hover);
}

.dropdown-item {
  padding: 0.4rem 1rem;
}

.dropdown-item.active {
  background: var(--selected-background);
  color: var(--selected-color);
}

.dropdown-item:hover {
  background: var(--stone-100);
}

.dropdown-menu li:first-child {
  border: none;
}

.dropdown-menu li > a {
  background: none;
  color: inherit;
}

.table-select {
  background: inherit;
  border: solid 1px var(--stone-200);
  color: inherit;
  padding: 0 5px;
  width: 100%;
}

.table-option {
  background: var(--stone-50);
}

.toggle-active {
  background: var(--selected-background) !important;
  border: solid 1px var(--selected-border) !important;
  color: var(--selected-color) !important;
}

.item-selected-highlight {
  background: var(--stone-150) !important;
}


.select-btn {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.extra-small-btn {
  width: 100px;
}

.small-btn {
  width: 150px;;
}

.medium-btn {
  width: 200px;
}

.large-btn {
  width: 250px;;
}
