@page {
    size: A4;
    margin: 4rem;
}

.invoice-template {
    width: 100%;
    font-size: 0.9rem;
    background-color: #fff;
}

.cb-logo {
    width: 280px;
    height: auto;
    margin-top: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-right-title {
    margin-bottom: 2rem;
}

.normal-height {
    line-height: 0.5;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.matter-name {
    margin-top: 4rem;
}

.table-title {
    margin-top: 4rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
}

.table th, .table td {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.table-header {
    background-color: #ececec;
    height: 2rem;
}

.table-row {
    height: auto;
}

.table-row:nth-child(odd) {
    background-color: #f4f4f4;
}

.table-row:nth-child(even) {
    background-color: #ffffff;
}

.table td {
    word-wrap: break-word;
    white-space: normal;
}

.table-date {
    min-width: 5rem;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 0.8rem;
    align-items: baseline;
}

.total-name {
    margin-right: 2rem;
}

.expense {
    margin-top: 4rem;
    page-break-before: always;
}

.small-line {
    line-height: 0;
}

.note {
    margin-top: 3rem;
}

.price-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    text-align: right;
    margin-left: 73%;
}

.price td {
    padding: 4px 16px;
    font-weight: bold;
    text-align: right;
}
