/* ==========================================================================
Page Setup
========================================================================== */

@page {
    size: Letter;
    margin: 0.75in;
}

.invoice-template {
    width: 100%;
    font-size: 11pt;
    font-family: "Times New Roman", serif;
    background-color: #fff;
}

/* ==========================================================================
Header
========================================================================== */

.cb-logo {
    width: 100px;
    height: auto;
}

.llc {
    font-size: 9pt;
}

.header {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.header-right {
    margin-top: 24pt;
}

p {
    line-height: 1;
    margin: 6pt 0;
    padding: 0;
}

/* ==========================================================================
Content
========================================================================== */

.section {
    margin-top: 24pt;
}

h3 {
    margin-bottom: 6pt;
    margin-top: 11pt;
    font-family: "Times New Roman", serif;
    font-size: 12pt;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    font-family: "Times New Roman", serif;
}

.table th, .table td {
    border: solid 1px lightgray;
    font-size: 10pt;
    padding: 6pt;
    vertical-align: top;
}

.table td {
    word-wrap: break-word;
    white-space: normal;
}

.comp {
    text-decoration: line-through;
    color: gray;
}

.table .date {
    width: 0.8in;
}

.table .money {
    text-align: right;
    width: 0.8in;
}

.table .total {
    font-family: "Times New Roman", serif;
}


/* ==========================================================================
Utility Classes
========================================================================== */

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
