
html {
  height: 100%;
}

body {
  background: var(--background-body);
  color: var(--color-primary);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  min-height: 100%;
}

.content {
  padding-bottom: 3rem;
  padding-top: 1.5rem;
}

.flex-start-space {
  align-items: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.flex-start-left {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: left;
}


.flex-center-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-center-left {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.limited-width {
  width: 95%;
}

.overflow-x {
  overflow-x: auto;
}
