
html {
  height: 100%;
}

body {
  background: var(--stone-300);
  color: var(--stone-600);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  min-height: 100%;
}

.content {
  padding-bottom: 3rem;
  padding-top: 1.5rem;
}

.flex-start-space {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-center-space {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.limited-width {
  width: 95%;
}

.overflow-x {
  overflow-x: auto;
}
