
.navbar {
	background: var(--warm-gray-350);
  padding-bottom: 0;
  padding-top: 0;
}

.navbar ul {
  margin-top: 6px;
}

/* applies to all of the anchor tags in the list items in the nav bar */
.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--warm-gray-600);
  padding: 12px 25px;

}

/* applies to the active page's anchor tag */
.nav-active {
  background: var(--warm-gray-300);
  border-radius: 5px 5px 0 0;
}

.navbar-toggler-icon {
  color: var(--link);
  font-size: 1.8rem;
}

.navbar-toggler-chevron {
  color: var(--link);
  font-size: 1rem;
}

.navbar-toggler {
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-top: 1rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
  outline: none;
}

.navbar-nav .settings-link {
  font-size: 1.2rem;
  padding: 10px 25px 7px 25px !important;
}
