
.pagination-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination-row p {
  margin: 0;
}

.pagination-row a {
  background: var(--background-control);
  border: none;
  border-radius: var(--radius-sm);
  color: var(--link);
  padding: 0 0.5rem;

}

.pagination a:hover {
  background: var(--background-control);
  color: var(--link);
}

.pagination-disabled {
  color: var(--icon-muted) !important;
  pointer-events: none;
}
