
.pagination-row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
}

.pagination-row p {
  margin: 0;
}

.pagination-row a {
  align-items: center;
  background: var(--background-control);
  border: solid 1px var(--border-medium);
  border-radius: 50%;
  color: var(--link);
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.pagination-row a i {
  font-size: 1.25rem;
  position: relative;
  /* top: -1px; */
}

.pagination-row a:hover {
  color: var(--link-hover);
}

.pagination-disabled {
  color: var(--icon-muted) !important;
  pointer-events: none;
}
