
.section {
  background: var(--stone-100);
  border-radius: 3px;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem 1.5rem;
}

.subnav-section {
  background: var(--stone-100);
  border-radius: 3px 3px 0 0;
  padding: 1rem 1rem 1.5rem;
}

.toolbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 1rem 0;
}

.toolbar a:not(.dropdown-menu *),
.toolbar button:not(.dropdown-menu *) {
  background: var(--stone-150);
  border: solid 1px var(--stone-200);
  border-radius: 4px;
  color: var(--button-toolbar);
  outline: none;
  padding: 3px 7px;
}

/* .toolbar .btn-green { */
/*   color: var(--lime-800); */
/* } */

/* .toolbar .btn-yellow { */
/*   color: var(--yellow-600); */
/* } */

.toolbar-left {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.toolbar h1,
.toolbar h2 {
  margin-right: 1.3rem;
}

.filter-tools {
  display: flex;
  gap: 1.5rem;
  margin: 3px 0 0 0;
}

.select-user {
  background-color: var(--stone-150);
  border: solid 1px var(--stone-200);
  color: var(--stone-700);
  padding: 5px;
}

.toolbar-right > a,
.toolbar-right button {
  margin-left: 1rem;
  margin-right: 0.3rem;
}

.section-text {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.section>.list-group {
  border: none;
}

.subsection {
  border-radius: 0 0 3px 3px;
}
