
.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  border-collapse: collapse;
  color: inherit;
  margin-bottom: 0;
  table-layout: fixed !important;
  width: 100%;
}

.full-width-table {
  min-width: 75rem;
}

.width100 {
  width: 100%;
}

.table-column-fluid {
    /* No 'width' property */
    min-width: 10rem; /* Ensures a minimum space */
}

th {
  border: solid 1px var(--stone-200);
  font-weight: 500;
  padding: 0.5rem 1rem !important;
  vertical-align: top;
  white-space: nowrap;
}

td {
  border: solid 1px var(--stone-200);
  overflow: hidden;
  padding: 0.5rem 1rem !important;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}

td.dropdown-cell {
  overflow: visible;
}

thead {
  border-bottom: none;
}

tbody {
  border-top: none !important;
}

.center-data {
  text-align: center;
}

.numeric {
  text-align: right;
}

.total {
  font-weight: 500;
}


.totals-table {
  align-items: start;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: right;
}

.totals-table table {
  margin: 1.5rem 0 0 1.5rem;
  min-width: 25rem;
}

.totals-table .numeric {
  width: 9.375rem;
}

.flex-start-space > div:first-child {
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .totals-table {
    flex-direction: column;
    width: 100%;
  }

  .totals-table table {
    margin: 1rem 0 0 0;
    min-width: auto;
    width: 100%;
  }
}

.td-date {
  width: 7.5rem;
}



/* ==========================================================================
 Sort Buttons
========================================================================== */

.btn-sort {
  background: none;
  border: none;
  color: var(--stone-400);
  font-weight: 600;
  margin-left: 0.5rem;
  padding: 0;
  transition: color 0.2s ease;
}

.btn-sort i {
  color: inherit;
}

.btn-sort:hover {
  color: var(--stone-500);
}

.btn-sort.active {
  color: var(--purple-800);
}


/* ==========================================================================
 Empty Table Message
========================================================================== */

td.empty-message {
  padding: 1.5rem !important;
  color: var(--stone-600);
  font-style: italic;
  text-align: center;
}


/* ==========================================================================
 Table Action Icons
========================================================================== */

.edit-icon-button {
  margin-right: 1.5rem;
}

.edit-icon {
  color: var(--stone-600);
}

.delete-icon {
  color: var(--urgent);
}
