
.toolbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 1.25rem;
}

.toolbar a:not(.dropdown-menu *),
.toolbar button:not(.dropdown-menu *) {
  align-items: center;
  background: var(--background-control);
  border: solid 1px var(--border-medium);
  border-radius: var(--radius-sm);
  color: var(--button-toolbar);
  display: inline-flex;
  gap: 0.375rem;
  line-height: 1.25;
  outline: none;
  padding: 0.5rem 0.75rem;
}

.toolbar-left {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: left;
}

.toolbar h1,
.toolbar h2 {
  margin: 0 1.25rem 0 0;
}

.filter-tools {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.select-property {
  background-color: var(--background-control);
  border: solid 1px var(--border-medium);
  color: var(--button-toolbar);
  padding: 0.25rem;
}

.toolbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.toolbar-right {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.toolbar-right > a,
.toolbar-right button {
  margin-left: 1rem;
}


/* ==========================================================================
 Mobile Responsive
========================================================================== */

@media (width <= 1000px) {
  .filter-tools {
    gap: 0.75rem;
  }

  .filter-tools .select-btn.large-btn,
  .filter-tools .select-btn.filter-dropdown-button {
    min-width: 0;
  }
}
