
h1 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: normal;
  margin-bottom: 0;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

a,
a:hover {
  color: var(--link);
  outline: none;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
}

strong,
.strong {
  font-weight: 500;
}

.urgent,
.urgent a,
.urgent button {
  color: var(--urgent);
}

.warn {
  margin-bottom: 1.25rem;
  padding: 0.75rem;
}

code {
  background: inherit;
  color: inherit;
  display: block;
  font-family: 'Courier Prime', monospace;
  font-size: 1.03em;
  margin-left: 1.25rem;
  white-space: pre-wrap;
}

.count {
  margin-right: 0.5rem;
}
