{% extends "base.html" %}
{% block content %}
  <div id="content" class="container content">
    <div class="section detail-title">
      <div class="toolbar">
        <div class="toolbar-left">
          <h1>{{ matter.name|default:"Select a Matter" }}</h1>
          <div class="filter-tools">
            <button type="button"
                    class="select-btn"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
              <small>
                <i class="bi bi-chevron-down"></i>
              </small>
            </button>
            <ul class="dropdown-menu">
              {% for m in matters %}
                <li>
                  <a class="dropdown-item {% if m.id == matter.id %}active{% endif %}"
                     href="{% url 'case:select-matter' m.id %}">{{ m.name }}</a>
                </li>
              {% empty %}
                <li>
                  <span class="dropdown-item text-muted">No matters available</span>
                </li>
              {% endfor %}
            </ul>
            {% if matter %}
              <a href="{% url 'matters:contacts' id=matter.id %}" class="icon-green">Matter Details <i class="bi bi-arrow-up-right-circle ms-2"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-sub detail-subnav">
      <ul>
        <li {% if subapp == "documents" %}class="active"{% endif %}>
          <a href="{% url 'case:index' %}">Documents</a>
        </li>
        <li {% if subapp == "highlights" %}class="active"{% endif %}>
          <a href="{% url 'case:highlights-index' %}">Highlights</a>
        </li>
        <li {% if subapp == "facts" %}class="active"{% endif %}>
          <a href="{% url 'case:facts-index' %}">Facts</a>
        </li>
        <li {% if subapp == "outlines" %}class="active"{% endif %}>
          <a href="{% url 'outlines:index' %}">Outlines</a>
        </li>
        <li {% if subapp == "labels" %}class="active"{% endif %}>
          <a href="{% url 'case:labels-index' %}">Labels</a>
        </li>
        <li {% if subapp == "search" %}class="active"{% endif %}>
          <a href="{% url 'case:search-index' %}">Search</a>
        </li>
      </ul>
    </nav>
    <div class="section subsection">
      {% block subcontent %}
      {% endblock subcontent %}
    </div>
  </div>
{% endblock content %}
