{% extends "base.html" %}
{% block content %}
  <div id="content" class="container content">
    <div class="section">
      <div class="section-header">
        <div class="toolbar">
          <div class="toolbar-left">
            <h1>{{ matter.name|default:"Select a Matter" }}</h1>
            <div class="filter-tools">
              <button type="button"
                      class="select-btn"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">
                <small>
                  <i class="icon-chevron-down"></i>
                </small>
              </button>
              <ul class="dropdown-menu">
                {% for m in matters %}
                  <li>
                    <a class="dropdown-item {% if m.id == matter.id %}active{% endif %}"
                       href="{% url 'case:select-matter' m.id %}">{{ m.name }}</a>
                  </li>
                {% empty %}
                  <li>
                    <span class="dropdown-item text-muted">No matters available</span>
                  </li>
                {% endfor %}
              </ul>
              {% if matter %}
                <a href="{% url 'matters:contacts' id=matter.id %}" class="accent-link">Matter Details<i class="icon-circle-arrow-left ms-2"></i></a>
                <button class="accent-link"
                        hx-get="/activity/time/add/{{ matter.id }}/case"
                        hx-target="#htmx-modal-container"
                        data-bs-toggle="modal"
                        data-bs-target="#htmx-modal-container">+ Time</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <nav class="section-nav">
        <ul>
          <li {% if subapp == "documents" %}class="active"{% endif %}>
            <a href="{% url 'case:documents-index' matter.id %}">Documents</a>
          </li>
          <li {% if subapp == "highlights" %}class="active"{% endif %}>
            <a href="{% url 'case:highlights-index' matter.id %}">Highlights</a>
          </li>
          <li {% if subapp == "facts" %}class="active"{% endif %}>
            <a href="{% url 'case:facts-index' matter.id %}">Timeline</a>
          </li>
          <li {% if subapp == "witnesses" %}class="active"{% endif %}>
            <a href="{% url 'case:witnesses-index' matter.id %}">Witnesses</a>
          </li>
          <li {% if subapp == "notes" %}class="active"{% endif %}>
            <a href="{% url 'case:notes-index' matter.id %}">Notes</a>
          </li>
          <li {% if subapp == "labels" %}class="active"{% endif %}>
            <a href="{% url 'case:labels-index' matter.id %}">Labels</a>
          </li>
          <li {% if subapp == "search" %}class="active"{% endif %}>
            <a href="{% url 'case:search-index' matter.id %}">Search</a>
          </li>
          <li {% if subapp == "ai" %}class="active"{% endif %}>
            <a href="{% url 'case:ai-index' matter.id %}">AI</a>
          </li>
        </ul>
      </nav>
      <div class="section-body">
        {% block subcontent %}
        {% endblock subcontent %}
      </div>
    </div>
  </div>
{% endblock content %}
