{% extends "base.html" %}
{# djlint:off #}{% block body_class %}has-subnav{% endblock body_class %}{# djlint:on #}
{% block content %}
  <div id="content" class="container content">
    <div class="section">
      <div class="section-header">
        <div class="toolbar">
          <div class="toolbar-left">
            <h1>Case</h1>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="empty-state">
          <p>No open matters available.</p>
          <p>
            <a href="{% url 'matters:add' %}">Create a new matter</a> to get started.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
