<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Delete Folder</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <p>Delete folder "{{ folder.name }}"?</p>
      {% if contact_count > 0 %}
        <p>This folder contains {{ contact_count }} contact{{ contact_count|pluralize }}.</p>
      {% endif %}
    </div>
    <div class="modal-footer">
      {% if contact_count > 0 %}
        <button hx-delete="{% url 'folders:delete' folder.id %}?keep_contacts=true"
                hx-target="#folders"
                class="btn btn-success">Keep Contacts</button>
        <button hx-delete="{% url 'folders:delete' folder.id %}?delete_contacts=true"
                hx-target="#folders"
                class="btn-icon">Delete Contacts</button>
      {% else %}
        <button hx-delete="{% url 'folders:delete' folder.id %}"
                hx-target="#folders"
                class="btn btn-success">Delete Folder</button>
      {% endif %}
    </div>
  </div>
</div>
