<div class="edit-folder">
  <form class="folder-form"
        method="post"
        {% if action_type == 'db_update' %} action="{% url 'folders:update' id=folder.id app=app action_type=action_type %}" {% else %} hx-post="{% url 'folders:update' id=folder.id app=app action_type=None %}" {% endif %}>
    {% csrf_token %}
    <label>
      <input class="form-horizontal edit-folder-input"
             type="text"
             name="name"
             onblur="hideEditFolderForm()"
             value="{{ folder.name }}" />
    </label>
  </form>
</div>
