<div class="edit-folder">

	<form class="folder-form"
    action="/folders/update/{{ folder.id }}/{{ page }}"
    method="post">

    {% csrf_token %}

        <label>
            <input
              class="form-horizontal edit-folder-input"
              type="text"
              name="name"
              onchange="submit()"
              onblur="hideEditFolderForm()"
              value="{{ folder.name }}"
              >
        </label>

    </form>

  <a
    onclick="return confirm('Are you sure you want to delete this record?')"
    href="/folders/delete/{{ folder.id }}/{{ page }}"
  >
    <i class="bi bi-trash"></i>
  </a>

</div>
