<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if not edit %}
          Add Folder
        {% else %}
          Edit Folder
        {% endif %}
      </h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="folder-form"
            hx-post="{{ action }}"
            hx-target="#folders"
            hx-swap="innerHTML"
            class="form-compact"
            role="form">
        {% csrf_token %}
        <div class="mb-3">
          {{ form.name.label_tag }}
          {{ form.name }}
          {% if form.name.errors %}<div class="text-danger">{{ form.name.errors }}</div>{% endif %}
        </div>
      </form>
    </div>
    <div class="modal-footer">
      {% if edit %}
        <button type="button"
                class="btn btn-danger"
                hx-get="{% url 'folders:delete-confirm' folder.id %}"
                hx-target="#htmx-modal-container"
                hx-swap="innerHTML">Delete Folder</button>
      {% endif %}
      <button type="submit" form="folder-form" class="submit">Submit</button>
    </div>
  </div>
</div>
