<div class="section">
  <div class="folders">
    <div class="toolbar">
      <div class="toolbar-left">
        <h1>Folders</h1>
      </div>
      <div class="toolbar-right">
        <button class="button-link"
                hx-get="{% url 'folders:add' %}"
                hx-target="#add-folder">
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>
    </div>
    <div id="add-folder"></div>
    <ul class="list-group">
      {% if folders %}
        {% for folder in folders %}
          {% include "folders/folder.html" %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
