<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Filter Tasks</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-responsive filter"
            hx-target="#htmx-modal-container"
            hx-post="{{ request.path }}">
        {% csrf_token %} {{ filter.form }}
        <br />
        <div class="flex-center-space limited-width">
          <button type="submit" class="submit">Apply</button>
          <button class="btn-icon button-link"
                  hx-target="#htmx-modal-container"
                  hx-get="{% url 'management:clear-filters' session_key='tasks_filter' trigger='tasksListChanged' %}">
            Clear Filters
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
