<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if edit %}
          Edit Task
        {% else %}
          Add Task
        {% endif %}
      </h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="task-form"
            hx-post="{{ request.path }}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact col3 tasks-form">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="task-form" class="submit">Submit</button>
      {% if edit %}
        <a href="#"
           class="delete-link"
           hx-confirm="Are you sure you want to delete this record?"
           hx-delete="{% url 'agenda:tasks-delete' id=task.id %}"
           hx-target="#htmx-modal-container">Delete Task</a>
      {% endif %}
    </div>
  </div>
</div>
