<div class="toolbar">
  <div class="toolbar-left">
    <div class="filter-tools">
      <button hx-get="{% url 'agenda:tasks-add' %}"
              hx-target="#htmx-modal-container"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container">
        <i class="bi bi-plus-lg"></i>
      </button>
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'agenda:tasks-filter' %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click"
              hx-swap="#outerHTML"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container">
        <i class="bi bi-filter"></i> &nbsp;Filter
      </button>
      <select hx-post="{% url 'agenda:tasks-filter-matter' %}"
              hx-target="#tasks"
              hx-swap="#outerHTML"
              class="select-property {% if matter_id %}toggle-active{% endif %}"
              name="matter">
        <option value="">Matters&nbsp;&nbsp;(All)</option>
        {% for matter in matters %}
          <option value="{{ matter.id }}"
                  {% if matter.id == matter_id %}selected{% endif %}>{{ matter.name }}</option>
        {% endfor %}
      </select>
      <select hx-post="{% url 'agenda:tasks-filter-term' %}"
              hx-target="#tasks"
              hx-swap="#outerHTML"
              class="select-property {% if term %}toggle-active{% endif %}"
              name="term">
        <option value="" {% if term == "" %}selected{% endif %}>Terms&nbsp;&nbsp;(All)&nbsp;&nbsp;&nbsp;&nbsp;</option>
        <option value="Current" {% if term == "Current" %}selected{% endif %}>Current</option>
        <option value="Long Term" {% if term == "Long Term" %}selected{% endif %}>Long Term</option>
      </select>
      <select hx-post="{% url 'agenda:tasks-filter-user' %}"
              hx-target="#tasks"
              hx-swap="#outerHTML"
              class="select-property {% if user_id %}toggle-active{% endif %}"
              name="user">
        <option value="">Users&nbsp;&nbsp;(All)&nbsp;&nbsp;&nbsp;&nbsp;</option>
        {% for user in users %}
          <option value="{{ user.id }}" {% if user.id == user_id %}selected{% endif %}>{{ user.username|title }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
<div class="tasks-add-quick"></div>
<div class="table-container table-responsive-xl">
  <table class="table tasks-table">
    <tr>
      <th class="status">
        <button class="btn-sort btn-task-status"
                hx-target="#tasks"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'status' %}">
          <i class="bi bi-check-square"></i>
        </button>
      </th>
      <th class="matter">
        Matter
        <button class="btn-sort"
                hx-target="#tasks"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'matter' %}">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th class="description">
        Description
        <button class="btn-sort"
                hx-target="#tasks"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'description' %}">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th>Term</th>
      <th>
        User
        <button class="btn-sort"
                hx-target="#tasks"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'user' %}">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th>
        Due
        <button class="btn-sort"
                hx-target="#tasks"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'date_due' %}">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th class="priority">
        <button class="btn-sort btn-task-status"
                hx-target="#tasks"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'priority' %}">
          <i class="bi bi-exclamation-square"></i>
        </button>
      </th>
    </tr>
    {% for task in objects %}
      <tr>
        <td class="status">{% include "agenda/tasks/status.html" %}</td>
        <td class="matter {% if task.status == 'Complete' %}complete{% endif %} {% if task.date_due < today %}urgent{% endif %}">
          {% if task.matter %}
            <a href="{% url 'matters:detail' task.matter.id %}">{{ task.matter_display_name }}</a>
          {% else %}
            Admin
          {% endif %}
        </td>
        <td id="task-description"
            class="description {% if task.date_due < today %}urgent{% endif %} {% if task.status == 'Complete' %}complete{% endif %}">
          <a href="#"
             hx-get="/agenda/tasks/{{ task.id }}/edit"
             hx-target="#htmx-modal-container"
             hx-trigger="click"
             data-bs-toggle="modal"
             data-bs-target="#htmx-modal-container"
             hx-swap="innerHTML">{{ task.description }}</a>
        </td>
        <td class="term {% if task.date_due < today %}urgent{% endif %} {% if task.status == 'Complete' %}complete{% endif %}">
          {% include "agenda/tasks/term.html" %}
        </td>
        <td class="user {% if task.date_due < today %}urgent{% endif %} {% if task.status == 'Complete' %}complete{% endif %}">
          {% include "agenda/tasks/user.html" %}
        </td>
        <td class="date {% if task.date_due < today %}urgent{% endif %} {% if task.status == 'Complete' %}complete{% endif %}">
          {% include "agenda/tasks/date-display.html" %}
        </td>
        <td class="priority {% if task.status == 'Complete' %}complete{% endif %} {% if task.date_due < today %}urgent{% endif %}">
          {% include "agenda/tasks/priority.html" %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% include "pagination.html" %}
</div>
