{% extends "activity/list.html" %}
{% block sub-content %}
  {% load humanize %}
  <div class="section">
    <div class="section-title">
      <div class="section-title-left">
        <h1>Tasks</h1>
        <div class="section-title-left-right"
             hx-target="#tasks-table"
             hx-swap="#outerHTML">
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'agenda:filter-tasks' %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">Filter</button>
          <a href="{% url 'agenda:filter-user' 'All' %}">All</a>
          <a href="{% url 'agenda:filter-user' 'james' %}">James</a>
          <a href="{% url 'agenda:filter-user' 'lexi' %}">Lexi</a>
        </div>
      </div>
    </div>
    {% include "agenda/task-form-add.html" %}
    {% include "agenda/tasks-table.html" %}
  </div>
{% endblock sub-content %}
