<div class="dropdown">
  <button class="button-link"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ task.priority }}</button>
  <ul class="dropdown-menu">
    {% for i in '123456789'|make_list %}
      <li>
        <a href="#"
           hx-get="/agenda/tasks/{{ task.id }}/task-priority/{{ forloop.counter }}"
           hx-target="closest .dropdown"
           hx-swap="outerHTML">{{ forloop.counter }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
