<div class="dropdown">
  <button class="button-link"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ task.priority }}</button>
  <ul class="dropdown-menu">
    {% for i in '12345'|make_list %}
      <li>
        <a class="dropdown-item"
           href="#"
           hx-swap="outerHTML"
           hx-get="{% url 'agenda:tasks-task-priority' task_id=task.id priority=forloop.counter %}"
           hx-target="closest .dropdown">{{ forloop.counter }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
