<div class="table-container">
  <table class="table tasks-table">
    <tr>
      <th class="status">
        <button class="btn-sort btn-task-status"
                hx-target="#task-table"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'status' %}">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th class="matter">
        Matter
        <button class="btn-sort"
                hx-target="#task-table"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'matter' %}">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th class="description">
        Description
        <button class="btn-sort"
                hx-target="#task-table"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'description' %}">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th>
        User
        <button class="btn-sort"
                hx-target="#task-table"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'user' %}">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th>
        Date Due
        <button class="btn-sort"
                hx-target="#task-table"
                hx-swap="innerHTML"
                hx-post="{% url 'agenda:tasks-filter-sort' 'date_due' %}">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
    </tr>
    {% for task in objects %}
      <tr>
        <td class="status">{% include "agenda/tasks/status.html" %}</td>
        <td class="matter">
          <a href={% url 'matters:detail' id=task.matter.id %}>{{ task.matter.name }}</a>
        </td>
        <td id="task-description"
            class="description {% if task.date_due <= today %}urgent{% endif %}">
          {% if task.priority %}
            <span class="urgent">
              <i class="bi bi-exclamation-lg"></i>
            </span>
          {% endif %}
          <a href="#"
             hx-get="/agenda/tasks/{{ task.id }}/edit"
             hx-target="#htmx-modal-container"
             hx-trigger="click"
             data-bs-toggle="modal"
             data-bs-target="#htmx-modal-container"
             hx-swap="innerHTML">{{ task.description }}</a>
        </td>
        <td class="user">{{ task.user.username|title }}</td>
        <td class="date">{{ task.date_due|date:"Y-m-d" }}</td>
      </tr>
    {% endfor %}
  </table>
  {% include "pagination.html" %}
</div>
