<div id="tasks-table" class="table-container">
  <table class="table tasks-table">
    <tr>
      <th class="status">
        <button class="btn-task-sort btn-task-status"
                hx-target="#tasks-table"
                hx-swap="outerHTML"
                hx-post="/agenda/tasks/filter/sort/status">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th class="matter">
        Matter
        <button class="btn-task-sort"
                hx-target="#tasks-table"
                hx-swap="outerHTML"
                hx-post="/agenda/tasks/filter/sort/matter">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th class="description">
        Description
        <button class="btn-task-sort"
                hx-target="#tasks-table"
                hx-swap="outerHTML"
                hx-post="/agenda/tasks/filter/sort/description">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
      <th>
        User
        <button class="btn-task-sort"
                hx-target="#tasks-table"
                hx-swap="outerHTML"
                hx-post="/agenda/tasks/filter/sort/user">
          <i class="bi bi-chevron-expand"></i>
        </button>
      </th>
    </tr>
    {% for task in objects %}
      <tr>
        <td id="task-status" class="status">{% include "agenda/tasks/status.html" %}</td>
        <td id="task-matter" class="matter">
          <a href={% url 'matters:detail' id=task.matter.id %}>{{ task.matter.name }}</a>
        </td>
        <td id="task-description" class="description">
          {% if task.priority %}
            <span class="priority">
              <i class="bi bi-exclamation-lg"></i>
            </span>
          {% endif %}
          <a href="#"
             hx-get="/agenda/tasks/{{ task.id }}/edit"
             hx-target="#htmx-modal-container"
             hx-trigger="click"
             data-bs-toggle="modal"
             data-bs-target="#htmx-modal-container"
             hx-swap="innerHTML">{{ task.description }}</a>
        </td>
        <td id="task-user" class="user">{% include "agenda/tasks/change-user.html" %}</td>
      </tr>
    {% endfor %}
  </table>
  {% include "pagination.html" %}
</div>
