<div class="dropdown">
  <button class="button-link"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ task.term|default:"No term set." }}</button>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'agenda:tasks-task-term' task_id=task.id term="Current" %}"
         hx-target="#tasks">Current</a>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'agenda:tasks-task-term' task_id=task.id term="Long Term" %}"
         hx-target="#tasks">Long Term</a>
    </li>
  </ul>
</div>
