<div class="dropdown">
  <button class="button-link"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ task.user.username|title }}</button>
  <ul class="dropdown-menu">
    {% for user in users %}
      <li>
        <a class="dropdown-item"
           href="#"
           hx-get="{% url 'agenda:tasks-task-user' task_id=task.id user=user.id %}"
           hx-target="#tasks"><i class="bi bi-person"></i> {{ user.username|title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
