<div class="dropdown" x-data="dropdown()">
  <button class="button-link"
          type="button"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">{{ task.focus|default:"None set" }}</button>
  <ul class="dropdown-menu" x-ref="menu" x-show="open">
    <li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'matters:tasks-focus' matter.id task.id 'Current' %}"
         hx-target="#matterTasks"
         hx-swap="outerHTML">Current</a>
      <li></li>
      <a class="dropdown-item"
         href="#"
         hx-post="{% url 'matters:tasks-focus' matter.id task.id 'Long Term' %}"
         hx-target="#matterTasks"
         hx-swap="outerHTML">Long Term</a>
    </li>
  </ul>
</div>
