<div class="toolbar">
  <div class="toolbar-left">
    <div class="filter-tools">
      <button hx-get="{% url 'matters:tasks-add' matter.id %}"
              hx-target="#htmx-modal-container"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container">
        <i class="bi bi-plus-lg"></i>
      </button>
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'matters:tasks-filter' matter.id %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click"
              hx-swap="#outerHTML"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container">
        <i class="bi bi-filter"></i> &nbsp;Filter
      </button>
      <button type="button"
              id="tasks-focus-filter"
              class="select-btn small-btn {% if focus %}toggle-active{% endif %}"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        {{ focus|default:"Focus (All)" }}
        <small>
          <i class="bi bi-chevron-down"></i>
        </small>
      </button>
      <ul class="dropdown-menu" hx-target="#matterTasks" hx-swap="outerHTML">
        <li>
          <a class="dropdown-item"
             href="#"
             hx-post="{% url 'matters:tasks-filter-focus' matter.id 'All' %}"
             hx-target="#matterTasks"
             hx-swap="#outerHTML">Focus&nbsp;&nbsp;(All)</a>
        </li>
        <li>
          <a class="dropdown-item {% if focus == 'Current' %}active{% endif %}"
             href="#"
             hx-post="{% url 'matters:tasks-filter-focus' matter.id 'Current' %}"
             hx-target="#matterTasks"
             hx-swap="#outerHTML">Current</a>
        </li>
        <li>
          <a class="dropdown-item {% if focus == 'Long Term' %}active{% endif %}"
             href="#"
             hx-post="{% url 'matters:tasks-filter-focus' matter.id 'Long Term' %}"
             hx-target="#matterTasks"
             hx-swap="#outerHTML">Long Term</a>
        </li>
      </ul>
      <button type="button"
              id="tasks-user-filter"
              class="select-btn small-btn {% if user_id %}toggle-active{% endif %}"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        {{ selected_user|default:"Users (All)" }}
        <small>
          <i class="bi bi-chevron-down"></i>
        </small>
      </button>
      <ul class="dropdown-menu" hx-target="#matterTasks" hx-swap="outerHTML">
        <li>
          <a class="dropdown-item"
             href="#"
             hx-post="{% url 'matters:tasks-filter-user' matter.id 0 %}"
             hx-target="#matterTasks"
             hx-swap="#outerHTML">Users&nbsp;&nbsp;(All)</a>
        </li>
        {% for user in users %}
          <li>
            <a class="dropdown-item {% if user.id == user_id %}active{% endif %}"
               href="#"
               hx-post="{% url 'matters:tasks-filter-user' matter.id user.id %}"
               hx-target="#matterTasks"
               hx-swap="#outerHTML">{{ user.username|title }}</a>
          </li>
        {% endfor %}
      </ul>
      <a href="{% url 'agenda:tasks-index' %}" class="return-to-agenda">
        <i class="bi bi-arrow-up-left-circle"></i>&nbsp; Back to Agenda
      </a>
    </div>
  </div>
</div>
{% include "matters/tasks/form-quick.html" %}
<div class="table-container">
  <table class="table tasks-table">
    <tr>
      <th class="priority">
        <button class="btn-sort btn-task-status"
                hx-target="#matterTasks"
                hx-swap="innerHTML"
                hx-post="{% url 'matters:tasks-filter-sort' matter.id 'priority' %}">
          <i class="bi bi-exclamation-square"></i>
        </button>
      </th>
      <th class="description">
        <button class="btn-sort"
                hx-target="#matterTasks"
                hx-swap="innerHTML"
                hx-post="{% url 'matters:tasks-filter-sort' matter.id 'description' %}">Description</button>
      </th>
      <th class="status">
        <button class="btn-sort"
                hx-target="#matterTasks"
                hx-swap="innerHTML"
                hx-post="{% url 'matters:tasks-filter-sort' matter.id 'status' %}">Status</button>
      </th>
      <th>
        <button class="btn-sort"
                hx-target="#matterTasks"
                hx-swap="innerHTML"
                hx-post="{% url 'matters:tasks-filter-sort' matter.id 'focus' %}">Focus</button>
      </th>
      <th>
        <button class="btn-sort"
                hx-target="#matterTasks"
                hx-swap="innerHTML"
                hx-post="{% url 'matters:tasks-filter-sort' matter.id 'user' %}">User</button>
      </th>
      <th>
        <button class="btn-sort"
                hx-target="#matterTasks"
                hx-swap="innerHTML"
                hx-post="{% url 'matters:tasks-filter-sort' matter.id 'date_due' %}">Due</button>
      </th>
    </tr>
    {% for task in objects %}
      <tr>
        <td class="priority {% if task.status == 'Complete' %}complete{% endif %} {% if task.date_due < today %}urgent{% endif %}">
          {% include "matters/tasks/priority.html" %}
        </td>
        <td id="task-description"
            class="description {% if task.date_due < today %}urgent{% endif %} {% if task.status == 'Complete' %}complete{% endif %}">
          <a href="#"
             hx-get="{% url 'matters:tasks-edit' matter.id task.id %}"
             hx-target="#htmx-modal-container"
             hx-trigger="click"
             data-bs-toggle="modal"
             data-bs-target="#htmx-modal-container"
             hx-swap="innerHTML">{{ task.description }}</a>
        </td>
        <td class="status">{% include "matters/tasks/status.html" %}</td>
        <td class="focus {% if task.date_due < today %}urgent{% endif %} {% if task.status == 'Complete' %}complete{% endif %}">
          {% include "matters/tasks/focus.html" %}
        </td>
        <td class="user {% if task.date_due < today %}urgent{% endif %} {% if task.status == 'Complete' %}complete{% endif %}">
          {% include "matters/tasks/user.html" %}
        </td>
        <td class="date {% if task.date_due < today %}urgent{% endif %} {% if task.status == 'Complete' %}complete{% endif %}">
          {% include "matters/tasks/date-display.html" %}
        </td>
      </tr>
    {% endfor %}
  </table>
  {% include "pagination.html" %}
</div>
