<div class="dropdown" x-data="dropdown()">
  <button class="button-link"
          type="button"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">{{ task.priority }}</button>
  <ul class="dropdown-menu" x-ref="menu" x-show="open">
    {% for i in "1234567890"|make_list %}
      <li>
        <a class="dropdown-item"
           href="#"
           hx-post="{% url 'matters:tasks-priority' matter.id task.id forloop.counter %}"
           hx-target="#matterTasks"
           hx-swap="outerHTML"><i class="icon-flag"></i> Priority {{ forloop.counter }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
