<div class="dropdown" x-data="dropdown()">
  <button class="button-link"
          type="button"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">{{ task.user.username|title }}</button>
  <ul class="dropdown-menu" x-ref="menu" x-show="open">
    {% for user in users %}
      <li>
        <a class="dropdown-item"
           href="#"
           hx-post="{% url 'matters:tasks-user' matter.id task.id user.id %}"
           hx-target="#matterTasks"
           hx-swap="outerHTML"><i class="icon-user"></i> {{ user.username|title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
