{% extends "base.html" %}
{% block content %}
  <div class="sub-nav">
    <ul>
      <li {% if tab == "events" %}class="active"{% endif %}>
        <a href="{% url 'agenda:set-tab' tab='events' %}">Events</a>
      </li>
      <li {% if tab == "tasks" %}class="active"{% endif %}>
        <a href="{% url 'agenda:set-tab' tab='tasks' %}">Tasks</a>
      </li>
    </ul>
  </div>
  {% if tab == "tasks" %}
    {% include "agenda/tasks.html" %}
  {% elif tab == "events" %}
    {% include "agenda/events.html" %}
  {% endif %}
{% endblock content %}
