{% extends "base.html" %}
{% block content %}
  <div id="content" class="container content">
    <div class="subnav">
      <ul>
        <li {% if subapp == "events" %}class="active"{% endif %}>
          <a href="{% url 'agenda:events-index' %}">Events</a>
        </li>
        <li {% if subapp == "tasks" %}class="active"{% endif %}>
          <a href="{% url 'agenda:tasks-select' %}">Tasks</a>
        </li>
      </ul>
    </div>
    <div class="section subsection">
      {% block subcontent %}
      {% endblock subcontent %}
    </div>
  </div>
{% endblock content %}
