{% extends "base.html" %}
{% block content %}
  <div class="sub-nav">
    <ul>
      <li {% if subpage == "events" %}class="active"{% endif %}>
        <a href="{% url 'agenda:set-tab' tab='events' %}">Events</a>
      </li>
      <li {% if subpage == "tasks" %}class="active"{% endif %}>
        <a href="{% url 'agenda:set-tab' tab='tasks' %}">Tasks</a>
      </li>
    </ul>
  </div>
  <div class="section sub-section">
    {% block sub-content %}
    {% endblock sub-content %}
  </div>
{% endblock content %}
