{% extends "base.html" %}
{% block content %}
  <div id="content" class="container content">
    <div class="subnav">
      <ul>
        <li {% if subapp == "events" %}class="active"{% endif %}>
          <a href="{% url 'agenda:events-index' %}">Events</a>
        </li>
        <li {% if subapp == "tasks" %}class="active"{% endif %}>
          <a href="{% url 'agenda:tasks-select' %}">Tasks</a>
        </li>
        {% if user.is_staff %}
          <li {% if subapp == "unbilled" %}class="active"{% endif %}>
            <a href="{% url 'agenda:unbilled-index' %}">Unbilled</a>
          </li>
          <li {% if subapp == "collection" %}class="active"{% endif %}>
            <a href="{% url 'agenda:collection-index' %}">Collection</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="section subsection">
      {% block subcontent %}
      {% endblock subcontent %}
    </div>
  </div>
{% endblock content %}
