<form
        class="task-form-add"
        method="post"
        action={% url 'agenda:add' %}
>

    {% csrf_token %}

    <label>
        <select name="matter">

            {% for matter in matters %}

                <option
                        value="{{ matter.id }}"
                        {% if agenda_matter == matter.id %}
                        selected
                        {% endif %}
                >
                    {{ matter.name }}
                </option>

            {% endfor %}

        </select>
    </label>

    <label class="task-input-description-label">
        <input
                type="text"
                class="tasks-input-description"
                name="description"
                required
                onchange="submit()"
        />
    </label>

</form>
