{% load humanize %}
<div class="section">
  <div class="section-title">
    <div class="section-title-left">
      <h1>Tasks</h1>
      <div class="section-title-left-right"
           hx-target="#tasks-table"
           hx-swap="#outerHTML">
        <a href="{% url 'agenda:filter-user' 'All' %}">All</a>
        <a href="{% url 'agenda:filter-user' 'james' %}">james</a>
        <a href="{% url 'agenda:filter-user' 'lexi' %}">lexi</a>
      </div>
    </div>
    <div class="section-title-right"
         hx-target="#tasks-table"
         hx-swap="#outerHTML">
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'agenda:filter-tasks' %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container">Filter</button>
      {% if not show_events %}
        <a href={% url 'agenda:toggle-events' %}>
          <i class="bi bi-calendar2"></i>
        </a>
      {% endif %}
    </div>
  </div>
  {% include "agenda/task-form-add.html" %}
  {% include "agenda/tasks-table.html" %}
</div>
