{% extends "billing/list.html" %}
{% block subcontent %}
  {% load humanize %}
  <div id="payment-list">
    <div class="section-title">
      <div class="section-title-left">
        <h1>Payments</h1>
        <div class="section-title-left-right">
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'billing:payments-add' %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-plus-lg"></i>
          </button>
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'billing:payments-filter' %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">Filter</button>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table class="table">
        <tr>
          <th class="number">Number</th>
          <th>Matter</th>
          <th class="date">Date</th>
          <th>Payment method</th>
          <th>Payment detail</th>
          <th class="payments-amount">Amount</th>
        </tr>
        {% for payment in objects %}
          {% include "billing/payments/row.html" %}
        {% endfor %}
      </table>
      <div class="flex-start-space">
        <div>{% include "pagination.html" %}</div>
        <div class="invoices-summary">
          <table>
            <tr>
              <th>Total Payments</th>
              <td class="payments-amount strong">${{ payments_total|floatformat:2|intcomma }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock subcontent %}
