{% extends "base.html" %}
{% block content %}
  <div class="sub-nav">
    <ul>
      <li {% if subpage == "time" %}class="active"{% endif %}>
        <a href="{% url 'activity:time-list' %}">Time</a>
      </li>
      <li {% if subpage == "expenses" %}class="active"{% endif %}>
        <a href="{% url 'activity:expenses-list' %}">Expenses</a>
      </li>
    </ul>
  </div>
  <div class="section sub-section">
    {% block sub-content %}
    {% endblock sub-content %}
  </div>
{% endblock content %}
