{% extends "base.html" %}
{% block content %}
  {% load humanize %}
  <div class="sub-nav">
    <ul>
      <li {% if tab == "time" %}class="active"{% endif %}>
        <a href="{% url 'activity:set-tab' tab='time' %}">Time</a>
      </li>
      <li {% if tab == "expenses" %}class="active"{% endif %}>
        <a href="{% url 'activity:set-tab' tab='expenses' %}">Expenses</a>
      </li>
    </ul>
  </div>
  {% if tab == "time" %}
    <div class="section sub-section">
      <div class="section-title">
        <div class="section-title-left">
          <h1>Time</h1>
          <div class="activity-row-filter">
            <a href={% url 'activity:quick-filter-unbilled' %}>Unbilled</a>
            <a href={% url 'activity:quick-filter-today' %}>Today</a>
            <form action="{% url 'activity:quick-filter-user' %}" method="post">
              {% csrf_token %}
              <select class="select-user" name="user" onchange="this.form.submit()">
                <option value="">All</option>
                {% for user in users %}
                  <option value="{{ user.id }}" {% if user.id == user_id %}selected{% endif %}>{{ user.username|title }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
        </div>
        <div class="section-title-right">
          <a href={% url 'activity:export' %}>
            <i class="bi bi-cloud-download"></i>
          </a>
          <button hx-get="{% url 'activity:filter-time-entries' %}"
                  hx-target="#htmx-modal-container"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">Filter</button>
          <button hx-get="/activity/add"
                  hx-target="#htmx-modal-container"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>
      <div class="table-container">
        <table class="table activity">
          <tr>
            <th class="date">Date</th>
            <th class="user">User</th>
            <th class="matter">Matter</th>
            <th class="actions">Actions</th>
            <th class="numeric hours">Hours</th>
            <th class="numeric rate">Rate</th>
            <th class="numeric fee">Fee</th>
          </tr>
          {% for entry in objects %}
            <tr>
              <td class="date">{{ entry.date|date:'Y-m-d' }}</td>
              <td class="user">{{ entry.user.symbol }}</td>
              <td class="matter">
                <a href={% url 'matters:detail' id=entry.matter.id %}>{{ entry.matter.name }}</a>
              </td>
              <td class="actions">
                {% if entry.invoice %}
                  {{ entry.actions }}
                {% else %}
                  <a href="#"
                     hx-get="{% url 'activity:edit' id=entry.id %}"
                     hx-target="#htmx-modal-container"
                     hx-trigger="click"
                     data-bs-toggle="modal"
                     data-bs-target="#htmx-modal-container">{{ entry.actions }}</a>
                {% endif %}
              </td>
              <td class="hours {% if not entry.entered and not entry.invoice %}urgent{% endif %}">
                {% if entry.invoice %}
                  {{ entry.hours|floatformat:1 }}
                {% else %}
                  <a href={% url 'activity:toggle-entered' id=entry.id %}>{{ entry.hours|floatformat:1 }}</a>
                {% endif %}
              </td>
              <td class="rate">
                {% if entry.comp %}
                  comp
                {% else %}
                  ${{ entry.rate }}
                {% endif %}
              </td>
              <td class="fee">
                {% if entry.comp %}
                  comp
                {% else %}
                  ${{ entry.fee|floatformat:2|intcomma }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <div class="flex-start-space">
        <div>{% include "pagination.html" %}</div>
        {% include "activity/summary_time.html" %}
      </div>
    </div>
  {% endif %}
  {% if tab == "expenses" %}
    <div class="section sub-section">
      <div class="section-title">
        <div class="section-title-left">
          <h1>Expenses</h1>
          <div class="activity-row-filter">
            <a href={% url 'activity:filter-quick' quick_filter='unbilled' %}>Unbilled</a>
            <a href={% url 'activity:filter-quick' quick_filter='today' %}>Today</a>
            <form action="{% url 'activity:filter-update' %}" method="post">
              {% csrf_token %}
              <select class="select-user" name="user" onchange="this.form.submit()">
                <option value="All">All</option>
                {% for user in users %}
                  <option value="{{ user.id }}" {% if user.id == user_id %}selected{% endif %}>{{ user.username|title }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
        </div>
        <div class="section-title-right">
          <button hx-get="{% url 'activity:filter' %}"
                  hx-target="#htmx-modal-container"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">Filter</button>
          <button data-bs-toggle="modal"
                  hx-target="#htmx-modal-container"
                  data-bs-target="#htmx-modal-container"
                  hx-get="{% url 'activity:add-expense' %}">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>
      <div class="table-container">
        <table class="table activity">
          <tr>
            <th class="date">Date</th>
            <th class="user">User</th>
            <th class="matter">Matter</th>
            <th class="actions">Description</th>
            <th class="numeric hours">Amount</th>
          </tr>
          {% for expense in objects %}
            <tr>
              <td class="date">{{ expense.date|date:'Y-m-d' }}</td>
              <td class="user">{{ expense.user.symbol }}</td>
              <td class="matter">
                <a href={% url 'matters:detail' id=expense.matter.id %}>{{ expense.matter.name }}</a>
              </td>
              <td class="actions">
                {% if expense.invoice %}
                  {{ expense.category }} - {{ expense.description }}
                {% else %}
                  <a href="#"
                     hx-get="/activity/{{ expense.id }}/edit_expense"
                     hx-target="#htmx-modal-container"
                     hx-trigger="click"
                     data-bs-toggle="modal"
                     data-bs-target="#htmx-modal-container">{{ expense.category }}
                  - {{ expense.description }}</a>
                {% endif %}
              </td>
              <td class="hours {% if not expense.entered and not expense.invoice %}urgent{% endif %}">
                {% if expense.invoice %}
                  {% if expense.comp %}
                    comp
                  {% else %}
                    ${{ expense.amount|floatformat:2|intcomma }}
                  {% endif %}
                {% else %}
                  {% if expense.comp %}
                    <a href={% url 'activity:toggle-entered-expense' id=expense.id %}>comp</a>
                  {% else %}
                    <a href={% url 'activity:toggle-entered-expense' id=expense.id %}>${{ expense.amount|floatformat:2|intcomma }}</a>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
        <div class="activty-under-table">
          {% include "pagination.html" %}
          {% include "activity/summary_expenses.html" %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
