<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Keyboard Shortcuts</h1>
      <div>
        <button type="button" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <table class="shortcuts-table">
        <tr>
          <th colspan="2">Leader Key (Space)</th>
        </tr>
        <tr>
          <td>
            <kbd>Space</kbd> <kbd>n</kbd>
          </td>
          <td>Create new (command palette)</td>
        </tr>
        <tr>
          <td>
            <kbd>Space</kbd> <kbd>m</kbd>
          </td>
          <td>Switch matter</td>
        </tr>
        <tr>
          <td>
            <kbd>Space</kbd> <kbd>g</kbd>
          </td>
          <td>Go to tab (nav switcher)</td>
        </tr>
        <tr>
          <td>
            <kbd>Space</kbd> <kbd>b</kbd>
          </td>
          <td>Toggle sidebar</td>
        </tr>
        <tr>
          <th colspan="2">Search</th>
        </tr>
        <tr>
          <td>
            <kbd>Space</kbd> <kbd>f</kbd> <kbd>f</kbd>
          </td>
          <td>Search all</td>
        </tr>
        <tr>
          <td>
            <kbd>Space</kbd> <kbd>f</kbd> <kbd>m</kbd>
          </td>
          <td>Search matters</td>
        </tr>
        <tr>
          <td>
            <kbd>Space</kbd> <kbd>f</kbd> <kbd>p</kbd>
          </td>
          <td>Search proceedings</td>
        </tr>
        <tr>
          <td>
            <kbd>Space</kbd> <kbd>f</kbd> <kbd>c</kbd>
          </td>
          <td>Search contacts</td>
        </tr>
        <tr>
          <td>
            <kbd>Space</kbd> <kbd>f</kbd> <kbd>i</kbd>
          </td>
          <td>Search intakes</td>
        </tr>
        <tr>
          <td>
            <kbd>Space</kbd> <kbd>f</kbd> <kbd>n</kbd>
          </td>
          <td>Search notes</td>
        </tr>
        <tr>
          <th colspan="2">Matter / Case Pages</th>
        </tr>
        <tr>
          <td>
            <kbd>c</kbd>
          </td>
          <td>Switch to Case view</td>
        </tr>
        <tr>
          <td>
            <kbd>d</kbd>
          </td>
          <td>Switch to Detail view</td>
        </tr>
        <tr>
          <th colspan="2">Palette Navigation</th>
        </tr>
        <tr>
          <td>
            <kbd>&uarr;</kbd> / <kbd>&darr;</kbd>
          </td>
          <td>Navigate items</td>
        </tr>
        <tr>
          <td>
            <kbd>Enter</kbd>
          </td>
          <td>Select item</td>
        </tr>
        <tr>
          <td>
            <kbd>Esc</kbd>
          </td>
          <td>Close</td>
        </tr>
      </table>
    </div>
  </div>
</div>
