{% extends "base.html" %}
{% block content %}
  <div class="subnav">
    <ul>
      <li {% if subapp == "profile" %}class="active"{% endif %}>
        <a href="{% url 'settings:profile-index' %}">Profile</a>
      </li>
      <li {% if subapp == "company" %}class="active"{% endif %}>
        <a href="{% url 'settings:company-index' %}">Company</a>
      </li>
      <li {% if subapp == "users" %}class="active"{% endif %}>
        <a href="{% url 'settings:users-index' %}">Users</a>
      </li>
      <li {% if subapp == "session" %}class="active"{% endif %}>
        <a href="{% url 'settings:settings' %}">Session</a>
      </li>
    </ul>
  </div>
  <div class="section subsection">
    {% block subcontent %}
    {% endblock subcontent %}
  </div>
{% endblock content %}
