<div class="section-header">
  <div class="toolbar">
    <div class="toolbar-left">
      <h1>{{ matter.name }}</h1>
      <div id="mode-pills" class="mode-pills">
        <a href="{% url 'matters:detail' id=matter.id %}"
           hx-get="{% url 'matters:mode-content' id=matter.id %}"
           hx-target="#mode-content"
           hx-push-url="{% url 'matters:detail' id=matter.id %}"
           class="mode-pill {% if mode == 'detail' %}active{% endif %}">Detail</a>
        <a href="{% url 'case:select-matter' matter.id %}"
           hx-get="{% url 'case:mode-content' matter_id=matter.id %}"
           hx-target="#mode-content"
           hx-push-url="{% url 'case:select-matter' matter.id %}"
           class="mode-pill {% if mode == 'case' %}active{% endif %}">Case</a>
      </div>
      <div class="filter-tools">{% include "matters/includes/action_buttons.html" %}</div>
    </div>
  </div>
</div>
