{% load humanize %}
<div class="toolbar timeline-toolbar">
  <div class="toolbar-left">
    <div class="filter-tools">
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'documents:timeline-add' %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container">
        <i class="bi bi-plus-lg"></i>
      </button>
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'documents:timeline-filter' %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container">
        <i class="bi bi-filter"></i>Filter
      </button>
      <button type="button"
              id="timeline-importance-filter"
              class="select-btn filter-dropdown-button {% if importance_value %}toggle-active{% endif %}"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        {% if selected_importance %}
          <div class="importance-arrow">
            <i class="bi bi-arrow-bar-up"></i>
          </div>
          <div class="importance-text">{{ selected_importance }}</div>
        {% else %}
          Importance
        {% endif %}
        <small>
          <i class="bi bi-chevron-down"></i>
        </small>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item"
             href="#"
             hx-get="{% url 'documents:timeline-filter-importance' 0 %}"
             hx-target="#timeline">All Levels</a>
        </li>
        {% for importance in importances %}
          <li>
            <a class="dropdown-item {% if importance == importance_value %}active{% endif %}"
               href="#"
               hx-get="{% url 'documents:timeline-filter-importance' importance %}"
               hx-target="#timeline">Importance {{ importance }}</a>
          </li>
        {% endfor %}
      </ul>
      <input type="text"
             id="timeline-keyword-input"
             name="keyword"
             placeholder="Keyword Search"
             value="{{ keyword }}"
             class="filter-input keyword-input"
             hx-get="{% url 'documents:timeline-filter-keyword' %}"
             hx-target="#timeline-table"
             hx-trigger="keyup changed delay:500ms"
             hx-include="this">
    </div>
  </div>
  <div class="toolbar-right">
    {% if facts %}
      <a href="{% url 'documents:timeline-pdf' %}"
         target="_blank"
         type="button"
         class="btn-icon">Download PDF</a>
    {% endif %}
  </div>
</div>
<div id="timeline-table">{% include "documents/timeline/table.html" %}</div>
