{% extends "print.html" %}
{% block content %}
  <div class="page-title">{{ matter.name }} - Case Timeline</div>
  <table class="table timeline-list">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Citation</th>
    </tr>
    {% if facts %}
      {% for fact in facts %}
        <tr class="{% if fact.color %}fact-color-{{ fact.color|lower }}{% endif %}">
          <td class="date">{{ fact.date|date:'Y-m-d' }}</td>
          <td class="description">{{ fact.description }}</td>
          <td class="citation">{{ fact.citations|slice:":25"|default_if_none:'' }}</td>
        </tr>
      {% endfor %}
    {% endif %}
  </table>
{% endblock content %}
