{% extends "base.html" %}
{# djlint:off #}{% block body_class %}has-subnav{% endblock body_class %}{# djlint:on #}
{% block content %}
  <div id="content" class="container content">
    <div class="detail">
      <nav class="subnav">
        <ul>
          <li {% if subapp == "history" %}class="active"{% endif %}>
            <a href="{% url 'research:history' %}">History</a>
          </li>
          <li {% if subapp == "search" %}class="active"{% endif %}>
            <a href="{% url 'research:index' %}">Search</a>
          </li>
          <li {% if subapp == "review" %}class="active"{% endif %}>
            <a href="{% url 'research:review-tab' %}">Review</a>
          </li>
        </ul>
      </nav>
      <div class="detail-body">
        {% block subcontent %}
        {% endblock subcontent %}
      </div>
    </div>
  </div>
{% endblock content %}
