<div class="modal-dialog modal-md" id="codes-modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if edit %}
          Edit Abbreviation Code
        {% else %}
          Add Abbreviation Code
        {% endif %}
      </h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="code-form"
            hx-post="{{ action }}"
            hx-target="#codes-modal-dialog"
            hx-swap="outerHTML"
            class="form-compact">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="code-form" class="submit">Submit</button>
      <button type="button"
              class="button-link"
              hx-get="{% url 'activity:codes-list' %}"
              hx-target="#codes-modal-dialog"
              hx-swap="outerHTML">Cancel</button>
    </div>
  </div>
</div>
