<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if edit %}
          Edit Expense Entry
        {% else %}
          Add Expense Entry
        {% endif %}
      </h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="expense-entry-form"
            hx-post="{{ action }}"
            hx-target="#htmx-modal-container"
            class="form-compact col2 expenses-form">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="expense-entry-form" class="submit">Submit</button>
      {% if edit %}
        <a href="#!"
           class="delete-link"
           hx-confirm="Are you sure you want to delete this record?"
           hx-post="{% url 'activity:expenses-delete' id=entry.id %}"
           hx-target="#htmx-modal-container">Delete Entry</a>
      {% endif %}
    </div>
  </div>
</div>
