{% block subcontent %}
  {% load humanize %}
  <div class="toolbar">
    <div class="toolbar-left">
      <div class="filter-tools">
        <button hx-get="/activity/expenses/add" hx-target="#htmx-modal-container">
          <i class="icon-plus"></i>
        </button>
        <button hx-get="{% url 'activity:expenses-filter' %}"
                hx-target="#htmx-modal-container"
                class="{% if filter_label == "custom" %}toggle-active{% endif %}">
          <i class="icon-list-filter with-text"></i>Filter
        </button>
        <a href="#"
           class="{% if filter_label == "unbilled" %}toggle-active{% endif %}"
           hx-post="{% url 'activity:expenses-filter-quick' 'unbilled' %}"><i class="icon-mail-x with-text"></i>Unbilled</a>
        <a class="{% if filter_label == "today" %}toggle-active{% endif %}"
           href="#"
           hx-post="{% url 'activity:expenses-filter-quick' 'today' %}"><i class="icon-calendar with-text"></i>Today</a>
      </div>
    </div>
    <div class="toolbar-right">
      <div class="dropdown" x-data="dropdown()">
        <button class="btn-icon"
                type="button"
                x-ref="button"
                @click="toggle()"
                :aria-expanded="open">
          <i class="icon-cloud-download"></i>
        </button>
        <ul class="dropdown-menu" x-ref="menu" x-show="open">
          <li>
            <a class="dropdown-item"
               href="{% url 'activity:expenses-export' 'standard' %}"
               onclick="javascript: return confirm('Are you sure you want to download records?')"><i class="icon-file-spreadsheet"></i> Standard</a>
          </li>
          <li>
            <a class="dropdown-item"
               href="{% url 'activity:expenses-export' 'clio' %}"
               onclick="javascript: return confirm('Are you sure you want to download records?')"><i class="icon-cloud-upload"></i> Clio</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table activity expenses-list">
      <tr>
        <th class="date">
          Date
          <button class="btn-sort {% if current_order == 'date' %}active{% endif %}"
                  hx-post="{% url 'activity:expenses-order-by' 'date' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="user">User</th>
        <th class="matter">
          Matter
          <button class="btn-sort {% if current_order == 'matter' %}active{% endif %}"
                  hx-post="{% url 'activity:expenses-order-by' 'matter' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="actions">
          Description
          <button class="btn-sort {% if current_order == 'description' %}active{% endif %}"
                  hx-post="{% url 'activity:expenses-order-by' 'description' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="amount">Amount</th>
      </tr>
      <tr id="expense-table"></tr>
      {% for expense in objects %}
        <tr id="expense-{{ expense.id }}">{% include "activity/expenses/table-row.html" %}</tr>
      {% empty %}
        <tr>
          <td colspan="5" class="empty-message">No expense entries found.</td>
        </tr>
      {% endfor %}
    </table>
    <div class="flex-start-space">
      <div>{% include "pagination.html" %}</div>
      {% include "activity/expenses/summary.html" %}
    </div>
  </div>
{% endblock subcontent %}
