{% block subcontent %}
  {% load humanize %}
  <div class="toolbar">
    <div class="toolbar-left">
      <div class="filter-tools">
        <button hx-get="/activity/expenses/add"
                hx-target="#htmx-modal-container"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
        <button hx-get="{% url 'activity:expenses-filter' %}"
                hx-target="#htmx-modal-container"
                class="{% if filter_label == "custom" %}toggle-active{% endif %}"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-filter"></i> &nbsp;Filter
        </button>
        <a href="#"
           class="{% if filter_label == "unbilled" %}toggle-active{% endif %}"
           hx-post="{% url 'activity:expenses-filter-quick' 'unbilled' %}">Unbilled</a>
        <a class="{% if filter_label == "today" %}toggle-active{% endif %}"
           href="#"
           hx-post="{% url 'activity:expenses-filter-quick' 'today' %}">Today</a>
        <form hx-post="{% url 'activity:expenses-filter-user' %}"
              hx-trigger="change from:select">
          {% csrf_token %}
          <select class="select-user" name="user">
            <option value="">All</option>
            {% for user in users %}
              <option value="{{ user.id }}" {% if user.id == user_id %}selected{% endif %}>{{ user.username|title }}</option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
    <div class="toolbar-right">
      <div class="dropdown">
        <button class="btn-icon"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          <i class="bi bi-cloud-download"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item"
               href="{% url 'activity:expenses-export' 'standard' %}"
               onclick="javascript: return confirm('Are you sure you want to download records?')">Standard</a>
          </li>
          <li>
            <a class="dropdown-item"
               href="{% url 'activity:expenses-export' 'clio' %}"
               onclick="javascript: return confirm('Are you sure you want to download records?')">Clio</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table activity">
      <tr>
        <th class="date">
          Date
          <a href="#" hx-post={% url 'activity:expenses-order-by' 'date' %}>
            <i class="bi bi-chevron-expand"></i>
          </a>
        </th>
        <th class="user">User</th>
        <th class="matter">
          Matter
          <a href="#" hx-post={% url 'activity:expenses-order-by' 'matter' %}>
            <i class="bi bi-chevron-expand"></i>
          </a>
        </th>
        <th class="actions">
          Description
          <a href="#" hx-post={% url 'activity:expenses-order-by' 'description' %}>
            <i class="bi bi-chevron-expand"></i>
          </a>
        </th>
        <th class="numeric hours">Amount</th>
      </tr>
      <tr id="expense-table"></tr>
      {% for expense in objects %}
        <tr id="expense-{{ expense.id }}">{% include "activity/expenses/table-row.html" %}</tr>
      {% endfor %}
    </table>
    <div class="flex-start-space">
      <div>{% include "pagination.html" %}</div>
      {% include "activity/expenses/summary.html" %}
    </div>
  </div>
{% endblock subcontent %}
