
.contact-group-heading {
  margin: 15px 0 0 5px;
}

.matter-contacts	{
  margin: 10px 0 10px 0;
  width: 100%;
}

.matter-contacts .name {
  width: 250px;
}

.matter-contacts .phone1 {
  width: 150px;
}

.matter-contacts .relationship	{
  width: 200px;
}

.matter-contacts .email	{
  width: 400px;
}

.main-client {
  background: var(--stone-150) !important;
}


/* ------------------------------------------------------------------------- */
/* assign a contact */
/* ------------------------------------------------------------------------- */

.assign-search {
  margin: 1rem 0 0 1rem;
}

#assign-search-input {
  margin: 0;
  max-width: 400px;
  width: 100%;
}

.assign-results {
  padding: 0;
}

.assign-results li {
  background: var(--stone-50);
  border: solid 1px var(--stone-300);
  border-top: none;
  max-width: 400px;
  width: 100%;
}

.assign-results li:hover {
  background: var(--stone-100);
}

.assign-results li > a {
  display: block;
  padding: 7px;
  width: 100%;
}

.assign-role {
  margin: 1rem 0 0 1rem;
  max-width: 700px;
}

.role {
  margin-left: 0;
  width: 350px;
}
