
/* ------------------------------------------------
form
------------------------------------------------ */

.events-form #id_date,
.events-form #id_matter,
.events-form #id_party,
.events-form #id_status {
  width: 100% !important;
}


/* ------------------------------------------------
display
------------------------------------------------ */

.events-list {
  min-width: 58rem;
  width: 100%;
}

.events-list .date {
  width: 8.75rem;
}

.events-list .party {
  width: 7.5rem;
}

.events-list .description {
  min-width: 18rem;
}

.events-list .duration {
  width: 7rem;
}

.events-list .location {
  width: 8rem;
}

.events-list .status {
  width: 8.75rem;
}
