
/*------------------------------------------------
form
------------------------------------------------*/

.events-form #id_date,
.events-form #id_matter,
.events-form #id_party,
.events-form #id_status {
  width: 100% !important;
}


/*------------------------------------------------
display
------------------------------------------------*/

.events-list {
  margin: 10px 0 5px 0;
  width: 100%;
}

.events-list .date {
  width: 140px;
}

.events-list .party	{
  width: 120px;
}

.events-list .status {
  width: 140px;
}
