
/*------------------------------------------------
display
------------------------------------------------*/

.events-list {
  margin: 10px 0 5px 0;
  width: 100%;
}

.events-list .date {
  width: 140px;
}

.events-list .party	{
  width: 120px;
}

.events-list .status {
  width: 140px;
}
