.ledger-totals {
  border: solid 1px var(--border-medium);
  border-collapse: separate;
  border-radius: var(--radius-md);
  border-spacing: 0;
  margin-bottom: 1.5rem;
  width: 100%;
}

.ledger-totals th,
.ledger-totals td {
  border-bottom: solid 1px var(--border-medium);
  padding: 0.625rem 1rem;
}

.ledger-totals th {
  border-right: solid 1px var(--border-medium);
  font-weight: normal;
  text-align: left;
}

.ledger-totals tr.total th,
.ledger-totals tr.total td {
  font-weight: 500;
}

.ledger-totals td {
  border-right: none;
  width: 25rem;
}

.ledger-totals tr:last-child th,
.ledger-totals tr:last-child td {
  border-bottom: none;
}

/* Corner rounding */
.ledger-totals tr:first-child th {
  border-top-left-radius: calc(var(--radius-md) - 1px);
}

.ledger-totals tr:first-child td {
  border-top-right-radius: calc(var(--radius-md) - 1px);
}

.ledger-totals tr:last-child th {
  border-bottom-left-radius: calc(var(--radius-md) - 1px);
}

.ledger-totals tr:last-child td {
  border-bottom-right-radius: calc(var(--radius-md) - 1px);
}

.ledger {
  min-width: 68rem;
}

.ledger .date {
  width: 12.5rem;
}

.ledger .type {
  width: 12.5rem;
}

.ledger .description {
  min-width: 18rem;
}

.ledger .numeric {
  width: 12.5rem;
}

.totals-table .total {
  width: 12.5rem;
}
