

/*------------------------------------------------
Display
------------------------------------------------*/

.proceedings-list {
  min-width: 52rem;
  width: 100%;
}

.proceedings-list .date-filed {
  width: 7.5rem;
}

.proceedings-list .case-no {
  width: 12.5rem;
}

.proceedings-list .forum {
  min-width: 18rem;
}

.proceedings-list .status {
  width: 7.5rem;
}

.proceedings-list .primary {
  width: 6.5rem;
}


/*------------------------------------------------
Form
------------------------------------------------*/

.proceedings-form #id_case_number {
  width: 16rem;
}

.proceedings-form #id_status {
  width: 8.75rem;
}
