

/*------------------------------------------------
Display
------------------------------------------------*/

.proceedings-list {
  margin: 10px 0 5px 0;
  width: 100%;
}

.proceedings-list .date-filed {
  width: 120px;
}

.proceedings-list .case-no	{
  width: 200px;
}

.proceedings-list .status {
  width: 120px;
}


/*------------------------------------------------
Form
------------------------------------------------*/

.proceedings-form #id_case_number {
  width: 250px;
}

.proceedings-form #id_status {
  width: 140px;
}
