

/* ------------------------------------------------
Display
------------------------------------------------ */

.settlement-list {
  min-width: 48rem;
  width: 100%;
}

.settlement-list .date,
.settlement-list .type,
.settlement-list .medium {
  width: 7.5rem;
}

.settlement-list .notes {
  min-width: 18rem;
}

.settlement-list .amount {
  text-align: right;
  width: 10rem;
}


/* ------------------------------------------------
Form
------------------------------------------------ */

.settlement-form #id_medium,
.settlement-form #id_type,
.settlement-form #id_amount {
  width: 9rem;
}

.settlement-form #id_notes {
  width: 25rem;
}
