

/*------------------------------------------------
Display
------------------------------------------------*/


.timeline-list {
  margin: 10px 0 5px 0;
}

.timeline-list .date-time {
  width: 200px;
}


.timeline-list .citations {
  width: 350px}


.fact-color-blue {
  background: var(--sky-50) !important; /* Using sky instead of blue for better distinction */
}

.fact-color-gray {
  background: var(--slate-50) !important; /* Using slate for better gray contrast */
}

.fact-color-green {
  background: var(--green-50) !important;
}

.fact-color-orange {
  background: var(--orange-50) !important;
}

.fact-color-purple {
  background: var(--purple-50) !important;
}

.fact-color-red {
  background: var(--red-50) !important;
}

.fact-color-yellow {
  background: var(--yellow-50) !important;
}

.edit-fact-description-input {
  background: inherit;
  border: none;
  padding: 0;
  width: 100%;
}

.edit-fact-citations-input {
  background: inherit;
  border: none;
  padding: 0;
  width: 100%;
}


/*------------------------------------------------
Form
------------------------------------------------*/

.timeline-form #id_fact {
  border: none;
  width: 700px;
}

.timeline-form #id_description {
  width: 500px;
}


.timeline-form #id_citations {
  width: 350px;
}

.timeline-form #id_emphasis {
  width: 120px;
}

.timeline-form .print-link {
  margin-top: 15px;
  text-align: right;
}
