<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Filter Payments</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="payments-filter-form"
            class="form-responsive form-spacious filter"
            hx-target="#htmx-modal-container"
            hx-post="{% url 'invoicing:payments-filter' %}">
        {% csrf_token %}
        {{ filter.form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="payments-filter-form" class="submit">Apply</button>
      <a class="btn-icon"
         href="#"
         hx-post="{% url 'management:clear-filters' session_key='payments_filter' trigger='paymentsChanged' %}">Restore Defaults</a>
    </div>
  </div>
</div>
