{% block subcontent %}
  {% load humanize %}
  <div id="payment-list">
    <div class="toolbar">
      <div class="toolbar-left">
        <div class="filter-tools">
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'invoicing:payments-add' %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="icon-plus"></i>
          </button>
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'invoicing:payments-filter' %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="icon-list-filter with-text"></i>Filter
          </button>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table class="table payments">
        <tr>
          <th class="id">ID</th>
          <th class="date">
            Date
            <button class="btn-sort {% if current_order == 'date' %}active{% endif %}"
                    hx-post="{% url 'invoicing:payments-order-by' 'date' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
          <th class="matter">
            Matter
            <button class="btn-sort {% if current_order == 'matter' %}active{% endif %}"
                    hx-post="{% url 'invoicing:payments-order-by' 'matter' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
          <th class="method">
            Method
            <button class="btn-sort {% if current_order == 'payment_method' %}active{% endif %}"
                    hx-post="{% url 'invoicing:payments-order-by' 'payment_method' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
          <th class="detail">
            Detail
            <button class="btn-sort {% if current_order == 'detail' %}active{% endif %}"
                    hx-post="{% url 'invoicing:payments-order-by' 'detail' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
          <th class="amount">Amount</th>
          <th class="amount">Unapplied</th>
        </tr>
        {% for payment in objects %}
          {% include "invoicing/payments/row.html" %}
        {% empty %}
          <tr>
            <td colspan="7" class="empty-message">No payments found.</td>
          </tr>
        {% endfor %}
      </table>
      <div class="flex-start-space">
        <div>{% include "pagination.html" %}</div>
        <div class="totals-table">
          <table>
            <tr>
              <th>Total Payments</th>
              <td class="numeric strong">${{ payments_total|floatformat:2|intcomma }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock subcontent %}
