# Generate secret key on site: https://djecrety.ir/
SECRET_KEY=[string]

# Always set DEBUG to False in production
DEBUG=[boolean]

# Environment of the deployed application (dev, staging, prod..)
ENV=[string]

# Comma separated list of hosts where the application is allowed to run, example:
ALLOWED_HOSTS='127.0.0.1,localhost'

# Name of the site
SITE_NAME=[string]

# Database settings
DB_NAME=[string]
DB_USER=[string]
DB_PASSWORD=[string]

# Admins that will receive error emails, needs to be a list of tuples, example:
ADMINS=[('John Doe', 'john@mail.com')]

# Email settings
EMAIL_HOST=[string]
EMAIL_HOST_USER=[string]
EMAIL_HOST_PASSWORD=[string]
SERVER_EMAIL=[string]

# ID of the Google Calendar where events will be created
CALENDAR_ID=[string]
