<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Rename Conversation</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')"><i class="icon-x"></i></a>
      </div>
    </div>
    <div class="modal-body">
      <form id="rename-conversation-form"
            hx-post="{% url 'case:ai-rename-conversation' conversation.id %}"
            hx-target="#htmx-modal-container"
            class="form-compact">
        {% csrf_token %}
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text"
                 name="title"
                 id="title"
                 value="{{ conversation.title }}"
                 class="form-control"
                 autofocus
                 required>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="rename-conversation-form" class="btn btn-success">Save</button>
    </div>
  </div>
</div>
