<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Filter Unbilled</h1>
      <div>
        <button type="button" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form id="unbilled-filter-form"
            class="form-responsive form-spacious filter"
            hx-target="#htmx-modal-container"
            hx-post="{% url 'invoicing:unbilled-filter' %}">
        {% csrf_token %}
        <label for="activity_period">Activity Period</label>
        <div>
          <select id="activity_period" name="activity_period">
            <option value="" {% if not activity_period %}selected{% endif %}>All Activity</option>
            <option value="current_month"
                    {% if activity_period == "current_month" %}selected{% endif %}>Current Month</option>
            <option value="prior_month"
                    {% if activity_period == "prior_month" %}selected{% endif %}>Prior Month</option>
          </select>
        </div>
        <label for="order_by">Sort By</label>
        <div>
          <select id="order_by" name="order_by">
            <option value="-total_activity"
                    {% if order_by == "-total_activity" %}selected{% endif %}>Activity (High to Low)</option>
            <option value="total_activity"
                    {% if order_by == "total_activity" %}selected{% endif %}>Activity (Low to High)</option>
            <option value="name" {% if order_by == "name" %}selected{% endif %}>Matter (A to Z)</option>
            <option value="-name" {% if order_by == "-name" %}selected{% endif %}>Matter (Z to A)</option>
            <option value="-unbilled_fees"
                    {% if order_by == "-unbilled_fees" %}selected{% endif %}>Fees (High to Low)</option>
            <option value="unbilled_fees"
                    {% if order_by == "unbilled_fees" %}selected{% endif %}>Fees (Low to High)</option>
            <option value="last_invoice_date"
                    {% if order_by == "last_invoice_date" %}selected{% endif %}>Last Invoice (Oldest First)</option>
            <option value="-last_invoice_date"
                    {% if order_by == "-last_invoice_date" %}selected{% endif %}>Last Invoice (Newest First)</option>
          </select>
        </div>
        <label for="last_invoice_before">Last Invoice Before</label>
        <div>
          <input type="date"
                 id="last_invoice_before"
                 name="last_invoice_before"
                 value="{{ last_invoice_before }}">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-secondary"
              hx-post="{% url 'management:clear-filters' session_key='unbilled_filter' trigger='unbilledListChanged' %}">
        Restore Defaults
      </button>
      <button type="submit" form="unbilled-filter-form" class="btn btn-success">Apply</button>
    </div>
  </div>
</div>
