{% extends "base.html" %}
{% block content %}
  <div class="section">
    <div class="section-title">
      <div class="section-title-left">
        <h1>{{ matter.name }}</h1>
        <div class="section-title-left-right">
          <button hx-get="/activity/time/add/{{ matter.id }}"
                  hx-target="#htmx-modal-container"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">+ Time</button>
          <button hx-get="/activity/expenses/add/{{ matter.id }}"
                  hx-target="#htmx-modal-container"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">+ Expense</button>
          <a href={% url 'matters:print' id=matter.id %}>
            <i class="bi bi-printer"></i>
          </a>
          <a href={% url 'matters:edit' id=matter.id %}>
            <i class="bi bi-pencil"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="matter-data">
      <table>
        <tr>
          <td class="strong">Matter No.</td>
          <td>{{ matter.id }}</td>
        </tr>
        <tr>
          <td class="strong">Clio No.</td>
          <td>{{ matter.clio_matter_id|slice:'0:5'|default:'' }}</td>
        </tr>
      </table>
      <table>
        <tr>
          <td class="strong">Open Date</td>
          <td>{{ matter.date_start|date:'Y-m-d' }}</td>
        </tr>
        <tr>
          <td class="strong">Practice Area</td>
          <td>{{ matter.practice_area }}</td>
        </tr>
      </table>
      {% if proceeding %}
        <table>
          <tr>
            <td class="strong">Forum</td>
            <td>{{ proceeding.forum }}</td>
          </tr>
          <tr>
            <td class="strong">Case No.</td>
            <td>{{ proceeding.case_number }}</td>
          </tr>
        </table>
        {% if matter.client_reference_id %}
          <table>
            <tr>
              <td class="strong">Client Reference Id.</td>
              <td>{{ matter.client_reference_id|default:'' }}</td>
            </tr>
          </table>
        {% endif %}
      {% endif %}
    </div>
  </div>
  <div class="subnav">
    <ul>
      <li {% if submodule == 'rates' %}class="active"{% endif %}>
        <a href={% url 'matters:rates' id=matter.id %}>Rates</a>
      </li>
      <li {% if submodule == 'activity' %}class="active"{% endif %}>
        <a href={% url 'matters:activity' id=matter.id %}>Activity</a>
      </li>
      <li {% if submodule == 'events' %}class="active"{% endif %}>
        <a href={% url 'matters:events' id=matter.id %}>Events</a>
      </li>
      <li {% if submodule == 'contacts' %}class="active"{% endif %}>
        <a href={% url 'matters:contacts' id=matter.id %}>Contacts</a>
      </li>
      <li {% if submodule == 'proceedings' %}class="active"{% endif %}>
        <a href={% url 'matters:proceedings' id=matter.id %}>Proceedings</a>
      </li>
      <li {% if submodule == 'settlement' %}class="active"{% endif %}>
        <a href={% url 'matters:settlement' id=matter.id %}>Settlement</a>
      </li>
      <li {% if submodule == 'timeline' %}class="active"{% endif %}>
        <a href={% url 'matters:timeline' id=matter.id %}>Timeline</a>
      </li>
      <li {% if submodule == 'ledger' %}class="active"{% endif %}>
        <a href={% url 'matters:ledger' id=matter.id %}>Ledger</a>
      </li>
    </ul>
  </div>
  <div class="section subsection">
    {% block subcontent %}
    {% endblock subcontent %}
  </div>
{% endblock content %}
