<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if edit %}
          Edit Matter
        {% else %}
          Add Matter
        {% endif %}
      </h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="matter-form"
            hx-post="{{ action }}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact col2 matter-form">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="matter-form" class="submit">Submit</button>
      {% if edit %}
        <a href="#"
           class="delete-link"
           hx-get="{% url 'matters:delete' id=matter.id %}"
           hx-target="#htmx-modal-container .modal-dialog"
           hx-swap="outerHTML">Delete Matter</a>
      {% endif %}
    </div>
  </div>
</div>
