<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if edit %}
          Edit Matter
        {% else %}
          Add Matter
        {% endif %}
      </h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="matter-form"
            hx-post="{{ action }}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact col2 matter-form">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      {% if edit %}
        <button type="button"
                class="btn btn-danger"
                hx-get="{% url 'matters:delete' id=matter.id %}"
                hx-target="#htmx-modal-container .modal-dialog"
                hx-swap="outerHTML">Delete Matter</button>
      {% else %}
        <button type="button"
                class="btn btn-secondary"
                @click="$dispatch('close-modal')">Cancel</button>
      {% endif %}
      <button type="submit" form="matter-form" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
