{% extends "base.html" %}
{% load humanize %}
{% block content %}
  <div class="section">
    <div class="section-title">
      <div class="section-title-left">
        <h1>{{ filter.status }} Matters ({{ number_matters }})</h1>
        <div class="section-title-left-right">
          <a href={% url 'matters:add' %}><i class="bi bi-plus-lg"></i></a>
          <button hx-get="/matters/filter"
                  hx-target="#htmx-modal-container"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">Filter</button>
          <a href={% url 'matters:filter-quick' 'open' %}>Open</a>
        </div>
      </div>
      <div class="section-title-right"></div>
    </div>
    <div class="table-container">
      <table id="matter-list" class="table matter-list">
        <tr>
          <th class="matter-name">
            Matter
            <a href={% url 'matters:order-by' 'name' %}>
              <i class="bi bi-chevron-expand"></i>
            </a>
          </th>
          <th>
            Description / Status
            <a href={% url 'matters:order-by' 'description' %}>
              <i class="bi bi-chevron-expand"></i>
            </a>
          </th>
          <th class="numeric unbilled">Unbilled</th>
          <th class="id numeric">ID</th>
        </tr>
        {% if matters %}
          {% for matter in matters %}
            <tr>
              <td class="name">
                <a href={% url 'matters:detail' id=matter.id %}>{{ matter.name }}</a>
              </td>
              <td>
                <!-- -------------------------------------------------------- -->
                <!-- normal display, show matter link -->
                <!-- -------------------------------------------------------- -->
                <button class="button-link show-status-form-button"
                        onclick="showStatusForm()">{{ matter.description }}</button>
                <!-- -------------------------------------------------------- -->
                <!-- edit status form -->
                <!-- -------------------------------------------------------- -->
                <form class="edit-status"
                      method="post"
                      action="{% url 'matters:edit-description' id=matter.id %}">
                  {% csrf_token %}
                  <label>
                    <input type="text"
                           class="edit-status-input"
                           name="description"
                           onchange="submit()"
                           onblur="hideStatusForm()"
                           value="{{ matter.description }}"
                           required />
                  </label>
                </form>
              </td>
              <td class="numeric unbilled">${{ matter.unbilled|floatformat:2|intcomma }}</td>
              <td class="id numeric">{{ matter.id }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
