
{% extends "base.html" %}

{% block content %}

  <div class="section-title">

    <div class="section-title-left">

      <h1>
          {{ filter.status }} Matters ({{ number_matters }})
      </h1>

      <div class="section-title-left-right">

        <button
          hx-get="/matters/add"
          hx-target="#htmx-modal-container"
          data-bs-toggle="modal"
          data-bs-target="#htmx-modal-container"
        >
          <i class="bi bi-plus-lg"></i>
      </button>

        <button
          hx-get="/matters/filter"
          hx-target="#htmx-modal-container"
          data-bs-toggle="modal"
          data-bs-target="#htmx-modal-container"
        >
          <i class="bi bi-funnel"></i>
        </button>

        <a href="/matters/filter/open">
          Open
        </a>

      </div>

    </div>

    <div class="card-title-right">
    </div>

  </div>

  <div style="overflow-x:auto">
  <table id="matter-list" class="table">

    <tr>
      <th class="matter-name">

        <a href="/matters/sort/name">
          Matter
          <i class="bi bi-chevron-expand"></i>
        </a>

      <th>

        <a href="/matters/sort/description">
          Description / Status
          <i class="bi bi-chevron-expand"></i>
        </a>

      <th>

        Ref. No.

      {% if matters %}

      {% for matter in matters %}

      <tr>

        <td class="matter-name">
          <a href="/matters/{{ matter.id }}">{{ matter.name }}</a>

        <td>

          <!-- -------------------------------------------------------- -->
          <!-- normal display, show matter link -->
          <!-- -------------------------------------------------------- -->

          <button class="button-link show-status-form-button" onclick="showStatusForm()">
              {{ matter.description }}
          </button>

          <!-- -------------------------------------------------------- -->
          <!-- edit status form -->
          <!-- -------------------------------------------------------- -->

          <form
            class="edit-status"
            action="/matters/{{ matter.id }}/edit-description"
            method="post">

            {% csrf_token %}

            <input
                type="text"
                class="edit-status-input"
                name="description"
                onchange="submit()"
                onblur="hideStatusForm()"
                value="{{ matter.description }}"
                required>

          </form>

        <td class="ref-no">
          {{ matter.ref_no|default:'' }}

    {% endfor %}
    {% endif %}

  </table>
  </div>

{% endblock content %}
