{% load humanize %}
{% block content %}
  <div class="section">
    <div class="toolbar">
      <div class="toolbar-left">
        <div class="filter-tools">
          <a href="#"
             hx-get="{% url 'matters:add' %}"
             hx-target="#htmx-modal-container"
             hx-trigger="click"
             data-bs-toggle="modal"
             data-bs-target="#htmx-modal-container"><i class="bi bi-plus-lg"></i></a>
          <button hx-get="/matters/filter"
                  hx-target="#htmx-modal-container"
                  class="{% if filter_label == "custom" %}toggle-active{% endif %}"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-filter"></i>Filter
          </button>
          <button class="{% if filter_label == "Pending" %}toggle-active{% endif %}"
                  hx-post="{% url 'matters:filter-quick-status' 'Pending' %}">Pending</button>
          <button class="{% if filter_label == "Open" %}toggle-active{% endif %}"
                  hx-post="{% url 'matters:filter-quick-status' 'Open' %}">Open</button>
          <button class="{% if filter_label == "Complete" %}toggle-active{% endif %}"
                  hx-post="{% url 'matters:filter-quick-status' 'Complete' %}">Complete</button>
        </div>
      </div>
      <div class="toolbar-right">
        <span class="app-badge app-badge-lg">Count: {{ number_matters }}</span>
      </div>
    </div>
    <div class="table-container">
      <table id="matter-list" class="table matter-list">
        <tr>
          <th class="name">
            Matter
            <button class="btn-sort {% if current_order == 'name' %}active{% endif %}"
                    hx-post="{% url 'matters:order-by' 'name' %}">
              <i class="bi bi-chevron-expand"></i>
            </button>
          </th>
          <th class="work-status">
            Work Status
            <button class="btn-sort {% if current_order == 'description' %}active{% endif %}"
                    hx-post="{% url 'matters:order-by' 'description' %}">
              <i class="bi bi-chevron-expand"></i>
            </button>
          </th>
          <th class="case-no">Case No.</th>
        </tr>
        {% for matter in matters %}
          {% include "matters/row.html" %}
        {% empty %}
          <tr>
            <td colspan="3" class="empty-message">No matters found.</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="flex-start-space">
      <div>{% include "pagination.html" %}</div>
    </div>
  </div>
{% endblock content %}
