

{% extends "print.html" %}

{% load phone_number %}
{% load humanize %}

{% block content %}

<div class="page-title">

  {{ matter.name }} - Case Detail Sheet

</div>

<div class="section details">

  <div class="matter-data">

    <div class="description">

        {{ matter.description }}

    </div>

    <div class="matter-data-tables">

      <table>

        <tr>
          <td class="strong">Matter No.
          <td>{{ matter.id }}

          <tr>
            <td class="strong">File No.
            <td>{{ matter.firm_file_no|slice:'0:5'|default:'' }}

          <tr>
            <td class="strong">Ref No.
            <td>{{ matter.ref_no|default:'' }}

        </table>

        <table>

          <tr>
            <td class="strong">Open Date
            <td>{{ matter.date_start|date:'Y-m-d' }}

          <tr>
            <td class="strong">Practice Area
            <td>{{ matter.practice_area }}

          <tr>
            <td class="strong">Firm Rate
            <td>${{ matter.firm_rate }}

        </table>

        {% if proceeding %}

        <table>

          <tr>
            <td class="strong">Forum
            <td>{{ proceeding.forum }}

          <tr>
            <td class="strong">Case No.
            <td><strong>{{ proceeding.case_number }}</strong>

          <tr>
            <td class="strong">Filed
            <td>{{ proceeding.date_filed|date:'Y-m-d' }}

      </table>

      {% endif %}

    </div> <!-- tables -->

  </div>

</div>

<div class="section contacts">

  <div class="section-title contacts">
    Contacts
  </div>

{% if relationship_groups %}

  {% for group, relationships in relationship_groups.items %}

  {% if relationships %}

    <div class="contact-group-heading">

      <strong>{{ group }}</strong>

    </div>

    <table class="table contact-list">

      {% for relationship in relationships %}

        <tr>

          <td class="relationship">
            {{ relationship.role.name }}

          <td class="name">
            {{ relationship.contact.name }}

          <td class="phone1">
            {{ relationship.contact.phone1|phone_number|default:'' }}

          <td class="email">
            {{ relationship.contact.email|default:'na' }}

      {% endfor %}

    </table>

  {% endif %}
  {% endfor %}

{% endif %}

</div>

<div class="section">

  <div class="section-title">
    Events
  </div>

  <table id="events" class="table">

    <th>Date
    <th>Party
    <th>Description
    <th>Status

    {% if events %}
    {% for event in events %}

      <tr>

        <td class="date">
            {{ event.date|date:"Y-m-d" }}

        <td class="party">
            {{ event.party }}

        <td class="description">
            {{ event.description }}

        <td class="status">
            {{ event.status }}

    {% endfor %}
    {% endif %}

  </table>

</div>

<div class="section">

  <div class="section-title">
    Proceedings
  </div>

  <table id="proceedings" class="table">

    <tr>

      <th>
        Date Filed

      <th>
        Case No

      <th>
        Forum and Description

      <th>
        Status

      {% if proceedings %}
      {% for proceeding in proceedings %}

        <tr>

          <td class="date-filed">
            {{ proceeding.date_filed|date:'Y-m-d' }}

          <td class="case-no">
            {{ proceeding.case_number }}

          <td class="forum">
              {{ proceeding.forum }}

          <td class="status">
            {{ proceeding.status }}

      {% endfor %}
      {% endif %}

  </table>

</div>

<div class="section">

  <div class="section-title">
    Timeline
  </div>

  <table id="facts" class="table facts">

    <tr>

      <th>
        Date

      <th>
        Description

      <th>
        Citation

      {% if facts %}
      {% for fact in facts %}

        <tr>

          <td class="date {% if fact.emphasis == 'Yes' %}strong{% endif %}">
            {{ fact.date|date:'Y-m-d' }}

          <td class="description {% if fact.emphasis == 'Yes' %}strong{% endif %}">
            {{ fact.description }}

          <td class="citation {% if fact.emphasis == 'Yes' %}strong{% endif %}">
            {{ fact.citation|slice:":25"|default_if_none:'' }}

      {% endfor %}
      {% endif %}

  </table>

</div>

<div class="section">

  <div class="section-title">
    Settlement Discussion
  </div>

  <table id="settlement" class="table settlement">

    <tr>

      <th>
        Date

      <th>
        Medium

      <th>
        Type

      <th>
        Notes

      <th class="amount">
        Amount

    {% if entries %}
    {% for entry in entries %}

      <tr>

        <td class="date {% if entry.type == 'Authorization' %}strong{% endif %}">
          {{ entry.date|date:'Y-m-d' }}

        <td class="medium {% if entry.type == 'Authorization' %}strong{% endif %}">
          {{ entry.medium }}

        <td class="type {% if entry.type == 'Authorization' %}strong{% endif %}">
            {{ entry.type }}

        <td class="notes {% if entry.type == 'Authorization' %}strong{% endif %}">
          {{ entry.notes }}

        <td class="amount {% if entry.type == 'Authorization' %}strong{% endif %}">
          {% if entry.amount|floatformat:2|intcomma %}
            ${{ entry.amount|floatformat:2|intcomma }}
          {% else %}
            NA
          {% endif %}

    {% endfor %}
    {% endif %}

  </table>

</div>

{% endblock content %}
