{% load humanize %}
<tr id="matter-{{ matter.id }}">
  <td class="name">
    <a href={% url 'matters:tasks-index' id=matter.id %}>{{ matter.name }}</a>
  </td>
  <td id="show-matter-work-status-{{ matter.id }}">
    <a class="button-link show-status-form-button"
       href="#"
       hx-target="#show-matter-work-status-{{ matter.id }}"
       hx-swap="innerHTML"
       hx-get="{% url 'matters:edit-work-status' matter_id=matter.id %}">{{ matter.work_status }}</a>
  </td>
  <td class="id">{{ matter.id }}</td>
</tr>
