<div class="dropdown" x-data="dropdown()">
  <button class="button-link"
          type="button"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">
    {% if witness.alignment == "friendly" %}
      Friendly
    {% elif witness.alignment == "hostile" %}
      Hostile
    {% else %}
      Neutral
    {% endif %}
  </button>
  <ul class="dropdown-menu" x-ref="menu" x-show="open">
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'case:witness-alignment' witness.id 'friendly' %}"
         hx-target="#witnesses">Friendly</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'case:witness-alignment' witness.id 'neutral' %}"
         hx-target="#witnesses">Neutral</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'case:witness-alignment' witness.id 'hostile' %}"
         hx-target="#witnesses">Hostile</a>
    </li>
  </ul>
</div>
