<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">{{ action }} Witness</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="witness-form"
            hx-post="{% if witness %}{% url 'case:witnesses-edit' witness.id %}{% else %}{% url 'case:witnesses-add' matter.id %}{% endif %}"
            hx-target="#htmx-modal-container"
            class="form-compact col2">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      {% if witness %}
        <button type="button"
                class="btn btn-danger"
                hx-confirm="Are you sure you want to delete this witness?"
                hx-post="{% url 'case:witnesses-delete' witness.id %}"
                hx-target="#htmx-modal-container">Delete Witness</button>
      {% endif %}
      <button type="submit" form="witness-form" class="submit">Submit</button>
    </div>
  </div>
</div>
