

/*------------------------------------------------
Events
------------------------------------------------*/

.toggle-events {
    font-weight: 600;
    margin-right: 10px;
    text-align: right;
}

.events {
    margin-bottom: 1.5rem;
}

.events-table {
    width: 100%;
}

.date {
    width: 120px;
}

.party {
    width: 120px;
}

.matter {
    width: 250px;
}

.add-event {

    #id_matter {
        width: auto;
    }

    #id_party {
        width: 140px;
    }

    #id_description {
        max-width: 500px;
        width: 100%
    }

    #id_status {
        width: 140px;
    }

}

/*------------------------------------------------
Tasks
------------------------------------------------*/

.tasks-table {
    margin-top: 15px;
    margin-bottom: 1rem;
}

.btn-task-sort {
    border: none;
    background: none;
    color: inherit;
    font-weight: 600;
}

.priority {
  color: var(--orange-800);
}

.btn-task-status {
    color: var(--warm-gray-400);
}

.tasks-table .status {
    text-align: center;
    width: 20px;
}

.status .bi-chevron-expand {
    margin: 0;
}

.tasks-table .matter {
    width: 250px;
}

.tasks-table .user {
    width: 110px;
}

.tasks-table .date {
    width: 155px;
}

.tasks-table .menu {
  width: 10px;
  margin: 0;
  padding: 0;
}

/*------------------------------------------------
Tasks Table Inputs
------------------------------------------------*/

.input-padding {
  padding: 5px;
}

.task-select,
.task-select:hover {
  background: var(--warm-gray-50);
  border: solid 1px var(--warm-gray-200);
  border-radius: 4px;
  color: inherit;
  font-size: inherit;
  margin: 0;
}

.tasks-table input[type="text"],
.tasks-table input[type="date"] {
    background: var(--warm-gray-50);
    border: solid 1px var(--warm-gray-200);
    border-radius: 4px;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 4px;
}

.user select {
    max-width: 100px;
}

/*------------------------------------------------
Task Add Form Quick
------------------------------------------------*/

.task-form-add input,
.task-form-add select {
    border: 1px solid var(--warm-gray-200);
    border-radius: 3px;
    line-height: 1;
    margin: 0;
    padding: 7px;
}

.task-form-add input {
    max-width: 795px;
    width: 100%;
}

.task-form-add select {
    margin-right: 0.5rem;
}

.task-input-description-label {
  width: 80%;
}

.change-user {
  background: var(--warm-gray-100);
  border: none;
  border-radius: 4px;
  color: var(--warm-gray-600);
  padding-top: 0;
}


/*------------------------------------------------
Task Edit Form
------------------------------------------------*/

#id_description {
  max-width: 500px;
  width: 100%
}

.task-filter select {
    min-width: 95%;
}
