.toggle-events {
    font-weight: 600;
    margin-right: 10px;
    text-align: right;
}

.events {
    margin-bottom: 30px;
}

.events-table {
    width: 100%;
}

.date {
    width: 120px;
}

.party {
    width: 120px;
}

.matter {
    width: 250px;
}


.tasks-background {
    background: var(--warm-gray-100);
    padding: 0 1rem;
}


.tasks-table {
    margin-top: 15px;
}


.btn-task-sort {
    border: none;
    background: none;
    color: inherit;
    font-weight: 600;
}

.btn-task-status {
    color: var(--warm-gray-400);
}

.tasks-table .status {
    text-align: center;
    width: 20px;
}

.status .bi-chevron-expand {
    margin: 0;
}

.tasks-table .matter {
    width: 250px;
}

.tasks-table .user {
    width: 110px;
}

.tasks-table .date {
    width: 155px;
}


.tasks-table input[type="text"],
.tasks-table input[type="date"] {
    background: var(--warm-gray-50);
    border: solid 1px var(--warm-gray-200);
    border-radius: 4px;
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 4px;
}

.user select {
    max-width: 100px;
}


.task-form-add {
    background: inherit;
    margin: 0;
    padding: 0;
}

.task-form-add input,
.task-form-add select {
    border: 1px solid var(--warm-gray-200);
    border-radius: 3px;
    line-height: 1;
    margin: 0;
    padding: 7px;
}

.task-form-add input {
    max-width: 795px;
    width: 100%;
}

.task-form-add select {
    margin-right: 0.5rem;
}


