
#contacts {
	padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
	}

#contact {
  padding-left: 10px;
  padding-right: 10px;
}


.contact {
	background: #f4f4f4;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 10px 15px;
}

.contact-top-right a {
  margin-left: 0.5rem;
}

.contact-item {
	margin-top: 10px;
}

#contact-address {
  margin-bottom: 10px;
}

.related {
  font-weight: 600;
}

#contact-matters {
   margin: 20px 0 0 0;
}

#contact-matters ul {
    padding: 0;
}

#contact-matters ul li {
    padding: 2px 0;
}

.assign-remove {
  margin-top: 15px;
}


/* ------------------------------------------------------------------------- */
/* contacts form */
/* ------------------------------------------------------------------------- */

