
/*------------------------------------------------
display
------------------------------------------------*/

.events {
  width: 100%;
}

.date {
  width: 120px;
}

.party {
  width: 120px;
}

.matter {
  padding-right: 15px;
  width: 250px;
}

/*------------------------------------------------
deadline calc form
------------------------------------------------*/

/* see forms.css */


/*------------------------------------------------
form
------------------------------------------------*/

#id_matter {
    width: auto;
}

#id_party {
  width: 140px;
}

#id_description {
  max-width: 500px;
  width: 100%
}

#id_status {
  width: 140px;
}

