/* ==========================================================================
List View
========================================================================== */

.add-to-contacts {
    float: right;
    margin: 15px 5px 0 0;
}

.intake-details {
    margin-bottom: 2rem;
    width: 100%;
}

.intake-details .strong {
    width: 170px;
}

.intake-date {
    width: 120px
}

.intake-name {
    width: 300px;
}

.intake-phone {
    width: 180px
}

.intake-email {
    width: 180px
}

.intake-status {
    width: 120px
}

.intake-source {
    width: 120px
}

#intake-list th a {
    color: inherit;
}

#id_details {
    min-height: 300px;
    resize: both;
    width: 600px;
}

/* ==========================================================================
Notes
========================================================================== */

.notes .section-title {
  border-bottom: solid 1px var(--warm-gray-200);
}

.note {
  border-bottom: solid 1px var(--warm-gray-200);
  padding: 1rem 0 1rem 0.5rem;
}

.note-title {
  align-items: center;
  display: flex;
  justify-content: space-between;

}

.note-title button {
    background: var(--warm-gray-150);
    border: none;
    border-radius: 4px;
    color: var(--lime-800);
    padding: 4px 6px;
}

.note-title-right {
  margin-right: 0.5rem;
}

.note-date-time {
  margin-right: 1rem;
}

.note-username {
  margin-right: 1rem;
}

.note-type {
  margin-right: 1rem;
}

.note-date {
    width: 120px;
}

.note-username {
    width: 120px;
}

.note-type {
    width: 120px;
}

/* ==========================================================================
Markdown
========================================================================== */

.note-details h1 {
    font-size: 1.5em;
    font-weight: 600;
}

.note-details h2 {
    font-size: 1.1em;
    font-weight: 600;
}

.note-details h3 {
    font-size: 1.0em;
    font-weight: 600;
}

.note-details strong {
    font-weight: 600;
}

.note-details ul {
  margin: 1rem 0 0 0;
}

.note-details ul li {
    list-style-type: disc;
    padding-left: 0.5rem;
}

.note-details ol {
    margin: 1rem 0 0 0;
}

.note-details ol li {
    list-style-type: decimal;
    padding: 0.5rem 0 0.3rem 0;
}

.note-details p {
    margin: 1rem 0 0 0.5rem;
}

.note-details a {
    text-decoration: underline;
}

code {
    background: inherit;
    color: inherit;
    display: block;
    font-family: 'Courier Prime', monospace;
    font-size: 1.03em;
    margin-left: 20px;
    white-space: pre-wrap;
}

/* ==========================================================================
Form
========================================================================== */

#id_name {
    max-width: 400px;
    width: 100%;
}

#id_address {
    max-width: 400px;
    width: 100%;
}

#id_phone {
    max-width: 400px;
    width: 100%;
}

#id_email {
    max-width: 400px;
    width: 100%;
}

.intake-contact {
    float: right;
}
