

/* ==========================================================================
List View
========================================================================== */

.invoices .number {
  width: 150px;
}

.invoices .date {
  width: 250px;
}

.invoices .amount {
  text-align: right;
  width: 160px;
}

.invoices .status {
  text-align: right;
  width: 160px;
}

.invoices .actions {
  width: 20px;
}

.pointer {
  cursor: pointer;
}

.invoice-delete {
  color: var(--orange-800)
}

.invoice-delete:hover {
  color: var(--orange-800)
}



/* ==========================================================================
Detail View
========================================================================== */

.detail-table {
  width: 25%;
  height: fit-content;
}

@media (max-width: 768px) {
  .detail-table {
   width: 100%;
  }
}

.invoice-table-container {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .invoice-table-container {
   flex-direction: column;
  }
}

.sub-modules {
  display: flex;
  gap: 2rem;
  background: var(--warm-gray-200);
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
  padding: 7px 20px;
}

.sub-modules .active {
  font-weight: 600;
}

.activites-title {
  margin-bottom: 1rem;
}

/* ==========================================================================
Invoice Form
========================================================================== */

.add-invoice .discount {
  text-align: right;
  width: 6rem;
}
