
/* ------------------------------------------------------------------------- */
/* search form */
/* ------------------------------------------------------------------------- */

.search-form {
  margin: 20px 20px;
  padding: 0;
	text-align: center;
}

.search-text {
  border: 1px solid var(--warm-gray-350);
  background: var(--warm-gray-50);
  margin: 0;
  padding: 0.5rem;
  width: 80%;
}

.input-group {
  margin: 0 auto;
  max-width: 800px;
	width: 100%;
}

.input-group-text {
  background: var(--warm-gray-200);
  border: 1px solid var(--warm-gray-350);
}

/* ------------------------------------------------------------------------- */
/* search results */
/* ------------------------------------------------------------------------- */

.search-results-title {
	font-size: 1.5em;
	padding: 12px;
}

.matter-name {
  width: 250px;
}

.matter-status {
  width: 150px;
}

.contact-folder {
	width: 150px;
}

.contact-name {
	width: 250px;
}

.contact-phone1 {
	width: 150px;
}

.contact-email {
	text-align: right;
}
