
/*------------------------------------------------
Summary View
------------------------------------------------*/

#summary {
  clear: both;
  width: 100%;
}

#summary td {
  border: solid 1px var(--warm-gray-200);
  vertical-align: top;
}

.numeric {
  width: 210px;
}

table .material-icons {
  margin: 0;
}

/*------------------------------------------------
Summary and History Views
------------------------------------------------*/

.contact-section {
  background: var(--warm-gray-100);
  margin-bottom: 20px;
  padding: 20px 15px;
}

.contact-section-heading {
  margin: 0;
}

.contact-section-data {
  margin: 20px 0 0 0;
}

.contact-edit {
  float: right;
  font-size: 0.9em;
  margin: 4px 10px 0 0;
  text-align: right;
}

#transactions {
  border-collapse: collapse;
  margin: 10px 0 5px 0;
  width: 100%;
}

#transactions td {
  border: solid 1px var(--warm-gray-200);
  padding: 6px;
  vertical-align: top;
}

#transactions .date {
  width: 120px;
}

#transactions .client {
  width: 200px;
}

#transactions .description {
  border: solid 1px var(--warm-gray-200);
}

#transactions .amount {
  text-align: right;
  width: 120px;
}

#transactions .check {
  text-align: right;
  width: 45px;
}


/*------------------------------------------------
Transaction Form
------------------------------------------------*/

#id_type {
  width: 140px;
}

#id_description {
  width: 550px;
}

#id_amount {
  width: 140px;
}

#id_entered {
  width: 70px;
}

#id_confirmed {
  width: 70px;
}
