{% load static %}
{% load humanize %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/apps/activity.css' %}" />
{% endblock head %}
{% block content %}
  <div class="section detail-title">
    <div class="toolbar">
      <div class="toolbar-left">
        <h1>Invoice {{ invoice.id }} - {{ invoice.matter.name }}</h1>
        <div class="filter-tools">
          {% include "invoicing/invoices/status.html" %}
          {% if invoice.status == 'SENT' %}
            <button class="icon-green"
                    hx-get="{% url 'invoicing:quick-invoice-payment' pk=invoice.id payment_type='direct' %}"
                    hx-target="#htmx-modal-container"
                    data-bs-toggle="modal"
                    data-bs-target="#htmx-modal-container">+ Card</button>
            <button class="icon-green"
                    hx-get="{% url 'invoicing:quick-invoice-payment' pk=invoice.id payment_type='trust' %}"
                    hx-target="#htmx-modal-container"
                    data-bs-toggle="modal"
                    data-bs-target="#htmx-modal-container">+ Trust</button>
          {% endif %}
        </div>
      </div>
      <div class="toolbar-right">
        {% if invoice.status == 'DRAFT' or invoice.status == 'APPROVED' %}
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'invoicing:invoices-edit' invoice.id %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-pencil"></i>
          </button>
        {% endif %}
        <div class="dropdown">
          <button class="button-link"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <i class="bi bi-download"></i>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item"
                 target="_blank"
                 href="{% url 'invoicing:invoices-pdf-download' invoice.id %}">Download PDF</a>
            </li>
            <li>
              <a class="dropdown-item"
                 target="_blank"
                 href="{% url 'invoicing:invoice-ledes' invoice.id %}">Download Ledes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="subnav detail-subnav">
    <ul>
      <li {% if subapp == "details" %}class="active"{% endif %}>
        <a href="#"
           hx-post="{% url 'invoicing:invoice-details-index' invoice.id %}">Details</a>
      </li>
      <li {% if subapp == "time" %}class="active"{% endif %}>
        <a href="#"
           hx-post="{% url 'invoicing:invoice-time-entries-index' invoice.id %}">Time</a>
      </li>
      <li {% if subapp == "expenses" %}class="active"{% endif %}>
        <a href="#"
           hx-post="{% url 'invoicing:invoice-expense-entries-index' invoice.id %}">Expenses</a>
      </li>
      <li {% if subapp == "preview" %}class="active"{% endif %}>
        <a href="#"
           hx-post="{% url 'invoicing:invoice-pdf-preview-index' invoice.id %}">Review</a>
      </li>
    </ul>
  </div>
  <div class="section">
    {% block subcontent %}
    {% endblock subcontent %}
  </div>
{% endblock content %}
