<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">{{ highlight.slug|default:"Untitled" }}</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body highlight-detail">
      <div class="highlight-detail-header">
        <div class="highlight-detail-meta">
          <span class="highlight-detail-swatch hl-{{ highlight.color }}"></span>
          <span class="highlight-detail-date">{{ highlight.document.date|date:'F j, Y'|default:"No date" }}</span>
        </div>
        <span class="highlight-detail-importance">
          <i class="icon-flag"></i> {{ highlight.importance }}
        </span>
      </div>
      <div class="highlight-detail-text">{{ highlight.text }}</div>
      <div class="highlight-detail-footer">
        <div class="highlight-detail-citation">{{ highlight.citation }}</div>
        {% if highlight.labels.all %}
          <div class="highlight-detail-labels">
            {% for label in highlight.labels.all %}
              <span class="app-badge label-{{ label.color }}"><i class="icon-tag"></i>{{ label.name }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
