<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Edit Highlight</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="edit-highlight-form"
            {% if not is_viewer_context %}hx-post="{% url 'case:edit-highlight' highlight.id %}" hx-target="#htmx-modal-container"{% else %}novalidate{% endif %}
            action="{% url 'case:edit-highlight' highlight.id %}"
            method="post"
            class="form-compact">
        {% csrf_token %}
        <div class="highlight-edit-grid">{{ form }}</div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="edit-highlight-form" class="submit">Submit</button>
      {% if not is_viewer_context %}
        <a hx-confirm="Are you sure you want to delete this highlight?"
           href="#"
           hx-post="{% url 'case:delete-highlight' highlight.id %}"
           hx-target="#htmx-modal-container"
           class="delete-link">Delete Highlight</a>
      {% else %}
        <a href="#" class="delete-link">Delete Highlight</a>
      {% endif %}
    </div>
  </div>
</div>
