<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Filter Highlights</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="highlights-filter-form"
            class="form-responsive form-spacious filter"
            hx-target="#htmx-modal-container"
            hx-post="{% url 'case:highlights-filter' matter.id %}">
        {% csrf_token %}
        {{ filter.form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="highlights-filter-form" class="submit">Apply</button>
      <a href="{% url 'case:highlights-filter-default' matter.id %}">Restore Defaults</a>
    </div>
  </div>
</div>
