<div class="highlight-importance-badge dropdown"
     id="highlight-importance-{{ highlight.id }}">
  <button type="button"
          class="app-badge app-badge-lg importance-badge-btn {% if highlight.importance == 1 %}badge-red{% elif highlight.importance <= 3 %}badge-orange{% elif highlight.importance <= 6 %}badge-yellow{% endif %}"
          data-bs-toggle="dropdown"
          aria-expanded="false">
    <i class="bi bi-flag"></i>{{ highlight.importance }}
  </button>
  <ul class="dropdown-menu">
    {% for i in importance_choices %}
      <li>
        <a class="dropdown-item {% if highlight.importance == i %}active{% endif %}"
           href="#"
           hx-post="{% url 'case:highlight-importance' highlight.id i %}"
           hx-target="#highlight-importance-{{ highlight.id }}"
           hx-swap="outerHTML"><i class="bi bi-flag"></i> {{ i }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
