{% load humanize %}
<div class="toolbar">
  <div class="toolbar-left">
    <div class="filter-tools">
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'case:highlights-filter' matter.id %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click">
        <i class="icon-list-filter"></i>Filter
      </button>
      <div class="dropdown" x-data="dropdown()">
        <button type="button"
                id="highlights-source-filter"
                class="select-btn filter-dropdown-button {% if source_type %}toggle-active{% endif %}"
                x-ref="button"
                @click="toggle()"
                :aria-expanded="open">
          <span>
            {% if source_type == "case" %}
              <i class="icon-gavel with-text"></i>Cases
            {% elif source_type == "document" %}
              <i class="icon-file-text with-text"></i>Documents
            {% else %}
              <i class="icon-layers with-text"></i>All Sources
            {% endif %}
          </span>
          <small>
            <i class="icon-chevron-down"></i>
          </small>
        </button>
        <ul class="dropdown-menu" x-ref="menu" x-show="open">
          <li>
            <a class="dropdown-item {% if not source_type %}active{% endif %}"
               href="#"
               hx-get="{% url 'case:highlights-filter-source-type' matter.id 'all' %}"
               hx-target="#highlights"><i class="icon-layers"></i> All Sources</a>
          </li>
          <li>
            <a class="dropdown-item {% if source_type == 'case' %}active{% endif %}"
               href="#"
               hx-get="{% url 'case:highlights-filter-source-type' matter.id 'case' %}"
               hx-target="#highlights"><i class="icon-gavel"></i> Cases</a>
          </li>
          <li>
            <a class="dropdown-item {% if source_type == 'document' %}active{% endif %}"
               href="#"
               hx-get="{% url 'case:highlights-filter-source-type' matter.id 'document' %}"
               hx-target="#highlights"><i class="icon-file-text"></i> Documents</a>
          </li>
        </ul>
      </div>
      <div class="dropdown" x-data="dropdown()">
        <button type="button"
                id="highlights-importance-filter"
                class="select-btn filter-dropdown-button priority-dropdown {% if importance_value %}toggle-active{% endif %}"
                x-ref="button"
                @click="toggle()"
                :aria-expanded="open">
        <span><i class="icon-flag with-text"></i>
        {% if importance_value %}
          {% if importance_value == 1 %}
            1 only
          {% else %}
            {{ importance_value }} and above
          {% endif %}
        {% else %}
          Importance
        {% endif %}
      </span>
      <small>
        <i class="icon-chevron-down"></i>
      </small>
    </button>
    <ul class="dropdown-menu" x-ref="menu" x-show="open">
      {% for importance in importances %}
        {% if importance != 10 %}
          <li>
          <a class="dropdown-item {% if importance == importance_value %}active{% endif %}"
             href="#"
             hx-get="{% url 'case:highlights-filter-importance' matter.id importance %}"
             hx-target="#highlights"><i class="icon-flag"></i>
          {% if importance == 1 %}
            1 only
          {% else %}
            {{ importance }} and above
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  <li>
    <a class="dropdown-item {% if not importance_value %}active{% endif %}"
       href="#"
       hx-get="{% url 'case:highlights-filter-importance' matter.id 0 %}"
       hx-target="#highlights"><i class="icon-flag"></i> All Levels</a>
  </li>
</ul>
</div>
<input type="text"
       id="highlights-keyword-input"
       name="keyword"
       placeholder="Keyword Search"
       value="{{ keyword }}"
       class="filter-input keyword-input"
       hx-post="{% url 'case:highlights-filter-keyword' matter.id %}"
       hx-target="#highlights-cards"
       hx-trigger="keyup changed delay:500ms"
       hx-include="this">
</div>
</div>
</div>
<div id="highlights-cards">{% include "case/highlights/cards.html" %}</div>
