<div id="highlight-{{ highlight.id }}"
     {% if oob %}hx-swap-oob="true"{% endif %}
     class="highlight-item hl-{{ highlight.color }} unselected"
     data-theme="light"
     data-highlight-id="{{ highlight.id }}"
     data-page="{{ highlight.page_number }}"
     data-color="{{ highlight.color }}">
  <div class="highlight-main">
    <div class="highlight-content">
      <div class="highlight-slug">{{ highlight.slug }}</div>
      <div class="highlight-citation">{{ highlight.citation }}</div>
    </div>
    {% include "case/highlights/_viewer_importance.html" %}
    <a href="#"
       class="highlight-edit-btn edit-highlight"
       data-highlight-id="{{ highlight.id }}">
      <i class="icon-pencil"></i>
    </a>
  </div>
  <div class="highlight-labels-area">
    {% for label in highlight.labels.all %}
      {% include "case/labels/badge.html" with object_type="highlight" object=highlight view="viewer" %}
    {% endfor %}
    {% for witness in highlight.witnesses.all %}
      {% include "case/witnesses/badge.html" with object_type="highlight" object=highlight view="viewer" %}
    {% endfor %}
    <div class="dropdown highlight-add-menu" x-data="dropdown()">
      <button type="button"
              class="add-link-btn"
              x-ref="button"
              @click="toggle()"
              :aria-expanded="open"
              title="Add label or witness">
        <i class="icon-plus"></i>
      </button>
      <ul class="dropdown-menu" x-ref="menu" x-show="open" @click="close()">
        <li>
          <a class="dropdown-item"
             href="#"
             hx-get="{% url 'case:labels-apply-modal' 'highlight' highlight.id %}?view=viewer"
             hx-target="#htmx-modal-container"><i class="icon-tag"></i> Apply Labels</a>
        </li>
        <li>
          <a class="dropdown-item"
             href="#"
             hx-get="{% url 'case:witnesses-apply-modal' 'highlight' highlight.id %}?view=viewer"
             hx-target="#htmx-modal-container"><i class="icon-user"></i> Link Witnesses</a>
        </li>
      </ul>
    </div>
  </div>
</div>
