<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if relationship %}
          Edit Relationship
        {% else %}
          Add Relationship
        {% endif %}
      </h1>
      <div>
        <button type="button" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <p class="relationship-form-lede">
        <strong>{{ selected_contact.name }}</strong> is &hellip;
      </p>
      <form id="relationship-form"
            hx-post="{{ request.path }}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-secondary"
              @click="$dispatch('close-modal')">Cancel</button>
      <button type="submit" form="relationship-form" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
