{% load humanize %}
<div class="toolbar">
  <div class="toolbar-left">
    <div class="filter-tools">
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'documents:highlights-filter' %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container">
        <i class="bi bi-filter"></i>Filter
      </button>
      <button type="button"
              id="highlights-document-filter"
              class="select-btn filter-dropdown-button {% if selected_document %}toggle-active{% endif %}"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        <span class="doc-name">{{ selected_document.name|default:"All Documents" }}</span>
        <small>
          <i class="bi bi-chevron-down"></i>
        </small>
      </button>
      <ul class="dropdown-menu"
          hx-target="#highlights-document-filter"
          hx-swap="outerHTML">
        <li>
          <a class="dropdown-item {% if not selected_document %}active{% endif %}"
             href="#"
             hx-post="{% url 'documents:highlights-filter-document' %}"
             hx-target="#highlights"
             hx-swap="outerHTML">All Documents</a>
        </li>
        {% for doc in documents %}
          <li>
            <a class="dropdown-item {% if selected_document.id == doc.id %}active{% endif %}"
               href="#"
               hx-post="{% url 'documents:highlights-filter-document' doc.id %}"
               hx-target="#highlights"
               hx-swap="outerHTML">{{ doc.name|truncatechars:30 }}</a>
          </li>
        {% endfor %}
      </ul>
      <button type="button"
              id="highlights-importance-filter"
              class="select-btn filter-dropdown-button {% if importance_value %}toggle-active{% endif %}"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        {% if selected_importance %}
          <div class="importance-arrow">
            <i class="bi bi-arrow-bar-up"></i>
          </div>
          <div class="importance-text">{{ selected_importance }}</div>
        {% else %}
          Importance
        {% endif %}
        <small>
          <i class="bi bi-chevron-down"></i>
        </small>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item"
             href="#"
             hx-get="{% url 'documents:highlights-filter-importance' 0 %}"
             hx-target="#highlights">All Levels</a>
        </li>
        {% for importance in importances %}
          <li>
            <a class="dropdown-item {% if importance == importance_value %}active{% endif %}"
               href="#"
               hx-get="{% url 'documents:highlights-filter-importance' importance %}"
               hx-target="#highlights">Importance {{ importance }}</a>
          </li>
        {% endfor %}
      </ul>
      <input type="text"
             id="highlights-keyword-input"
             name="keyword"
             placeholder="Keyword Search"
             value="{{ keyword }}"
             class="filter-input keyword-input"
             hx-post="{% url 'documents:highlights-filter-keyword' %}"
             hx-target="#highlights-cards"
             hx-trigger="keyup changed delay:500ms"
             hx-include="this">
    </div>
  </div>
</div>
<div id="highlights-cards">{% include "documents/highlights/cards.html" %}</div>
