/* ==========================================================================
General
========================================================================== */

.invoice-body-draft {
  background-image: url("/static/images/draft.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.invoice-body-canceled {
  background-image: url("/static/images/canceled.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

/* ==========================================================================
Content
========================================================================== */

.invoice-totals {
  break-inside: avoid;
}
