/* ==========================================================================
Header
========================================================================== */

.firm-logo {
  height: auto;
  max-width: 6.25rem;
}

/* ==========================================================================
Content
========================================================================== */

.transaction-type {
  width: 0.75in;
}

.trust-balance {
  margin-top: 2rem;
}
