
.pagination-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.pagination-row p {
    margin: 0;
}

.pagination-row a {
    background: var(--warm-gray-150);
    border: none;
    border-radius: 4px;
    color: var(--lime-800);
    padding: 0.05rem 0.5rem;

    &:hover {
        background: var(--warm-gray-150);
        color: var(--lime-800);
    }
}

.pagination-disabled {
    pointer-events: none;
}
