{% block subcontent %}
  {% include "matters/events/toolbar.html" %}
  <div class="table-container">
    <table class="table events-list card-table">
      <thead>
        <tr>
          <th class="date">
            Date
            <button class="btn-sort {% if current_order == 'date' %}active{% endif %}"
                    hx-post="{% url 'matters:events-filter-sort' id=matter.id order='date' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
          <th class="party">
            Party
            <button class="btn-sort {% if current_order == 'party' %}active{% endif %}"
                    hx-post="{% url 'matters:events-filter-sort' id=matter.id order='party' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
          <th class="description">
            Description
            <button class="btn-sort {% if current_order == 'description' %}active{% endif %}"
                    hx-post="{% url 'matters:events-filter-sort' id=matter.id order='description' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
          <th class="duration">Duration</th>
          <th class="location">Type</th>
          <th class="status">
            Status
            <button class="btn-sort {% if current_order == 'status' %}active{% endif %}"
                    hx-post="{% url 'matters:events-filter-sort' id=matter.id order='status' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
          <tr class="{% if event.date < third_day and event.status == 'Pending' %}hl-yellow{% endif %}">
            <td class="date">
              {{ event.date|date:"Y-m-d" }}
              {% if event.start_time %}{{ event.start_time|time:"g:i A" }}{% endif %}
            </td>
            <td class="party">{{ event.party }}</td>
            <td class="description card-desc">
              <a href="#"
                 hx-get="/events/{{ event.id }}/edit/matters"
                 hx-target="#htmx-modal-container"
                 hx-trigger="click">{{ event.description }}</a>
            </td>
            <td class="duration">
              {% if event.duration %}
                {{ event.duration }} hr
                {% if event.duration != 1 %}s{% endif %}
              {% endif %}
            </td>
            <td class="location">{{ event.event_type|default:"" }}</td>
            <td class="status">{{ event.status }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6" class="empty-message">No events found for this matter.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock subcontent %}
