<li>
  <a class="dropdown-item"
     href="#"
     hx-get="{% url 'activity:time-bulk-update-matter' %}"
     hx-target="#htmx-modal-container">
    <i class="icon-folder"></i> Move to Matter...
  </a>
</li>
<li>
  <a class="dropdown-item"
     href="#"
     hx-get="{% url 'activity:time-bulk-update-comp' %}"
     hx-target="#htmx-modal-container">
    <i class="icon-check"></i> Update Comp Status...
  </a>
</li>
<li>
  <a class="dropdown-item"
     href="#"
     hx-get="{% url 'activity:time-bulk-apply-labels' %}"
     hx-target="#htmx-modal-container">
    <i class="icon-tag"></i> Labels...
  </a>
</li>
