<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if edit %}
          Edit Time Entry
        {% else %}
          Add Time Entry
        {% endif %}
      </h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="time-entry-form"
            hx-post="{{ action }}"
            hx-target="#htmx-modal-container"
            class="form-compact col2 time-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.matter.id_for_label }}">{{ form.matter.label }}</label>
          <div>{{ form.matter }}{{ form.matter.errors }}</div>
        </div>
        <div class="form-group">
          <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
          <div>{{ form.date }}{{ form.date.errors }}</div>
        </div>
        <div class="form-group span2">
          <label for="{{ form.actions.id_for_label }}">{{ form.actions.label }}</label>
          <div>{{ form.actions }}{{ form.actions.errors }}</div>
        </div>
        <div id="actions-preview" class="actions-preview span2">
          <small class="text-muted">Preview:</small>
          <div id="actions-preview-text"></div>
        </div>
        <div class="form-group">
          <label for="{{ form.hours.id_for_label }}">{{ form.hours.label }}</label>
          <div>{{ form.hours }}{{ form.hours.errors }}</div>
        </div>
        <div class="form-group">
          <label for="{{ form.rate.id_for_label }}">{{ form.rate.label }}</label>
          <div>{{ form.rate }}{{ form.rate.errors }}</div>
        </div>
        <div class="form-group">
          <label for="{{ form.comp.id_for_label }}">{{ form.comp.label }}</label>
          <div>{{ form.comp }}{{ form.comp.errors }}</div>
        </div>
        <div class="form-group">
          <label for="{{ form.entered.id_for_label }}">{{ form.entered.label }}</label>
          <div>{{ form.entered }}{{ form.entered.errors }}</div>
        </div>
      </form>
      {% if not edit %}<div id="codes-reference-container"></div>{% endif %}
    </div>
    <div class="modal-footer">
      <button type="submit" form="time-entry-form" class="submit">Submit</button>
      {% if edit %}
        <a class="delete-link"
           href="#!"
           hx-confirm="Are you sure you want to delete this record?"
           hx-delete="{% url 'activity:time-delete' id=entry.id %}"
           hx-target="#htmx-modal-container">Delete Entry</a>
      {% else %}
        <a class="button-link codes-reference-link"
           href="#"
           hx-get="{% url 'activity:codes-reference' %}"
           hx-target="#codes-reference-container"
           hx-swap="innerHTML">View Abbreviation Codes</a>
      {% endif %}
    </div>
  </div>
</div>
