{% block subcontent %}
  {% load humanize %}
  <div class="toolbar">
    <div class="toolbar-left">
      <div class="filter-tools">
        <button hx-get="{% url 'activity:time-add' %}"
                hx-target="#htmx-modal-container">
          <i class="icon-plus"></i>
        </button>
        {% if selected_time %}
          <div class="dropdown" x-data="dropdown()">
            <button type="button"
                    class="btn-icon toggle-active"
                    x-ref="button"
                    @click="toggle()"
                    :aria-expanded="open">
              Actions ({{ selected_time|length }})
              <small><i class="icon-chevron-down"></i></small>
            </button>
            <ul class="dropdown-menu" x-ref="menu" x-show="open" @click="close()">
              {% include "activity/time/bulk-actions.html" %}
            </ul>
          </div>
          <button type="button"
                  class="btn-icon toggle-active"
                  hx-post="{% url 'activity:time-clear-selection' %}"
                  hx-swap="none">
            <i class="icon-x"></i> Clear
          </button>
        {% endif %}
        <button hx-get="{% url 'activity:time-filter' %}"
                hx-target="#htmx-modal-container"
                class="{% if filter_label == "custom" %}toggle-active{% endif %}">
          <i class="icon-list-filter with-text"></i>Filter
        </button>
        <button class="{% if filter_label == "unbilled" %}toggle-active{% endif %}"
                hx-post="{% url 'activity:time-filter-quick' 'unbilled' %}">
          <i class="icon-mail-x with-text"></i>Unbilled
        </button>
        <button class="{% if filter_label == "today" %}toggle-active{% endif %}"
                hx-post="{% url 'activity:time-filter-quick' 'today' %}">
          <i class="icon-calendar with-text"></i>Today
        </button>
        <div class="dropdown" x-data="dropdown()">
          <button type="button"
                  id="time-user-filter"
                  class="select-btn filter-dropdown-button {% if selected_user %}toggle-active{% endif %}"
                  x-ref="button"
                  @click="toggle()"
                  :aria-expanded="open">
            <span><i class="icon-{% if selected_user %}user{% else %}users{% endif %} with-text"></i>{{ selected_user|default:"All Users" }}</span>
            <small>
              <i class="icon-chevron-down"></i>
            </small>
          </button>
          <ul class="dropdown-menu"
              x-ref="menu"
              x-show="open"
              hx-target="#time-user-filter"
              hx-swap="outerHTML">
            <li>
              <a class="dropdown-item"
                 href="#"
                 hx-post="{% url 'activity:time-filter-user' 0 %}"
                 hx-target="#time-table"
                 hx-swap="outerHTML"><i class="icon-users"></i> All Users</a>
            </li>
            {% for user in users %}
              <li>
                <a class="dropdown-item {% if user.id == user_id %}active{% endif %}"
                   href="#"
                   hx-post="{% url 'activity:time-filter-user' user.id %}"
                   hx-target="#time-table"
                   hx-swap="outerHTML"><i class="icon-user"></i> {{ user.username|title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="toolbar-right">
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'activity:codes-list' %}"
              hx-target="#htmx-modal-container"
              title="View Abbreviation Codes">
        <i class="icon-code"></i>
      </button>
      <div class="dropdown" x-data="dropdown()">
        <button class="btn-icon"
                type="button"
                x-ref="button"
                @click="toggle()"
                :aria-expanded="open">
          <i class="icon-cloud-download"></i>
        </button>
        <ul class="dropdown-menu" x-ref="menu" x-show="open">
          <li>
            <a class="dropdown-item confirm"
               href="{% url 'activity:time-export' 'standard' %}"
               data-confirm-title="Export Records"
               data-confirm-message="Are you sure you want to download records?"
               data-confirm-text="Download"
               data-confirm-dangerous="false"><i class="icon-file-spreadsheet"></i> Standard</a>
          </li>
          <li>
            <a class="dropdown-item confirm"
               href="{% url 'activity:time-export' 'clio' %}"
               data-confirm-title="Export Records"
               data-confirm-message="Are you sure you want to download records?"
               data-confirm-text="Download"
               data-confirm-dangerous="false"><i class="icon-cloud-upload"></i> Clio</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table activity">
      <tr>
        <th class="col-select">
          {% url 'activity:time-select-all' as select_all_url %}
          {% include "selection/select-all-btn.html" with select_all_url=select_all_url all_selected=all_selected %}
        </th>
        <th class="date">
          Date
          <button class="btn-sort {% if current_order == 'date' %}active{% endif %}"
                  hx-post="{% url 'activity:time-order-by' 'date' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="user">User</th>
        <th class="matter">
          Matter
          <button class="btn-sort {% if current_order == 'matter' %}active{% endif %}"
                  hx-post="{% url 'activity:time-order-by' 'matter' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="actions">
          Actions
          <button class="btn-sort {% if current_order == 'actions' %}active{% endif %}"
                  hx-post="{% url 'activity:time-order-by' 'actions' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="numeric hours">Hours</th>
        <th class="numeric rate">Rate</th>
        <th class="numeric fee">Fee</th>
      </tr>
      <tr id="time-table"></tr>
      {% for entry in objects %}
        <tr id="time-{{ entry.id }}">{% include "activity/time/table-row.html" %}</tr>
      {% empty %}
        <tr>
          <td colspan="8" class="empty-message">No time entries found.</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="flex-start-space">
    <div>{% include "pagination.html" %}</div>
    {% include "activity/time/summary.html" %}
  </div>
{% endblock subcontent %}
