{% block subcontent %}
  {% load humanize %}
  <div class="toolbar">
    <div class="toolbar-left">
      <div class="filter-tools">
        <button hx-get="{% url 'activity:time-add' %}"
                hx-target="#htmx-modal-container"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
        <button hx-get="{% url 'activity:time-filter' %}"
                hx-target="#htmx-modal-container"
                class="{% if filter_label == "custom" %}toggle-active{% endif %}"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-filter"></i>Filter
        </button>
        <button class="{% if filter_label == "unbilled" %}toggle-active{% endif %}"
                hx-post="{% url 'activity:time-filter-quick' 'unbilled' %}">Unbilled</button>
        <button class="{% if filter_label == "today" %}toggle-active{% endif %}"
                hx-post="{% url 'activity:time-filter-quick' 'today' %}">Today</button>
        <button type="button"
                id="time-user-filter"
                class="select-btn extra-small-btn {% if selected_user %}toggle-active{% endif %}"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          {{ selected_user|default:"All" }}
          <small>
            <i class="bi bi-chevron-down"></i>
          </small>
        </button>
        <ul class="dropdown-menu"
            hx-target="#time-user-filter"
            hx-swap="outerHTML">
          <li>
            <a class="dropdown-item"
               href="#"
               hx-post="{% url 'activity:time-filter-user' 0 %}"
               hx-target="#time-table"
               hx-swap="outerHTML">All</a>
          </li>
          {% for user in users %}
            <li>
              <a class="dropdown-item {% if user.id == user_id %}active{% endif %}"
                 href="#"
                 hx-post="{% url 'activity:time-filter-user' user.id %}"
                 hx-target="#time-table"
                 hx-swap="outerHTML">{{ user.username|title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="toolbar-right">
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'activity:codes-list' %}"
              hx-target="#htmx-modal-container"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container"
              title="View Abbreviation Codes">
        <i class="bi bi-code-square"></i>
      </button>
      <div class="dropdown">
        <button class="btn-icon"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          <i class="bi bi-cloud-download"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item"
               href="{% url 'activity:time-export' 'standard' %}"
               onclick="javascript: return confirm('Are you sure you want to download records?')">Standard</a>
          </li>
          <li>
            <a class="dropdown-item"
               href="{% url 'activity:time-export' 'clio' %}"
               onclick="javascript: return confirm('Are you sure you want to download records?')">Clio</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table activity">
      <tr>
        <th class="date">
          Date
          <button class="btn-sort {% if current_order == 'date' %}active{% endif %}"
                  hx-post="{% url 'activity:time-order-by' 'date' %}">
            <i class="bi bi-chevron-expand"></i>
          </button>
        </th>
        <th class="user">User</th>
        <th class="matter">
          Matter
          <button class="btn-sort {% if current_order == 'matter' %}active{% endif %}"
                  hx-post="{% url 'activity:time-order-by' 'matter' %}">
            <i class="bi bi-chevron-expand"></i>
          </button>
        </th>
        <th class="actions">
          Actions
          <button class="btn-sort {% if current_order == 'actions' %}active{% endif %}"
                  hx-post="{% url 'activity:time-order-by' 'actions' %}">
            <i class="bi bi-chevron-expand"></i>
          </button>
        </th>
        <th class="numeric hours">Hours</th>
        <th class="numeric rate">Rate</th>
        <th class="numeric fee">Fee</th>
      </tr>
      <tr id="time-table"></tr>
      {% for entry in objects %}
        <tr id="time-{{ entry.id }}">{% include "activity/time/table-row.html" %}</tr>
      {% empty %}
        <tr>
          <td colspan="7" class="empty-message">No time entries found.</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="flex-start-space">
    <div>{% include "pagination.html" %}</div>
    {% include "activity/time/summary.html" %}
  </div>
{% endblock subcontent %}
