{% load humanize %}
<div class="totals-table">
  <table>
    <tr>
      <td>Total Hours</td>
      <td class="numeric">{{ summary.total_hours|floatformat:1 }}</td>
    </tr>
    <tr>
      <td>Comp Hours</td>
      <td class="numeric">{{ summary.comp_hours|floatformat:1 }}</td>
    </tr>
    <tr>
      <th>Net Hours</th>
      <td class="numeric total">{{ summary.net_hours|floatformat:1 }}</td>
    </tr>
  </table>
  <table>
    <tr>
      <td>Total Fees</td>
      <td class="numeric">${{ summary.total_fees|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <td>Comp Fees</td>
      <td class="numeric">${{ summary.comp_fees|floatformat:2|intcomma }}</td>
    </tr>
    <tr>
      <th>Net Fees</th>
      <td class="numeric total">${{ summary.net_fees|floatformat:2|intcomma }}</td>
    </tr>
  </table>
</div>
