<div>
  <div class="toolbar">
    <div class="toolbar-left">
      <div class="filter-tools">
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'case:documents-add' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'case:documents-filter' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-filter"></i>Filter
        </button>
        <button type="button"
                id="files-category-filter"
                class="select-btn filter-dropdown-button {% if selected_category %}toggle-active{% endif %}"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          {{ selected_category|default:"All Categories" }}
          <small>
            <i class="bi bi-chevron-down"></i>
          </small>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item {% if not selected_category %}active{% endif %}"
               href="#"
               hx-get="{% url 'case:documents-filter-category-clear' %}"
               hx-target="#documents">All Categories</a>
          </li>
          <li>
            <a class="dropdown-item {% if selected_category == 'Correspondence' %}active{% endif %}"
               href="#"
               hx-get="{% url 'case:documents-filter-category' 'Correspondence' %}"
               hx-target="#documents">Correspondence</a>
          </li>
          <li>
            <a class="dropdown-item {% if selected_category == 'Discovery' %}active{% endif %}"
               href="#"
               hx-get="{% url 'case:documents-filter-category' 'Discovery' %}"
               hx-target="#documents">Discovery</a>
          </li>
          <li>
            <a class="dropdown-item {% if selected_category == 'Evidence' %}active{% endif %}"
               href="#"
               hx-get="{% url 'case:documents-filter-category' 'Evidence' %}"
               hx-target="#documents">Evidence</a>
          </li>
          <li>
            <a class="dropdown-item {% if selected_category == 'Record' %}active{% endif %}"
               href="#"
               hx-get="{% url 'case:documents-filter-category' 'Record' %}"
               hx-target="#documents">Record</a>
          </li>
        </ul>
        <button type="button"
                id="files-importance-filter"
                class="select-btn filter-dropdown-button priority-dropdown {% if importance_value %}toggle-active{% endif %}"
                data-bs-toggle="dropdown"
                aria-expanded="false">
        <span><i class="bi bi-flag with-text"></i>
        {% if importance_value %}
          {% if importance_value == 1 %}
            1 only
          {% else %}
            {{ importance_value }} and above
          {% endif %}
        {% else %}
          Importance
        {% endif %}
      </span>
      <small>
        <i class="bi bi-chevron-down"></i>
      </small>
    </button>
    <ul class="dropdown-menu">
      {% for importance in importances %}
        {% if importance != 10 %}
          <li>
          <a class="dropdown-item {% if importance == importance_value %}active{% endif %}"
             href="#"
             hx-get="{% url 'case:documents-filter-importance' importance %}"
             hx-target="#documents"><i class="bi bi-flag"></i>
          {% if importance == 1 %}
            1 only
          {% else %}
            {{ importance }} and above
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
  <li>
    <a class="dropdown-item {% if not importance_value %}active{% endif %}"
       href="#"
       hx-get="{% url 'case:documents-filter-importance' 0 %}"
       hx-target="#documents"><i class="bi bi-flag"></i> All Levels</a>
  </li>
</ul>
<input type="text"
       id="files-keyword-input"
       name="keyword"
       placeholder="Keyword Search"
       value="{{ selected_keyword|default:'' }}"
       class="filter-input keyword-input"
       hx-get="{% url 'case:documents-filter-keyword' %}"
       hx-target="#files-table"
       hx-trigger="keyup changed delay:500ms"
       hx-include="this">
{% if selected_documents %}
  <button type="button"
          hx-get="{% url 'case:documents-bulk-update' %}"
          hx-target="#htmx-modal-container"
          hx-trigger="click"
          data-bs-toggle="modal"
          data-bs-target="#htmx-modal-container"
          class="btn-icon">Bulk Actions ({{ selected_documents|length }})</button>
  <button type="button"
          hx-post="{% url 'case:documents-clear-selection' %}"
          hx-target="#documents"
          hx-swap="outerHTML"
          class="btn-icon">
    <i class="bi bi-x-lg"></i> Clear
  </button>
{% endif %}
</div>
</div>
</div>
<div id="files-table">{% include "case/documents/table.html" %}</div>
</div>
