{% if proceedings %}
  <div class="dropdown">
    {% if document.proceeding %}
      <button class="button-link"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">{{ document.proceeding.display_name }}</button>
    {% else %}
      <a href="#"
         class="btn-ghost"
         data-bs-toggle="dropdown"
         aria-expanded="false">
        <i class="bi bi-briefcase-fill"></i>
      </a>
    {% endif %}
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item {% if not document.proceeding %}active{% endif %}"
           href="#"
           hx-get="{% url 'case:document-proceeding' document.id 0 %}"
           hx-target="#documents">-</a>
      </li>
      {% for proc in proceedings %}
        <li>
          <a class="dropdown-item {% if document.proceeding.id == proc.id %}active{% endif %}"
             href="#"
             hx-get="{% url 'case:document-proceeding' document.id proc.id %}"
             hx-target="#documents">{{ proc.display_name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% else %}
  {% if document.proceeding %}{{ document.proceeding.display_name }}{% endif %}
{% endif %}
