<tr id="document-{{ document.id }}" data-document-id="{{ document.id }}">
  <td class="col-select">
    <button class="btn-check"
            hx-post="{% url 'case:documents-toggle-select' matter.id document.id %}"
            hx-swap="none">
      <i class="icon-square{% if document.id in selected_documents %}-check{% endif %}"></i>
    </button>
  </td>
  <td class="col-category dropdown-cell">{% include "case/documents/category-display.html" %}</td>
  <td class="col-date">{% include "case/documents/date-display.html" %}</td>
  <td class="col-document dropdown-cell">
    <div class="document-name-row">
      <div class="document-name-content">
        <div class="dropdown" x-data="dropdown()">
          <a href="#"
             class="document-name-link"
             x-ref="button"
             @click.prevent="toggle()"
             :aria-expanded="open">{{ document.name }}</a>
          <ul class="dropdown-menu" x-ref="menu" x-show="open">
            {% if document.file.name|slice:"-4:"|lower == ".pdf" %}
              <li>
                <a class="dropdown-item"
                   href="{% url 'case:viewer' document.id %}"
                   target="_blank"><i class="icon-eye"></i> View Document</a>
              </li>
            {% endif %}
            <li>
              <a class="dropdown-item"
                 href="#"
                 @click="open = false"
                 hx-get="{% url 'case:documents-edit' document.id %}"
                 hx-target="#htmx-modal-container"><i class="icon-pencil"></i> Edit Details</a>
            </li>
            <li>
              <a class="dropdown-item"
                 href="{% url 'case:documents-download' document.id %}"><i class="icon-download"></i> Download</a>
            </li>
            <li>
              <a class="dropdown-item document-link-btn"
                 href="#"
                 data-url="{% url 'case:viewer' document.id %}"><i class="icon-link"></i> Copy Link to File</a>
            </li>
            <li>
              <a class="dropdown-item"
                 href="#"
                 hx-get="{% url 'case:labels-apply-modal' 'document' document.id %}"
                 hx-target="#htmx-modal-container"><i class="icon-tag"></i> Add Label</a>
            </li>
            {% if document.highlight_count %}
              <li>
                <a class="dropdown-item"
                   href="{% url 'case:highlights-for-document' document.id %}"><i class="icon-highlighter"></i> Review Highlights</a>
              </li>
            {% endif %}
          </ul>
        </div>
        {% include "case/documents/ocr-badge.html" with hide_on_bypass=True %}
      </div>
    </div>
    {% if document.description %}<div class="document-description">{{ document.description }}</div>{% endif %}
    {% if document.labels.count %}
      <div class="document-labels">
        {% for label in document.labels.all %}
          {% include "case/labels/badge.html" with object_type="document" object=document %}
        {% endfor %}
      </div>
    {% endif %}
  </td>
  <td class="col-proceeding dropdown-cell">{% include "case/documents/proceeding-display.html" %}</td>
  <td class="col-pages">{{ document.page_count|default:"" }}</td>
  <td class="col-ai">
    <label class="toggle-switch"
           title="{% if document.include_in_ai %}Remove from AI context{% else %}Include in AI context{% endif %}">
      <input type="checkbox"
             {% if document.include_in_ai %}checked{% endif %}
             hx-post="{% url 'case:documents-toggle-ai' document.id %}"
             hx-swap="none">
      <span class="toggle-track"></span>
    </label>
  </td>
  <td class="col-importance dropdown-cell">{% include "case/documents/importance-display.html" %}</td>
</tr>
