<div class="table-container">
  <table id="documents-list" class="table table-fixed">
    <colgroup>
      <col class="col-select">
      <col class="col-category">
      <col class="col-document">
      <col class="col-pages">
      <col class="col-date">
      <col class="col-added">
      <col class="col-ai">
      <col class="col-importance">
    </colgroup>
    <tr>
      <th class="col-select">
        {% url 'case:documents-select-all' matter.id as select_all_url %}
        {% include "selection/select-all-btn.html" with select_all_url=select_all_url all_selected=all_selected %}
      </th>
      <th class="col-category">Category</th>
      <th class="col-document">
        Name
        <button class="btn-sort {% if 'name' in current_order %}active{% endif %}"
                hx-get="{% url 'case:documents-sort' matter.id 'name' %}"
                hx-target="#documents">
          <i class="icon-chevrons-up-down"></i>
        </button>
      </th>
      <th class="col-pages">Pg.</th>
      <th class="col-date">
        Date
        <button class="btn-sort {% if 'date' in current_order %}active{% endif %}"
                hx-get="{% url 'case:documents-sort' matter.id 'date' %}"
                hx-target="#documents">
          <i class="icon-chevrons-up-down"></i>
        </button>
      </th>
      <th class="col-added">
        Added
        <button class="btn-sort {% if 'created_at' in current_order %}active{% endif %}"
                hx-get="{% url 'case:documents-sort' matter.id 'created_at' %}"
                hx-target="#documents">
          <i class="icon-chevrons-up-down"></i>
        </button>
      </th>
      <th class="col-ai">AI</th>
      <th class="col-importance">
        <button class="btn-sort {% if 'importance' in current_order %}active{% endif %}"
                hx-get="{% url 'case:documents-sort' matter.id 'importance' %}"
                hx-target="#documents"
                title="Sort by importance">
          <i class="icon-flag"></i>
        </button>
      </th>
    </tr>
    {% for document in objects %}
      {% include "case/documents/row.html" %}
    {% empty %}
      <tr>
        <td colspan="8" class="empty-message">No documents found.</td>
      </tr>
    {% endfor %}
  </table>
</div>
<div class="flex-start-space">
  <div>{% include "pagination.html" %}</div>
</div>
