{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{{ invoice.matter.name }} - {{ invoice.date_issued }}</title>
    <link rel="shortcut icon" href={% static 'images/briefcase-fill.svg' %} />
    <link rel="stylesheet" href={% static 'css/invoice_template.css' %} />
  </head>
  <body>
    <div class="invoice-template">
      <div class="header">
        <div>
          <img width="280"
               height="auto"
               class="cb-logo"
               alt="cb_logo"
               src="{% static 'images/cb_logo.png' %}" />
          <p class="normal-height bold">CB Legal, LLC</p>
          <p class="normal-height">5565 Glenridge Connector, Suite 350</p>
          <p class="normal-height">Atlana, GA 30342</p>
          <p class="normal-height">Phone: (770) 426 - 7740</p>
          <p class="normal-height">Email: jcraig@cblegal.law</p>
        </div>
        <div>
          <h2 class="header-right-title text-right">INVOICE</h2>
          <p class="normal-height text-right">Invoice #{{ invoice.id }}</p>
          <p class="normal-height text-right">Date: {{ invoice.date_issued|date:"Y-m-d" }}</p>
          <p class="normal-height text-right">Due Upon Receipt</p>
        </div>
      </div>
      <p class="note">
        Please make all amounts payable to CB Legal, LLC. Payment is due upon receipt. If paying by check, please
        address
        the envelope to: <strong>ATTN Litigation</strong>
      </p>
      <p class="note">{{ invoice.message }}</p>
      <h2 class="matter-name">{{ invoice.matter.name }}</h2>
      <h3 class="table-title">Services</h3>
      <table class="table">
        <tr class="table-header">
          <th class="text-left">Date</th>
          <th class="text-left">Attorney</th>
          <th class="text-left">Notes</th>
          <th class="text-right">Quantity</th>
          <th class="text-right">Rate</th>
          <th class="text-right">Total</th>
        </tr>
        {% for entry in entries %}
          <tr class="table-row">
            <td class="table-date">{{ entry.date|date:"Y-m-d" }}</td>
            <td>JC</td>
            <td>{{ entry.actions }}</td>
            <td class="text-right">{{ entry.hours }}</td>
            <td class="text-right">${{ entry.firm_rate|floatformat:2|intcomma }}</td>
            <td class="text-right">${{ entry.fee|floatformat:2|intcomma }}</td>
          </tr>
        {% endfor %}
      </table>
      <div class="total">
        <p class="total-name">Services Subtotal</p>
        <p>${{ entries_total|floatformat:2|intcomma }}</p>
      </div>
      <h3 class="table-title expense">Expenses</h3>
      <table class="table">
        <tr class="table-header">
          <th class="text-left">Date</th>
          <th class="text-left">Notes</th>
          <th class="text-right">Quantity</th>
          <th class="text-right">Rate</th>
          <th class="text-right">Total</th>
        </tr>
        {% for expense in expenses %}
          <tr class="table-row">
            <td class="table-date">{{ expense.date|date:"Y-m-d" }}</td>
            <td>{{ expense.description }}</td>
            <td class="text-right">1.00</td>
            <td class="text-right">${{ expense.amount|floatformat:2|intcomma }}</td>
            <td class="text-right">${{ expense.amount|floatformat:2|intcomma }}</td>
          </tr>
        {% endfor %}
      </table>
      <div class="total">
        <p class="total-name">Expenses Subtotal</p>
        <p>${{ expenses_total|floatformat:2|intcomma }}</p>
      </div>
      <div class="price-container">
        <table class="price">
          <tr>
            <td>Subtotal</td>
            <td>${{ pre_discount_total|floatformat:2|intcomma }}</td>
          </tr>
          <tr>
            <td>Discount</td>
            <td>${{ invoice.discount|floatformat:2|intcomma }}</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>${{ combined_total|floatformat:2|intcomma }}</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
