{% load humanize %}
<tr id="invoice-{{ invoice.id }}">
  <td class="number">
    <a href={% url 'invoicing:invoice-detail' invoice.id %}>{{ invoice.id }}</a>
  </td>
  <td class="date">{{ invoice.date_issued|date:"Y-m-d" }}</td>
  <td>
    <a href={% url 'matters:detail' id=invoice.matter.id %}>{{ invoice.matter.name }}</a>
  </td>
  <td class="amount">${{ invoice.amount|floatformat:2|intcomma }}</td>
  <td class="status">{{ invoice.status_display }}</td>
  <td class="actions">
    <i class="dot-icon bi bi-three-dots-vertical pointer"
       data-bs-toggle="dropdown"
       aria-expanded="false">
    </i>
    <ul class="dropdown-menu" aria-labelledby="invoiceDropdown">
      <li>
        <a class="dropdown-item"
           target="_blank"
           href="{% url 'invoicing:invoice-pdf' invoice.id %}">Download</a>
      </li>
      <li>
        <form hx-post="{% url 'invoicing:status-update' invoice.id %}"
              hx-target="#invoice-{{ invoice.id }}"
              hx-swap="outerHTML">
          <input type="hidden" name="status" value="SENT">
          <button type="submit"
                  class="dropdown-item {% if invoice.status == 'CANCELED' or invoice.status == 'SENT' %}disabled{% endif %}">
            Send
          </button>
        </form>
      </li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      {% if invoice.status == 'SENT' %}
        <li>
          <form hx-post="{% url 'invoicing:status-update' invoice.id %}"
                hx-target="#invoice-{{ invoice.id }}"
                hx-swap="outerHTML">
            <input type="hidden" name="status" value="CANCELED">
            <button type="submit" class="dropdown-item invoice-delete">Cancel</button>
          </form>
        </li>
      {% else %}
        <li>
          <a onclick="return confirm('Are you sure you want to delete this invoice?')"
             class="dropdown-item invoice-delete"
             href="{% url 'invoicing:delete-invoice' invoice.id %}">Delete</a>
        </li>
      {% endif %}
    </ul>
  </td>
</tr>
