{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>{{ invoice.matter.name }} - {{ invoice.date_issued }}</title>
    <link rel="shortcut icon" href={% static 'images/briefcase-fill.svg' %} />
    <link rel="stylesheet" href={% static 'css/invoice_template.css' %} />
  </head>
  <body>
    <div class="invoice-template">
      <div class="header">
        <div class="header-left">
          <img width="100"
               height="auto"
               class="cb-logo"
               alt="cb_logo"
               src="{% static 'images/cb_logo.png' %}" />
          <p>
            CB Legal, <span class="llc">LLC</span>
          </p>
          <p>5565 Glenridge Connector</p>
          <p>Suite 350</p>
          <p>Atlana, GA 30342</p>
          <p>(770) 426 - 7740</p>
          <p>jcraig@cblegal.law</p>
        </div>
        <div class="header-right">
          <p class="text-right">Invoice {{ invoice.id }}</p>
          <p class="text-right">{{ invoice.date_issued|date:"Y-m-d" }}</p>
          <br />
          <p class="text-right">Matter {{ invoice.matter.id }}</p>
          <p class="text-right">"{{ invoice.matter.name }}"</p>
        </div>
      </div>
      <div class="section">
        <h3>Hourly Fees</h3>
        <table class="table">
          <tr>
            <th class="text-left">Date</th>
            <th class="text-left">Description</th>
            <th class="text-right">Qty</th>
            <th class="money">Total</th>
          </tr>
          {% for entry in entries %}
            <tr>
              <td class="date{% if entry.comp %} comp{% endif %}">{{ entry.date|date:"Y-m-d" }}</td>
              <td class="{% if entry.comp %} comp{% endif %}">
                {{ entry.actions }} {{ entry.user.symbol }}, ${{ entry.firm_rate|floatformat:0|intcomma }}
              </td>
              <td class="text-right {% if entry.comp %}comp{% endif %}">{{ entry.hours }}</td>
              <td class="money {% if entry.comp %}comp{% endif %}">${{ entry.fee|floatformat:2|intcomma }}</td>
            </tr>
          {% endfor %}
          {% if invoice.show_comp %}
            <tr>
              <td colspan="3">Hourly Fees</td>
              <td class="money">${{ entries_gross_total|floatformat:2|intcomma }}</td>
            </tr>
            <tr>
              <td colspan="3">Less Comp Fees</td>
              <td class="money">- ${{ entries_comp_total|floatformat:2|intcomma }}</td>
            </tr>
          {% endif %}
          <tr>
            <td class="total" colspan="3">Total Hourly Fees (see below for invoice total)</td>
            <td class="money total">${{ entries_net_total|floatformat:2|intcomma }}</td>
          </tr>
        </table>
      </div>
      {% if expenses %}
        <div class="section">
          <h3>Expenses</h3>
          <table class="table">
            <tr>
              <th class="date">Date</th>
              <th>Description</th>
              <th class="money">Amount</th>
            </tr>
            {% for expense in expenses %}
              <tr>
                <td class="date{% if expense.comp %} comp{% endif %}">{{ expense.date|date:"Y-m-d" }}</td>
                <td class="{% if expense.comp %} comp{% endif %}">{{ expense.description }}</td>
                <td class="money{% if expense.comp %} comp{% endif %}">${{ expense.amount|floatformat:2|intcomma }}</td>
              </tr>
            {% endfor %}
            {% if invoice.show_comp %}
              <tr>
                <td colspan="2">Expenses</td>
                <td class="money">${{ expenses_gross_total|floatformat:2|intcomma }}</td>
              </tr>
              <tr>
                <td colspan="2">Less Comp Expenses</td>
                <td class="money">- ${{ expenses_comp_total|floatformat:2|intcomma }}</td>
              </tr>
            {% endif %}
            <tr>
              <td class="total" colspan="2">Total Expenses (see below for invoice total)</td>
              <td class="money total">${{ expenses_net_total|floatformat:2|intcomma }}</td>
            </tr>
          </table>
        </div>
      {% endif %}
      <div class="section">
        <h3>Invoice Total</h3>
        <table class="table">
          <tr>
            <td>Hourly Fees</td>
            <td class="money">${{ entries_net_total|floatformat:2|intcomma }}</td>
          </tr>
          <tr>
            <td>Expenses</td>
            <td class="money">${{ expenses_net_total|floatformat:2|intcomma }}</td>
          </tr>
          {% if invoice.discount %}
            <tr>
              <td>Less Discount</td>
              <td class="money">- ${{ invoice.discount|floatformat:2|intcomma }}</td>
            </tr>
          {% endif %}
          <tr>
            <td class="total">Total Due (please pay this amount)</td>
            <td class="money total">${{ invoice_total|floatformat:2|intcomma }}</td>
          </tr>
        </table>
      </div>
      {% if invoice.message %}
        <div class="section">
          <h3>Client Message</h3>
          <p class="note">{{ invoice.message }}</p>
        </div>
      {% endif %}
    </div>
  </body>
</html>
