{% extends "base.html" %}
{% load humanize %}
{% block content %}
  <div class="section">
    <div class="section-title">
      <div class="section-title-left">
        <h1>Invoices</h1>
        <div class="section-title-left-right">
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'invoicing:new-invoice' %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table class="table events">
        <tr>
          <th>Invoice no.</th>
          <th>Issue date</th>
          <th class="matter">Matter</th>
          <th>Status</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
        {% for invoice in invoices %}
          <tr>
            <td>
              <a href={% url 'invoicing:invoice-detail' invoice.id %}>#{{ invoice.id }}</a>
            </td>
            <td>{{ invoice.date_issued|date:"Y-m-d" }}</td>
            <td class="matter">
              <a href={% url 'matters:detail' id=invoice.matter.id %}>{{ invoice.matter.name }}</a>
            </td>
            <td>{{ invoice.status_display }}</td>
            <td class="numeric total">${{ invoice.amount|floatformat:2|intcomma }}</td>
            <td class="actions">
              <i class="dot-icon bi bi-three-dots-vertical pointer"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">
              </i>
              <ul class="dropdown-menu" aria-labelledby="invoiceDropdown">
                <li>
                  <a class="dropdown-item"
                     target="_blank"
                     href="{% url 'invoicing:invoice-pdf' invoice.id %}">Download PDF</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{% url 'invoicing:invoice-detail' invoice.id %}">Open details</a>
                </li>
                <li>
                  <a onclick="return confirm('Are you sure you want to delete this invoice?')"
                     class="dropdown-item invoice-delete"
                     href="{% url 'invoicing:delete-invoice' invoice.id %}">Delete invoice</a>
                </li>
              </ul>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock content %}
