{% load static %}
<!DOCTYPE html>
<meta charset="UTF-8" content="" />
<title>LawAdmin</title>
<link rel="shortcut icon" href="{% static 'images/icons/plus.ico' %}" />
<!-- set viewport for mobile devices -->
<meta name="viewport" content="width = device-width, initial-scale = 1" />
<!-- Google Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet" />
<!-- app stylesheets -->
<link rel="stylesheet" href="{% static 'css/palette.css' %}" />
<link rel="stylesheet" href="{% static 'css/colors.css' %}" />
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" href="{% static 'css/errors.css' %}" />
<div class="container vertical-center">
  <div class="error-card">
    <div class="error-title">Website Error</div>
    <div class="error-message">
      {% block message %}
      {% endblock message %}
    </div>
    <div class="contact-message">Please contact the site administrator if the problem persists.</div>
    <div class="contact-message">
      Click <a href={% url 'agenda:tasks-index' %}>here</a> to return to the home page.
    </div>
  </div>
</div>
