<nav class="navbar">
  <div class="container">
    <div class="nav-scroll-container">
      <ul>
        <li {% if app == 'dash' %}class="active"{% endif %}>
          <a id="nav-dash" href={% url 'agenda:dash-index' %}>Dash</a>
        </li>
        <li {% if app == 'matters' %}class="active"{% endif %}>
          <a id="nav-matters" href={% url 'matters:index' %}>Matters</a>
        </li>
        <li {% if app == 'events' %}class="active"{% endif %}>
          <a id="nav-events" href={% url 'agenda:events-index' %}>Calendar</a>
        </li>
        <li {% if app == 'tasks' %}class="active"{% endif %}>
          <a id="nav-tasks" href={% url 'agenda:tasks-index' %}>Tasks</a>
        </li>
        <li {% if app == 'contacts' %}class="active"{% endif %}>
          <a id="nav-contacts" href="{% url 'contacts:index' %}">Contacts</a>
        </li>
        <li {% if app == 'activity' %}class="active"{% endif %}>
          <a id="nav-activity" href="{% url 'activity:time-index' %}">Activity</a>
        </li>
        <li {% if app == 'notes' %}class="active"{% endif %}>
          <a id="nav-notes" href="{% url 'notes:index' %}">Notes</a>
        </li>
        <li {% if app == 'invoicing' %}class="active"{% endif %}>
          <a id="nav-invoicing" href="{% url 'invoicing:invoices-index' %}">Invoicing</a>
        </li>
        <li {% if app == 'intakes' %}class="active"{% endif %}>
          <a id="nav-intakes" href={% url 'intakes:index' %}>Intakes</a>
        </li>
        {% if user.is_staff %}
          <li {% if app == 'reports' %}class="active"{% endif %}>
            <a id="nav-reports" href={% url 'reports:index' %}>Reports</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-right">
        <li {% if app == 'search' %}class="active"{% endif %}>
          <a href="#"
             hx-get="{% url 'search:search' %}"
             hx-target="#htmx-modal-container">
            <i class="icon-search"></i>
          </a>
        </li>
        <li {% if app == 'settings' %}class="active"{% endif %}>
          <a class="settings-link" href={% url 'settings:settings' %}>
            <i class="icon-settings"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
