<nav class="navbar">
  <div class="container">
    <div class="nav-scroll-container">
      <ul>
        <li {% if app == 'agenda' %}class="active"{% endif %}>
          <a id="nav-agenda" href={% url 'agenda:agenda-redirect' %}>Agenda</a>
        </li>
        <li {% if app == 'matters' %}class="active"{% endif %}>
          <a id="nav-matters" href={% url 'matters:index' %}>Matters</a>
        </li>
        <li {% if app == 'contacts' %}class="active"{% endif %}>
          <a id="nav-contacts" href="{% url 'contacts:index' %}">Contacts</a>
        </li>
        <li {% if app == 'activity' %}class="active"{% endif %}>
          <a id="nav-activity" href="{% url 'activity:time-index' %}">Activity</a>
        </li>
        <li {% if app == 'invoicing' %}class="active"{% endif %}>
          <a id="nav-invoicing" href="{% url 'invoicing:unbilled-index' %}">Invoicing</a>
        </li>
        <li {% if app == 'trust' %}class="active"{% endif %}>
          <a id="nav-trust" href={% url 'trust:index' %}>Trust</a>
        </li>
        <li {% if app == 'intakes' %}class="active"{% endif %}>
          <a id="nav-intakes" href={% url 'intakes:index' %}>Intakes</a>
        </li>
        {% if user.is_staff %}
          <li {% if app == 'reports' %}class="active"{% endif %}>
            <a id="nav-reports" href={% url 'reports:index' %}>Reports</a>
          </li>
        {% endif %}
        <li {% if app == 'documents' %}class="active"{% endif %}>
          <a id="nav-documents" href={% url 'case:index' %}>Case</a>
        </li>
        <li {% if app == 'outlines' %}class="active"{% endif %}>
          <a id="nav-outlines" href={% url 'outlines:index' %}>Outlines</a>
        </li>
      </ul>
      <ul class="navbar-right">
        <li {% if app == 'search' %}class="active"{% endif %}>
          <a href="#"
             hx-get="{% url 'search:search' %}"
             hx-target="#htmx-modal-container"
             data-bs-toggle="modal"
             data-bs-target="#htmx-modal-container">
            <i class="bi bi-search"></i>
          </a>
        </li>
        <li {% if app == 'settings' %}class="active"{% endif %}>
          <a class="settings-link" href={% url 'settings:settings' %}>
            <i class="bi bi-gear"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
