<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Add Credits</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="credit-form"
            hx-post="{% url 'invoicing:credits-add' %}"
            hx-target="#htmx-modal-container"
            role="form"
            class="form-compact col3">
        {% csrf_token %} {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="credit-form" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
