{% block subcontent %}
  {% load humanize %}
  <div id="credits-list">
    <div class="toolbar">
      <div class="toolbar-left">
        <div class="filter-tools">
          <button type="button"
                  class="btn-icon"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  hx-get="{% url 'invoicing:credits-add' %}"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-plus-lg"></i>
          </button>
          <button type="button"
                  class="btn-icon"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  hx-get="{% url 'invoicing:credits-filter' %}"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-filter"></i> &nbsp;Filter
          </button>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table class="table credits">
        <tr>
          <th class="id">ID</th>
          <th class="date">
            Date
            <a href="#" hx-post="{% url 'invoicing:order-by-credits' 'date' %}">
              <i class="bi bi-chevron-expand"></i>
            </a>
          </th>
          <th>
            Matter
            <a href="#" hx-post="{% url 'invoicing:order-by-credits' 'matter' %}">
              <i class="bi bi-chevron-expand"></i>
            </a>
          </th>
          <th>
            Detail
            <a href="#" hx-post="{% url 'invoicing:order-by-credits' 'detail' %}">
              <i class="bi bi-chevron-expand"></i>
            </a>
          </th>
          <th class="amount">Amount</th>
        </tr>
        {% for credit in objects %}
          <tr>
            <td class="id">
              <button class="button-link"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">{{ credit.id }}</button>
              <ul class="dropdown-menu" aria-labeledby="creditsDropdown">
                <li>
                  <a class="dropdown-item"
                     href="#"
                     hx-get="{% url 'invoicing:credits-edit' credit.id %}"
                     hx-target="#htmx-modal-container"
                     hx-trigger="click"
                     data-bs-toggle="modal"
                     data-bs-target="#htmx-modal-container">Edit</a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="#"
                     hx-confirm="Are you sure you want to delete this credit?"
                     hx-delete="{% url 'invoicing:credits-delete' credit.id %}">Delete</a>
                </li>
              </ul>
            </td>
            <td class="date">{{ credit.date|date:"Y-m-d" }}</td>
            <td class="matter">
              <a href="{% url 'matters:ledger' id=credit.matter.id %}">{{ credit.matter.name|truncatechars:32 }}</a>
            </td>
            <td>{{ credit.detail|default:"" }}</td>
            <td class="amount">${{ credit.amount|floatformat:2|intcomma }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock subcontent %}
