{% block subcontent %}
  {% load humanize %}
  <div id="credits-list">
    <div class="toolbar">
      <div class="toolbar-left">
        <div class="filter-tools">
          <button type="button"
                  class="btn-icon"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  hx-get="{% url 'invoicing:credits-add' %}">
            <i class="icon-plus"></i>
          </button>
          <button type="button"
                  class="btn-icon"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  hx-get="{% url 'invoicing:credits-filter' %}">
            <i class="icon-list-filter"></i>Filter
          </button>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table class="table credits">
        <tr>
          <th class="id">ID</th>
          <th class="date">
            Date
            <button class="btn-sort {% if current_order == 'date' %}active{% endif %}"
                    hx-post="{% url 'invoicing:order-by-credits' 'date' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
          <th>
            Matter
            <button class="btn-sort {% if current_order == 'matter' %}active{% endif %}"
                    hx-post="{% url 'invoicing:order-by-credits' 'matter' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
          <th class="detail">
            Detail
            <button class="btn-sort {% if current_order == 'detail' %}active{% endif %}"
                    hx-post="{% url 'invoicing:order-by-credits' 'detail' %}">
              <i class="icon-chevrons-up-down"></i>
            </button>
          </th>
          <th class="amount">Amount</th>
          <th class="amount">Unapplied</th>
        </tr>
        {% for credit in objects %}
          <tr>
            <td class="id dropdown-cell">
              <div class="dropdown" x-data="dropdown()">
                <button class="button-link"
                        type="button"
                        x-ref="button"
                        @click="toggle()"
                        :aria-expanded="open">{{ credit.id }}</button>
                <ul class="dropdown-menu" x-ref="menu" x-show="open">
                  <li>
                    <a class="dropdown-item"
                       href="#"
                       hx-get="{% url 'invoicing:credits-edit' credit.id %}"
                       hx-target="#htmx-modal-container"
                       hx-trigger="click"><i class="icon-pencil"></i> Edit</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                       href="#"
                       hx-get="{% url 'invoicing:credits-apply' credit.id %}"
                       hx-target="#htmx-modal-container"
                       hx-trigger="click"><i class="icon-receipt"></i> Apply</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                       href="#"
                       hx-confirm="Are you sure you want to delete this credit?"
                       hx-delete="{% url 'invoicing:credits-delete' credit.id %}"><i class="icon-trash-2"></i> Delete</a>
                  </li>
                </ul>
              </div>
            </td>
            <td class="date">{{ credit.date|date:"Y-m-d" }}</td>
            <td class="matter">
              <a href="{% url 'matters:ledger' id=credit.matter.id %}">{{ credit.matter.name }}</a>
            </td>
            <td>{{ credit.detail|default:"" }}</td>
            <td class="amount">${{ credit.amount|floatformat:2|intcomma }}</td>
            <td class="amount">${{ credit.amount_unapplied|floatformat:2|intcomma }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6" class="empty-message">No credits found.</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock subcontent %}
