<li>
  <a class="dropdown-item"
     href="#"
     hx-get="{% url 'matters:activity-bulk-update-matter' matter.id %}"
     hx-target="#htmx-modal-container">
    <i class="icon-folder"></i> Move to Matter...
  </a>
</li>
<li>
  <a class="dropdown-item"
     href="#"
     hx-get="{% url 'matters:activity-bulk-update-comp' matter.id %}"
     hx-target="#htmx-modal-container">
    <i class="icon-check"></i> Update Comp Status...
  </a>
</li>
<li>
  <a class="dropdown-item"
     href="#"
     hx-get="{% url 'matters:activity-bulk-apply-labels' matter.id %}"
     hx-target="#htmx-modal-container">
    <i class="icon-tag"></i> Labels...
  </a>
</li>
