{% load humanize %}
<div class="table-container">
  <table class="table matter-activity card-table">
    <thead>
      <tr>
        <th class="date">Date</th>
        <th class="user">User</th>
        <th class="actions">Expense</th>
        <th class="category">Category</th>
        <th class="numeric amount">Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for expense in expense_entries %}
        <tr>
          <td class="date">{{ expense.date|date:"Y-m-d"|default:"" }}</td>
          <td class="user">{{ expense.user.initials }}</td>
          <td class="actions card-desc">
            <a href="#"
               hx-get="/activity/expenses/{{ expense.id }}/edit"
               hx-target="#htmx-modal-container"
               hx-trigger="click"
               data-bs-toggle="modal"
               data-bs-target="#htmx-modal-container">
              {% if expense.category %}{{ expense.category }} —{% endif %}
            {{ expense.description }}</a>
          </td>
          <td class="category">
            {% include "activity/categories/cell.html" with object_type="expense" object=expense category=expense.activity_category %}
          </td>
          <td class="numeric amount">
            {% if expense.comp %}
              comp
            {% else %}
              ${{ expense.amount|floatformat:2|intcomma }}
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5" class="empty-message">No expenses found for this matter.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="matter-activity-totals">{% include "activity/expenses/summary.html" with summary=expense_summary %}</div>
