{% block subcontent %}
  {% load humanize %}
  <div class="toolbar">
    <div class="toolbar-left">
      <h2>Time Entries</h2>
      {% if selected_entries %}
        <div class="filter-tools">
          <div class="dropdown" x-data="dropdown()">
            <button type="button"
                    class="btn-icon toggle-active"
                    x-ref="button"
                    @click="toggle()"
                    :aria-expanded="open">
              Actions ({{ selected_entries|length }})
              <small><i class="icon-chevron-down"></i></small>
            </button>
            <ul class="dropdown-menu" x-ref="menu" x-show="open" @click="close()">
              {% include "matters/activity/bulk-actions.html" %}
            </ul>
          </div>
          <button type="button"
                  class="btn-icon toggle-active"
                  hx-post="{% url 'matters:activity-clear-selection' matter.id %}"
                  hx-swap="none">
            <i class="icon-x"></i> Clear
          </button>
        </div>
      {% endif %}
    </div>
    <div class="toolbar-right">
      <a href="{% url 'activity:time-filter-matter' matter.id %}"
         class="accent-link">View All Activity <i class="icon-arrow-up-right ms-2"></i></a>
      <a href="{% url 'matters:activity-report' matter.id %}">Activity Report</a>
    </div>
  </div>
  <div id="matterActivityTable">
    <div class="table-container">
      <table class="table matter-activity">
        <tr>
          <th class="col-select">
            <button class="btn-check"
                    hx-post="{% url 'matters:activity-select-all' matter.id %}"
                    hx-swap="none"
                    title="Select all">
              <i class="icon-square{% if all_selected %}-check{% endif %}"></i>
            </button>
          </th>
          <th class="date">
            Date
            <a href="#"
               hx-post="{% url 'matters:activity-sort' matter.id %}"
               hx-target="#matterActivityTable"
               hx-swap="outerHTML">
              <i class="icon-chevrons-up-down"></i>
            </a>
          </th>
          <th class="user">User</th>
          <th class="actions">Actions</th>
          <th class="numeric hours">Hours</th>
          <th class="numeric rate">Rate</th>
          <th class="numeric fee">Fee</th>
        </tr>
        {% for entry in entries %}
          <tr id="time-{{ entry.id }}">{% include "matters/activity/table-row.html" %}</tr>
        {% empty %}
          <tr>
            <td colspan="7" class="empty-message">No time entries found for this matter.</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="flex-start-space">
      <div>{% include "pagination.html" %}</div>
      {% if summary %}
        <div class="totals-table">
          <table>
            <tr>
              <td>Total Hours</td>
              <td class="numeric">{{ summary.total_hours|floatformat:1 }}</td>
            </tr>
            <tr>
              <td>Comp Hours</td>
              <td class="numeric">{{ summary.comp_hours|floatformat:1 }}</td>
            </tr>
            <tr>
              <th>Net Hours</th>
              <td class="numeric total">{{ summary.net_hours|floatformat:1 }}</td>
            </tr>
          </table>
          <table>
            <tr>
              <td>Total Fees</td>
              <td class="numeric">${{ summary.total_fees|floatformat:2|intcomma }}</td>
            </tr>
            <tr>
              <td>Comp Fees</td>
              <td class="numeric">${{ summary.comp_fees|floatformat:2|intcomma }}</td>
            </tr>
            <tr>
              <th>Net Fees</th>
              <td class="numeric total">${{ summary.net_fees|floatformat:2|intcomma }}</td>
            </tr>
          </table>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock subcontent %}
