{% extends "matters/detail.html" %}
{% block subcontent %}
  <div class="section-title">
    <div class="section-title-left">
      <h2>Last 30 Days</h2>
    </div>
    <div class="section-title-right">
      <a href="{% url 'activity:time-filter-matter' matter.id %} ">Activity: View All</a>
    </div>
  </div>
  <div class="table-container">
    <table id="activity" class="table">
      {% if entries %}
        {% for entry in entries %}
          <tr>
            <td class="date">{{ entry.date|date:'Y-m-d' }}</td>
            <td>{{ entry.actions }}</td>
            <td class="hours">{{ entry.hours }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </div>
{% endblock subcontent %}
