<!-- -------------------------------------------------------- -->
<!-- Javascript Rate Picker -->
<!-- -------------------------------------------------------- -->
<script type="text/javascript">

    let rates = [];

    // pulls a specific matter, if user has selected one
    // otherwise, pulls a list of all open matters

    // for each matter, creates javascript array value
    // key  = matterId, value = hourlyRate
    {% for matter, rate in matter_rates.items %}
        rates[{{ matter }}] = {{ rate }}
    {% endfor %}

</script>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Add Time Entry</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form action="{% url 'activity:time-add' id=matter_id request_app='matters' %}"
            class="form-compact"
            method="post"
            role="form">
        {% csrf_token %}
        {{ form }}
        <br />
        <div class="flex-center-space">
          <div>
            <button type="submit" class="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
