
/* ==========================================================================
 Events
========================================================================== */

/* table */

.events {
  margin-bottom: 1.5rem;
}

.events-table {
  min-width: 69rem;
}

.events-table .date {
  width: 12rem;
}

.events-table .matter {
  width: 15rem;
}

.events-table .description {
  min-width: 18rem;
}

.events-table .duration {
  width: 8rem;
}

.events-table .location {
  width: 8rem;
}

.events-table .party {
  width: 8rem;
}

.events-table .status {
  width: 8rem;
}

/* form */

.events-form {
  margin-top: 1rem;
}

.events-form #id_description {
  max-width: 31.5rem;
  width: 100%
}

.deadline-calculator-link a {
  background: var(--background-control);
  border: solid 1px var(--border-light);
  border-radius: var(--radius-md);
  color: var(--button-toolbar);
  outline: none;
  padding: 0.375rem 0.625rem;
}

.deadline-calculator-form {
  margin-top: 1rem;
}

.deadline-calculator-results {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  table-layout: fixed;
  width: 100%;
}

.deadline-calculator-results td {
  text-align: right;
  width: 50%;
}
