
/* ==========================================================================
 Tasks
========================================================================== */

.tasks-add-quick-input {
  background: var(--stone-25);
  color: var(--stone-600);
  padding-left: 1rem;
  width: 33.5rem;
}


.tasks-add-quick-input::placeholder {
  color: var(--stone-300);
}

.tasks-btn-status {
  color: var(--stone-400);
}

.tasks-table .priority {
  width: 3rem;
  text-align: center;
}

.priority-arrow .bi-arrow-bar-up {
  font-size: 0.9rem;
  position: relative;
  left: 0.25rem;
  top: 0.05rem;
}

.priority-text {
  position: relative;
  right: 1rem;
}

.tasks-table .priority i {
  /* margin: 0; */
}

.priority .btn-sort {
  margin: 0;
}

.tasks-table .priority .dropdown-menu {
  min-width: 2rem;
}

.tasks-table .matter {
  width: 16rem;
}

.tasks-table .description {
  min-width: 31.5rem;
}

.tasks-table .status {
  width: 8rem;
}

.tasks-table .user {
  width: 8rem;
}

.tasks-table .date {
  overflow: visible;
  white-space: nowrap;
  width: 8rem;
}

.tasks-table .date .dropdown-menu {
  min-width: 2.75rem;
}

/* Fix dropdown overflow issues */
#tasks .table-container {
  overflow-x: auto;
  overflow-y: auto;
}

.tasks-table tbody {
  overflow: visible;
}

.tasks-table {
  min-width: 73rem;
  overflow: visible;
}

.tasks-table .date .empty-date-icon {
  color: var(--stone-400);
  display: block;
  opacity: 0;
  text-align: center;
  transition: opacity 0.2s;
}

.tasks-table .date:hover .empty-date-icon {
  opacity: 1;
}

.task-date {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 9rem;
}

.tasks-table .menu {
  margin: 0;
  padding: 0;
  width: 0.75rem;
}

/* .tasks-table .complete, */
.tasks-table .complete > a,
.tasks-table .complete .button-link {
  color: var(--stone-500);
  font-variant: strikethrough;
}

.tasks-form #id_description,
.tasks-form #id_matter,
.tasks-form #id_user,
.tasks-form #id_date {
  width: 100%
}

.task-notes-header h2 {
  margin-bottom: 0.5rem;
}

.task-notes-description {
  margin-bottom: 1rem;
}
