{% extends "settings/main.html" %}
{% block subcontent %}
  <div class="settings">
    {% if user.role == 'ADMIN' %}
      <div class="toolbar">
        <h1>Google Account</h1>
      </div>
      <p class="section-text">
        Connect a Google account to syncronize contacts and/or view calendar events on your
        home page.
      </p>
      <div class="integrations-list">
        <div class="integrations-item">
          <span>Google Contacts</span>
          {% if contacts_token %}
            <a class="btn btn-danger"
               href="{% url 'settings:google-logout' 'contacts' %}">Disconnect</a>
          {% else %}
            <a class="btn btn-success"
               href="{% url 'settings:google-login' 'contacts' %}">Connect</a>
          {% endif %}
        </div>
        <div class="integrations-item">
          <span>Google Calendar</span>
          {% if calendar_token %}
            <a class="btn btn-danger"
               href="{% url 'settings:google-logout' 'calendar' %}">Disconnect</a>
          {% else %}
            <a class="btn btn-success"
               href="{% url 'settings:google-login' 'calendar' %}">Connect</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock subcontent %}
