{% load humanize %}
{% if show_select %}
  <td class="col-select card-hide">
    {% url 'activity:flat-fees-toggle-select' entry.id as toggle_url %}
    {% include "selection/checkbox.html" with toggle_url=toggle_url obj_id=entry.id selected_ids=selected_flat_fees %}
  </td>
{% endif %}
<td class="date">{{ entry.date|date:'Y-m-d' }}</td>
<td class="user">{{ entry.user.initials }}</td>
<td class="matter card-title">
  <a href={% url 'matters:activity-index' id=entry.matter.id %}>{{ entry.matter.name }}</a>
</td>
<td class="actions card-desc">
  {% if entry.invoice and not entry.invoice.status == 'DRAFT' %}
    {{ entry.description }}
  {% else %}
    <a href="#"
       hx-get="/activity/flat-fees/{{ entry.id }}/edit"
       hx-target="#htmx-modal-container"
       hx-trigger="click"
       data-bs-toggle="modal"
       data-bs-target="#htmx-modal-container">{{ entry.description }}</a>
  {% endif %}
</td>
<td class="amount">
  {% if entry.invoice %}
    {% if entry.comp %}
      comp
    {% else %}
      ${{ entry.amount|floatformat:2|intcomma }}
    {% endif %}
  {% else %}
    {% if entry.comp %}
      <a href={% url 'activity:flat-fees-toggle-entered' id=entry.id %}>comp</a>
    {% else %}
      <a href={% url 'activity:flat-fees-toggle-entered' id=entry.id %}>${{ entry.amount|floatformat:2|intcomma }}</a>
    {% endif %}
  {% endif %}
</td>
