<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if edit %}
          Edit Rate
        {% else %}
          Add Rate
        {% endif %}
      </h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="rate-form"
            hx-post="{{ action }}"
            hx-target="#htmx-modal-container"
            class="form-compact col2">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      {% if edit %}
        <button type="button"
                class="btn btn-danger"
                hx-confirm='Are you sure you want to delete this record?'
                hx-delete="{% url 'matters:rates-delete' matter_id=matter.id rate_id=rate.id %}"
                hx-target="#htmx-modal-container">Delete Rate</button>
      {% endif %}
      <button type="submit" form="rate-form" class="submit">Submit</button>
    </div>
  </div>
</div>
