<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if edit %}
          Edit Rate
        {% else %}
          Add Rate
        {% endif %}
      </h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="rate-form"
            hx-post="{{ action }}"
            hx-target="#htmx-modal-container"
            class="form-compact col2">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="rate-form" class="submit">Submit</button>
      {% if edit %}
        <a hx-confirm='Are you sure you want to delete this record?'
           href="#"
           hx-delete="{% url 'matters:rates-delete' matter_id=matter.id rate_id=rate.id %}"
           hx-target="#htmx-modal-container"
           class="delete-link">Delete Rate</a>
      {% endif %}
    </div>
  </div>
</div>
