{% extends "matters/detail.html" %}
{% block subcontent %}
  <div class="section-title">
    <div class="section-title-left">
      <h2>Rates</h2>
      <div class="section-title-left-right">
        <button hx-get="/matters/{{ matter.id }}/rates/add"
                hx-target="#htmx-modal-container"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="matter-section-data">
    <div class="table-container">
      <table id="rates" class="table rates-table">
        {% for rate in rates %}
          <tr>
            <td class="rates-user">{{ rate.user }}</td>
            <td class="rates-rate">
              <a href="#"
                 hx-get="/matters/{{ matter.id }}/rates/{{ rate.id }}/edit"
                 hx-target="#htmx-modal-container"
                 hx-trigger="click"
                 data-bs-toggle="modal"
                 data-bs-target="#htmx-modal-container">${{ rate.matter_rate }}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock subcontent %}
