
/* ==========================================================================
Time entry form
========================================================================== */

.time-form #id_matter {
  width: auto;
}

.time-form #id_actions {
  max-width: 500px;
  vertical-align: top;
  width: 95%;
}

.time-form #id_hours {
  max-width: 80px;
}

.time-form #id_firm_rate {
  max-width: 80px;
}

.time-form #id_comp {
  max-width: 80px;
}

.time-form #id_entered {
  max-width: 80px;
}


/* ==========================================================================
Expenses form
========================================================================== */

.expenses-form #id_amount {
  max-width: 120px;
}


/* ==========================================================================
Activity list table
========================================================================== */

.activity {
  width: 100%;
}


.activity .date {
  width: 120px;
}

.activity .user {
  width: 60px;
}

.activity .matter {
  width: 240px;
}

.activity .hours {
  text-align: right;
  width: 60px;
}

.activity .hours a {
  color: inherit;
}

.activity .rate {
  text-align: right;
  width: 80px;
}

.activity .fee {
  text-align: right;
  width: 120px;
}


/* ==========================================================================
Activity summary table
========================================================================== */

.summary table td {
  width: 50%;
}
