
/* ==========================================================================
Filter form
========================================================================== */

#matter {
  width: auto
}


/* ==========================================================================
Time entry form
========================================================================== */

/* see forms.css (also shows on matters app) */


/* ==========================================================================
Time and expense entry list table
========================================================================== */

.activity {
  width: 100%;
}


.activity .date {
  width: 120px;
}

.activity .user {
  width: 60px;
}

.activity .matter {
  width: 240px;
}

.activity .hours {
  text-align: right;
  width: 60px;
}

.activity .hours a {
  color: inherit;
}

.activity .rate {
  text-align: right;
  width: 80px;
}

.activity .fee {
  text-align: right;
  width: 120px;
}

.total {
  font-weight: 600;
}

.activity-summary {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: right;

}

.activity-summary table {
  margin: 1.5rem 0 0 1.5rem;
  min-width: 350px;
}

.activity-summary table td {
  width: 50%;
}
