
/* ==========================================================================
 Events
========================================================================== */

.events {
  margin-bottom: 1.5rem;
}

.events-table {
  width: 100%;
}

.events-table .date {
  width: 120px;
}

.events-table .party {
  width: 120px;
}

.events-table .matter {
  width: 250px;
}

.events-form #id_description {
  max-width: 500px;
  width: 100%
}

/* ==========================================================================
 Tasks
========================================================================== */

.tasks-btn-status {
  color: var(--warm-gray-400);
}

.tasks-table .status {
  text-align: center;
  width: 20px;
}

.status .bi-chevron-expand {
  margin: 0;
}

.tasks-table .matter {
  width: 250px;
}

.tasks-table .user {
  width: 110px;
}

.tasks-table .date {
  width: 155px;
}

.tasks-table .menu {
  margin: 0;
  padding: 0;
  width: 10px;
}

.tasks-form #id_description {
  max-width: 500px;
  width: 100%
}
