
/* ==========================================================================
 Shared Agenda Styles
========================================================================== */

.filter-tools .return-to-agenda {
  color: var(--link);
}

.filter-tools .return-to-agenda:hover {
  color: var(--link-hover);
}

/* ==========================================================================
 Task Notes
========================================================================== */

.task-description {
  margin-bottom: 0.5rem;
}

.task-note {
  border-bottom: solid 1px var(--border-medium);
  padding: 1rem 0 1rem 0.5rem;
}

.task-note:first-child {
  border-top: solid 1px var(--border-medium);
}

.task-note-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.task-note-title-left {
  display: flex;
  align-items: center;
}

.task-note-date-time {
  margin-right: 1rem;
}

.task-note-username {
  color: var(--color-muted);
  margin-right: 1rem;
}

/* Markdown styling for task notes */
.task-note-details h1 {
  font-size: 1.5em;
  font-weight: 600;
}

.task-note-details h2 {
  font-size: 1.25em;
  font-weight: 600;
}

.task-note-details h3 {
  font-size: 1.125em;
  font-weight: 600;
}

.task-note-details strong {
  font-weight: 600;
}

.task-note-details ul {
  list-style-type: disc;
  margin: 0 0 0 1rem;
}

.task-note-details ol {
  list-style-type: decimal;
  margin: 0 0 0 1rem;
}

.task-note-details p {
  margin: 1rem 0 0 0.5rem;
}

.task-note-details p:first-child {
  margin-top: 0.5rem;
}

.task-note-details a {
  color: var(--link);
  text-decoration: underline;
}

.task-note-details a:hover {
  color: var(--link-hover);
}

.task-notes .empty-message {
  color: var(--color-muted);
  font-style: italic;
  padding: 1rem;
  text-align: center;
}

.task-note-form .char-counter {
  color: var(--color-muted);
  font-size: 0.875rem;
  margin-top: 0.25rem;
  text-align: left;
}

.priority-dropdown i.with-text {
  margin-right: 0.5rem;
}
