/* ==========================================================================
List View
========================================================================== */


.invoices .invoice-id {
  width: 80px;
}
.invoices .date {
  width: 120px;
}


.invoices .amount {
  text-align: right;
  width: 150px;
}

.invoices .status {
  width: 150px;
}

.invoices .pdf {
  text-align: center;
  width: 100px;
}

.invoices-delete,
.invoices-delete:hover {
  color: var(--orange-800)
}


/* ==========================================================================
Detail View
========================================================================== */

.invoices-detail-table {
  height: fit-content;
  width: 25%;
}

@media (max-width: 768px) {
  .invoices-detail-table {
    width: 100%;
  }
}

.invoices-table-container {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .invoices-table-container {
    flex-direction: column;
  }
}

/* ==========================================================================
Invoice Form
========================================================================== */

.invoices-add .discount {
  text-align: right;
  width: 6rem;
}

/* ==========================================================================
Cancel Form
========================================================================== */

.invoices-cancel-form input {
  margin-top: 0.5rem;
  width: 100%;
}


/* ==========================================================================
Invoices summary table
========================================================================== */

.invoices-summary {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: right;

}

.invoices-summary table {
  margin: 1.5rem 0 0 1.5rem;
  min-width: 300px;
}

.invoices-summary table td {
  width: 50%;
}

/* ==========================================================================
Payments
========================================================================== */

.payments-actions {
  text-align: center;
  width: 3%;
}

.payments-amount {
  text-align: right;
  width: 150px;
}
