/* ==========================================================================
List View
========================================================================== */


.invoices .number,
.invoices .matter,
.invoices .date {
  width: 19%;
}


.invoices .amount {
  text-align: right;
  width: 19%;
}

.invoices .status {
  width: 19%;
}

.invoices .pdf {
  text-align: center;
  width: 5%;
}

.invoices-delete,
.invoices-delete:hover {
  color: var(--orange-800)
}


/* ==========================================================================
Detail View
========================================================================== */

.invoices-detail-table {
  height: fit-content;
  width: 25%;
}

@media (max-width: 768px) {
  .invoices-detail-table {
    width: 100%;
  }
}

.invoices-table-container {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .invoices-table-container {
    flex-direction: column;
  }
}

/* ==========================================================================
Invoice Form
========================================================================== */

.invoices-add .discount {
  text-align: right;
  width: 6rem;
}

/* ==========================================================================
Cancel Form
========================================================================== */

.invoices-cancel-form input {
  margin-top: 0.5rem;
  width: 100%;
}

/* ==========================================================================
Payments
========================================================================== */

.payments-actions {
  text-align: center;
  width: 5%;
}
