/* ==========================================================================
List View
========================================================================== */

.invoices .invoice-id {
  width: 80px;
}
.invoices .date {
  width: 140px;
}

.invoices .amount {
  text-align: right;
  width: 150px;
}

.invoices .status {
  width: 150px;
}

.invoices .pdf {
  text-align: center;
  width: 100px;
}

.invoices-delete,
.invoices-delete:hover {
  color: var(--orange-800)
}

.toggle-active {
  background: var(--selected-background) !important;
}

.status-buttons {
  display: flex;
  gap: 0.85rem;
  margin-left: 1rem;
}

/* ==========================================================================
Detail View
========================================================================== */

.invoices-detail-table {
  height: fit-content;
  width: 25%;
}

@media (max-width: 768px) {
  .invoices-detail-table {
    width: 100%;
  }
}

.invoices-table-container {
  display: flex;
  gap: 2rem;
}

@media (max-width: 768px) {
  .invoices-table-container {
    flex-direction: column;
  }
}

/* ==========================================================================
Invoice Form
========================================================================== */

.invoices-add .discount {
  text-align: right;
  width: 6rem;
}

/* ==========================================================================
Cancel Form
========================================================================== */

.invoices-cancel-form input {
  margin-top: 0.5rem;
  width: 100%;
}


/* ==========================================================================
Payments
========================================================================== */

.payments .id {
  width: 80px;
}

.payments .matter {
  width: 300px;
}

.payments .method {
  width: 150px;
}

.payments .date {
  width: 120px;
}

.payments .amount {
  text-align: right;
  width: 150px;
}
