.contacts {
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact {
  padding-left: 10px;
  padding-right: 10px;
}

.contact-top-right a {
  margin-left: 0.5rem;
}

.contact-item {
  margin-bottom: 10px;
}

#contact-address {
  margin-bottom: 10px;
}

.contacts-related {
  font-weight: 600;
}

#contact-matters {
  margin: 20px 0 0 0;
}

#contact-matters ul {
  padding: 0;
}

#contact-matters ul li {
  padding: 2px 0;
}

.contacts-assignment {
  margin-top: 15px;
}

/* ==========================================================================
 Contacts form
========================================================================== */

.contacts-form #id_name,
.contacts-form #id_email,
.contacts-form #id_company,
.contacts-form #id_notes {
  max-width: 400px;
  width: 100%;
}

.contacts-form #id_address {
  height: 100px;
  max-width: 400px;
  width: 100%;
}

.contacts-form #id_folder_id,
.contacts-form #id_phone1,
.contacts-form #id_phone2,
.contacts-form #id_phone3,
.contacts-form #id_phone1_label,
.contacts-form #id_phone2_label,
.contacts-form #id_phone3_label {
  max-width: 250px;
  width: 100%;
}

.contacts-assignment-select {
  width: 350px;
}
