
#folders {
  margin-bottom: 1.25rem;
}

.folder-item {
  display: flex;
}

.folder-item .icon-folder {
  color: var(--icon-muted);
}

.add-folder {
  border-bottom: none;
}

.edit-folder {
  justify-content: space-between;
  margin-right: 0.75rem;
  width: 100%;
}

.delete-folder {
  color: var(--urgent);
  margin: 0;
}

.folder-item-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  overflow: visible;
}

/* Fix dropdown overflow issues */
#folders .list-group {
  overflow: visible;
}


.list-group-item .icon-user,
.list-group-item .icon-folder {
  color: var(--icon-muted);
  margin-right: 0.75rem;
}
