
#folders {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.folder-item {
  display: flex;
}

.folder-item .bi-folder {
  color: var(--stone-400);
}

.add-folder {
  border-bottom: none;
}

.edit-folder {
  justify-content: space-between;
  margin-right: 10px;
  width: 100%;
}

.delete-folder {
  color: var(--orange-800);
  margin: 0;
}

.folder-item-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}
