
/* ==========================================================================
Matter Form
========================================================================== */

#id_name {
  width: 400px;
}

#id_description {
  width: 400px;
}

#id_practice_area {
  width: 250px;
}

#id_firm {
  width: 250px;
}

#id_clio_matter_id {
  width: 400px;
}

#id_client_reference_id {
  width: 400px;
}

#id_rate {
  width: 80px;
}

.delete {
  float: right;
}

.delete li {
  margin-bottom: 15px;
}

/* ==========================================================================
Matter List
========================================================================== */

#matter-list {
  clear: both;
  width: 100%;
}

#matter-list th a {
  color: inherit;
}

#matter-list td {
  vertical-align: top;
}

.matter-name {
  width: 300px;
}

.ref-no {
  width: fit-content;
}

/* inline form for updating description / status */
.edit-status {
  background: inherit;
  border: none;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.edit-status > label {
  width: 100%;
}

.edit-status-input {
  background: inherit;
  border: none!important;
  margin: 0;
  padding: 0;
  width: 100%!important;
}

/* ==========================================================================
Matter Details
========================================================================== */

.matter-data {
  align-items: flex-start;
  display: flex;
}

.matter-data table {
  margin-right: 20px;
}


/*------------------------------------------------
Submodules
------------------------------------------------*/

.subsection-heading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px 5px;
}

.subsection-title {
  font-size: 1.2em;
}
