

/* ==========================================================================
Matter Form
========================================================================== */

.matter-form #id_name {
  width: 400px;
}

.matter-form #id_description {
  width: 400px;
}

.matter-form #id_practice_area {
  width: 250px;
}

.matter-form #id_firm {
  width: 250px;
}

.matter-form #id_clio_matter_id {
  width: 400px;
}

.matter-form #id_client_reference_id {
  width: 400px;
}

.matter-form #id_rate {
  width: 80px;
}

.matter-form .delete {
  float: right;
}

.matter-form .delete li {
  margin-bottom: 15px;
}

/* ==========================================================================
Matter List
========================================================================== */

.matter-list td {
  vertical-align: top;
}

.matter-list .id {
  width: 80px;
}

.matter-list .name {
  width: 300px;
}

.matter-list .unbilled {
  width: 120px;
}

.ref-no {
  width: fit-content;
}

/* inline form for updating description / status */
.edit-status {
  background: inherit;
  border: none;
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.edit-status > label {
  width: 100%;
}

.edit-status-input {
  background: inherit;
  border: none!important;
  margin: 0;
  padding: 0;
  width: 100%!important;
}


/* ==========================================================================
Matter Details
========================================================================== */

.matter-data {
  align-items: flex-start;
  display: flex;
}

.matter-data table {
  margin-right: 20px;
}
