
/* ------------------------------------------------------------------------- */
/* search form */
/* ------------------------------------------------------------------------- */

.search-form {
  margin: 20px 20px;
  padding: 0;
	text-align: center;
}

.search-text {
  background: var(--warm-gray-50);
  border: 1px solid var(--warm-gray-350);
  margin: 0;
  padding: 0.5rem;
  width: 80%;
}

.search .input-group {
  margin: 0 auto;
  max-width: 800px;
	width: 100%;
}

.search .input-group-text {
  background: var(--warm-gray-200);
  border: 1px solid var(--warm-gray-350);
}

.search-icon {
  margin: -3px 10px 0 10px;
}

.search .input-group-text {
  background: var(--warm-gray-200);
  border: 1px solid var(--warm-gray-350);
}

/* ------------------------------------------------------------------------- */
/* search results */
/* ------------------------------------------------------------------------- */

.search-results-title {
	font-size: 1.5em;
	padding: 12px;
}

.search-results {
  background: #f4f4f4;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 15px;
}


.search .matter-name {
  width: 250px;
}

.search .matter-status {
  width: 150px;
}

.search .contact-folder {
	width: 150px;
}

.search .contact-name {
	width: 250px;
}

.search .contact-phone1 {
	width: 150px;
}

.search .contact-email {
	text-align: right;
}
