
/* ------------------------------------------------------------------------- */
/* search form */
/* ------------------------------------------------------------------------- */

.modal-dialog {
  width: 1000px !important;
}

.search-text {
  background: var(--stone-50);
  border: 1px solid var(--stone-350);
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  margin: 0;
  padding: 0.5rem;
  width: 70%;
}

.search-form .input-group {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.search .input-group-text {
  background: var(--stone-200);
  border: 1px solid var(--stone-350);
}

.search-icon {
  margin: -3px 10px 0 10px;
}

.search .input-group-text {
  background: var(--stone-200);
  border: 1px solid var(--stone-350);
}

/* ------------------------------------------------------------------------- */
/* search results */
/* ------------------------------------------------------------------------- */

.search-results-title {
	font-size: 1.2em;
	padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.search-results .matter-name {
  width: 250px;
}

.search-results .matter-status {
  width: 100px;
}

.search-results .proceeding-case-number {
  width: 150px;
}

.search-results .proceeding-status {
  width: 150px;
}

.search-results .contact-folder {
  width: 150px;
}

.search-results .contact-phone1,
.search-results .intake-phone {
  width: 150px;
}

.search-results .contact-email,
.search-results .intake-email {
	text-align: right;
  width: 300px;
}
