/* ==========================================================================
Summary
========================================================================== */

.trust-summary {
  clear: both;
  width: 100%;
}

.trust-summary td {
  border: solid 1px var(--stone-200);
  vertical-align: top;
}

.trust-summary .numeric {
  width: 300px;
}

/* ==========================================================================
Summary and History
========================================================================== */

.trust-contact {
  background: var(--stone-100);
  margin-bottom: 20px;
  padding: 20px 15px;
}

.trust-contact-heading {
  margin: 0;
}

.trust-contact-data {
  margin: 20px 0 0 0;
}

.trust-intervals,
.trust-contact-links {
  float: right;
  text-align: right;
}

.trust-contact-links a {
  margin-left: 1rem;
}

.trust-transactions {
  width: 100%;
}

.trust-transactions td {
  border: solid 1px var(--stone-200);
  padding: 6px;
  vertical-align: top;
}

.trust-transactions .client-id,
.trust-summary .client-id {
  width: 100px;
}

.trust-transactions .date {
  width: 120px;
}

.trust-transactions .client {
  width: 200px;
}

.trust-transactions .description {
  border: solid 1px var(--stone-200);
}

.trust-transactions .amount {
  text-align: right;
  width: 120px;
}

.trust-transactions .check {
  text-align: center;
  width: 45px;
}

.table-container .id {
  width: 100px;
}
