/* ==========================================================================
Summary
========================================================================== */

.trust-summary {
  clear: both;
  width: 100%;
}

.trust-summary td {
  border: solid 1px var(--stone-200);
  vertical-align: top;
}

.trust-summary .numeric {
  width: 19rem;
}

/* ==========================================================================
Summary and History
========================================================================== */

.trust-contact {
  background: var(--stone-100);
  margin-bottom: 1.25rem;
  padding: 1.25rem 1rem;
}

.trust-contact-heading {
  margin: 0;
}

.trust-contact-data {
  margin: 1.25rem 0 0 0;
}

.trust-intervals,
.trust-contact-links {
  float: right;
  text-align: right;
}

.trust-contact-links a {
  margin-left: 1rem;
}

.trust-transactions {
  min-width: 79rem;
  width: 100%;
}

.trust-transactions td {
  border: solid 1px var(--stone-200);
  padding: 0.5rem;
  vertical-align: top;
}

.trust-transactions .client-id,
.trust-summary .client-id {
  width: 6.5rem;
}

.trust-transactions .date {
  width: 7.5rem;
}

.trust-transactions .client {
  width: 12.5rem;
}

.trust-transactions .description,
.trust-transactions .note {
  min-width: 18rem;
}

.trust-transactions .amount {
  text-align: right;
  width: 12rem;
}

.trust-transactions .check {
  text-align: center;
  width: 3rem;
}

.table-container .id {
  width: 6.5rem;
}
