{% for note in notes %}
  <div class="task-note">
    <div class="task-note-title">
      <div class="task-note-title-left">
        <a href="#"
           hx-get="{% url 'tasks:edit-note' id=note.id %}{% if matter_id %}?matter_id={{ matter_id }}{% endif %}"
           hx-target="#htmx-modal-container"
           hx-trigger="click">
          <span class="task-note-date-time">{{ note.date|date:"M j, Y" }} {{ note.time|time:"g:i A" }}</span>
        </a>
        <span class="task-note-username">{{ note.user.username|title }}</span>
      </div>
    </div>
    <div class="task-note-details">{{ note.details|safe }}</div>
  </div>
{% empty %}
  <p class="empty-message">No notes yet.</p>
{% endfor %}
{% if pagination.paginator.num_pages > 1 %}
  <div class="pagination-row">
    <a href="#"
       hx-get="{% url 'tasks:detail-notes' id=task.id %}?page=1{% if matter_id %}&matter_id={{ matter_id }}{% endif %}"
       hx-target="#task-notes"
       class="{% if not pagination.has_previous %}pagination-disabled{% endif %}">&lt;&lt;</a>
    <a href="#"
       {% if pagination.has_previous %}hx-get="{% url 'tasks:detail-notes' id=task.id %}?page={{ pagination.previous_page_number }}{% if matter_id %}&matter_id={{ matter_id }}{% endif %}
       "
       {% endif %}
       hx-target="#task-notes"
       class="{% if not pagination.has_previous %}pagination-disabled{% endif %}">&lt;</a>
    <p>Page {{ pagination.number }} of {{ pagination.paginator.num_pages }}</p>
    <a href="#"
       {% if pagination.has_next %}hx-get="{% url 'tasks:detail-notes' id=task.id %}?page={{ pagination.next_page_number }}{% if matter_id %}&matter_id={{ matter_id }}{% endif %}
       "
       {% endif %}
       hx-target="#task-notes"
       class="{% if not pagination.has_next %}pagination-disabled{% endif %}">&gt;</a>
    <a href="#"
       {% if pagination.has_next %}hx-get="{% url 'tasks:detail-notes' id=task.id %}?page={{ pagination.paginator.num_pages }}{% if matter_id %}&matter_id={{ matter_id }}{% endif %}
       "
       {% endif %}
       hx-target="#task-notes"
       class="{% if not pagination.has_next %}pagination-disabled{% endif %}">&gt;&gt;</a>
  </div>
{% endif %}
