<div class="dropdown" x-data="dropdown()">
  <button class="button-link"
          type="button"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">
    {% if task.priority == 5 %}
      <i class="icon-chevrons-up"></i>
    {% elif task.priority == 4 %}
      <i class="icon-chevron-up"></i>
    {% elif task.priority == 3 %}
      <i class="icon-equal"></i>
    {% elif task.priority == 2 %}
      <i class="icon-chevron-down"></i>
    {% else %}
      <i class="icon-chevrons-down"></i>
    {% endif %}
  </button>
  <ul class="dropdown-menu" x-ref="menu" x-show="open">
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-priority' task_id=task.id priority=5 %}"
         hx-target="#tasks"><i class="icon-chevrons-up priority-5"></i> Highest</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-priority' task_id=task.id priority=4 %}"
         hx-target="#tasks"><i class="icon-chevron-up priority-4"></i> High</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-priority' task_id=task.id priority=3 %}"
         hx-target="#tasks"><i class="icon-equal"></i> Normal</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-priority' task_id=task.id priority=2 %}"
         hx-target="#tasks"><i class="icon-chevron-down priority-2"></i> Low</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-priority' task_id=task.id priority=1 %}"
         hx-target="#tasks"><i class="icon-chevrons-down priority-1"></i> Lowest</a>
    </li>
  </ul>
</div>
