<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">
                {% if edit %}
                    Edit Proceeding
                {% else %}
                    Add Proceeding
                {% endif %}
            </h1>
            <div>
                <a href="#" data-bs-dismiss="modal">
                    <i class="bi bi-x-lg"></i>
                </a>
            </div>
        </div>

        <div class="modal-body">
            <form
                    action="{{ action }}"
                    method="post"
                    class="form-responsive"
            >
                {% csrf_token %}
                {{ form }}
                <br/>
                <div class="flex-center-space">
                    <div>
                        <button type="submit" class="submit">Submit</button>
                    </div>
                    <div>
                        {% if edit %}
                            <a
                                    onclick="return confirm('Are you sure you want to delete this record?')"
                                    href={% url 'matters:proceedings-delete' matter_id=matter.id proceeding_id=proceeding_for_edits.id %}
                            >
                                Delete Proceeding
                            </a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
