<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Assign Contact</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="assign-contact-form"
            hx-post="{% url 'matters:contacts-assign-store' %}"
            hx-target="#htmx-modal-container"
            class="form-compact">
        {% csrf_token %}
        <input type="hidden" name="matter_id" value="{{ matter.id }}" />
        <div class="form-group combobox-container">
          <label for="assign-search-input">Contact</label>
          <div class="combobox-input-wrapper">
            <input type="search"
                   id="assign-search-input"
                   hx-post="{% url 'matters:contacts-assign-results' id=matter.id %}"
                   name="search_text"
                   hx-trigger="keyup changed delay:500ms, search"
                   hx-target="#search-results"
                   autocomplete="off"
                   placeholder="Search contacts..."
                   autofocus />
            <button type="button" id="combobox-clear" class="combobox-clear hidden">
              <i class="bi bi-x"></i>
            </button>
          </div>
          <input type="hidden" name="contact_id" id="contact_id" />
          <div id="search-results" class="matter-contacts"></div>
        </div>
        <div class="form-group">
          <label for="group_id">Group</label>
          <select name="group_id" id="group_id" required>
            <option value="">Select a group...</option>
            {% for group in groups %}<option value="{{ group.id }}">{{ group.name }}</option>{% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="role_id">Role</label>
          <select name="role_id" id="role_id" required>
            <option value="">Select a role...</option>
            {% for role in roles %}<option value="{{ role.id }}">{{ role.name }}</option>{% endfor %}
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="assign-contact-form" class="submit">Assign</button>
    </div>
  </div>
</div>
