{% extends "matters/detail.html" %}
{% block subcontent %}
  <div class="toolbar">
    <div class="toolbar-left">
      <h2>Related Contacts</h2>
      <div class="filter-tools">
        <a href={% url 'matters:contacts-assign' id=matter.id %}>Assign</a>
      </div>
    </div>
  </div>
  {% if relationship_groups %}
    {% for group, relationships in relationship_groups.items %}
      {% if group == "Client" or relationships %}
        <div class="contact-group-heading">
          <h3>{{ group }}</h3>
        </div>
        <div class="table-container">
          <table class="table matter-contacts">
            {% if matter.client %}
              <tr>
                <td class="relationship">Client</td>
                <td class="name">
                  <a href={% url 'contacts:select' id=matter.client.id %}>{{ matter.client.name }}</a>
                </td>
                <td class="phone1">{{ matter.client.phone1|default:'' }}</td>
                <td class="email">{{ matter.client.email|default:'' }}</td>
              </tr>
            {% endif %}
            {% for relationship in relationships %}
              <tr>
                <td class="relationship">
                  <a href={% url 'matters:contacts-assign-edit' id=relationship.id %}>{{ relationship.role.name }}</a>
                </td>
                <td class="name">
                  <a href={% url 'contacts:select' id=relationship.contact.id %}>{{ relationship.contact.name }}</a>
                </td>
                <td class="phone1">{{ relationship.contact.phone1|default:'' }}</td>
                <td class="email">{{ relationship.contact.email|default:'' }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock subcontent %}
