<span class="label-badge dropdown">
  <a href="#"
     class="app-badge label-{{ label.color }}"
     data-bs-toggle="dropdown"
     aria-expanded="false"><i class="bi bi-tag"></i>{{ label.name }}</a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item urgent"
         href="#"
         hx-post="{% url 'documents:remove-label-from' object_type object.id %}"
         hx-vals='{"label_id": "{{ label.id }}"}'
         hx-target="#{{ object_type }}-{{ object.id }}"
         hx-swap="outerHTML">Remove</a>
    </li>
  </ul>
</span>
