<div>
  <div class="toolbar">
    <div class="toolbar-left">
      <div class="filter-tools">
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'documents:add-label' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
        <button type="button"
                class="btn-icon"
                hx-get="{% url 'documents:filter-labels' %}"
                hx-target="#htmx-modal-container"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-filter"></i> &nbsp;Filter
        </button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table id="labels-list" class="table">
      <tr>
        <th>
          Label
          <a href="#" hx-get="{% url 'documents:sort-labels' 'name' %}">
            <i class="bi bi-chevron-expand"></i>
          </a>
        </th>
        <th>
          Matter
          <a href="#" hx-get="{% url 'documents:sort-labels' 'matter' %}">
            <i class="bi bi-chevron-expand"></i>
          </a>
        </th>
      </tr>
      {% if objects %}
        {% for label in objects %}
          {% include "documents/labels/row.html" %}
        {% endfor %}
      {% endif %}
    </table>
  </div>
  <div class="flex-start-space">
    <div>{% include "pagination.html" %}</div>
  </div>
</div>
