
{% extends "base.html" %}
{% block content %}

<div class="col-sm-12">

	<div class="section-title">
    Assign Contact to Matter
	</div>

  <form action="{{ action }}" method="post" role="form">

    {% csrf_token %}

    <table>

      <tr>

        <th>Matter:

        <td>

            <label>
                <select  style="width: 350px;" name="matter_id">

                  {% for matter in matters %}

                    <option value="{{ matter.id }}">{{ matter.name }}

                  {% endfor %}

                </select>
            </label>

        <tr>
        <th>Role:

        <td>

            <label>
                <select  style="width: 350px;" name="role_id">

                  {% for role in roles %}

                    <option value="{{ role.id }}">{{ role.name }}

                  {% endfor %}

                </select>
            </label>

        <tr>

        <td>

        <td>

            <input type="submit" value="Submit">

  </table>

  </form>

</div>

{% endblock content %}
