<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Assign Contact to Matter</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form action="{{ action }}"
            method="post"
            class="form-responsive"
            role="form">
        {% csrf_token %}
        <label class="control-label">Matter:</label>
        <label>
          <select class="contacts-assignment-select" name="matter_id">
            {% for matter in matters %}<option value="{{ matter.id }}">{{ matter.name }}</option>{% endfor %}
          </select>
        </label>
        <label class="control-label">Role:</label>
        <label>
          <select class="contacts-assignment-select" name="role_id">
            {% for role in roles %}<option value="{{ role.id }}">{{ role.name }}</option>{% endfor %}
          </select>
        </label>
        <br />
        <div>
          <button type="submit" class="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
