<div class="contacts contacts-list">
  <div class="section">
    <div class="toolbar">
      <div class="toolbar-left">
        <h1>Contacts</h1>
      </div>
      <div class="toolbar-right">
        <a href="#"
           hx-get="{% url 'contacts:add' %}"
           hx-target="#htmx-modal-container"
           hx-trigger="click">
          <i class="icon-plus"></i>
        </a>
      </div>
    </div>
    {% if contacts %}
      {% include "contacts/list.html" %}
    {% else %}
      <ul class="list-group">
        <li class="list-group-item">No contacts selected.</li>
      </ul>
    {% endif %}
  </div>
</div>
<div class="contact contacts-detail">
  {% if selected_contact %}
    {% include "contacts/contact.html" %}
  {% elif selected_contact_not_found %}
    <div class="section">
      <p>The selected contact could not be found. It may have been deleted.</p>
    </div>
  {% endif %}
</div>
