{% load phone_numbers %}
<div class="section">
  <div class="toolbar">
    <div class="toolbar-left">
      <h1>{{ selected_contact.name }}</h1>
    </div>
    <div class="toolbar-right">
      <a href="{% url 'contacts:toggle-google-sync' id=selected_contact.id %}">
        {% if selected_contact.google_id %}
          <i class="bi bi-cloud-slash"></i>
        {% else %}
          <i class="bi bi-cloud-upload"></i>
        {% endif %}
      </a>
      <a href={% url 'contacts:edit' id=selected_contact.id %}><i class="bi bi-pencil"></i></a>
    </div>
  </div>
  <div class="contact-item">
    <div class="strong">{{ selected_contact.name }}</div>
    {% if selected_contact.company %}<div>{{ selected_contact.company }}</div>{% endif %}
    {% if selected_contact.address %}<div id="contact-address">{{ selected_contact.address|linebreaks }}</div>{% endif %}
  </div>
  {% if selected_contact.phone1 %}
    <div class="contact-item">{{ selected_contact.phone1|phone_number }} - {{ selected_contact.phone1_label|lower }}</div>
  {% endif %}
  {% if selected_contact.phone2 %}
    <div class="contact-item">{{ selected_contact.phone2|phone_number }} - {{ selected_contact.phone2_label|lower }}</div>
  {% endif %}
  {% if selected_contact.phone3 %}
    <div class="contact-item">{{ selected_contact.phone3|phone_number }} - {{ selected_contact.phone3_label|lower }}</div>
  {% endif %}
  {% if selected_contact.email != null %}<div class="contact-item">{{ selected_contact.email }}</div>{% endif %}
  {% if selected_contact.website %}
    <div class="contact-item">
      <a href="{{ selected_contact.website }}">{{ selected_contact.website }}</a>
    </div>
  {% endif %}
  {% if selected_contact.map %}
    <div class="contact-item">
      <a href="{{ selected_contact.map }}">Map</a>
    </div>
  {% endif %}
  {% if selected_contact.notes %}<div class="contact-item">{{ selected_contact.notes|linebreaks }}</div>{% endif %}
  {% if relationships %}
    <div id="contact-matters">
      <div class="contacts-related">Related Matters</div>
      <ul>
        {% for relationship in relationships %}
          <li>
            <a href={% url 'matters:detail' id=relationship.matter.id %}>{{ relationship.matter.name }}</a> -
            {{ relationship.matter.status }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="contact-item"></div>
  {% if selected_contact.intake %}
    <div class="contact-item">
      <a href={% url 'intakes:detail-index' id=selected_contact.intake.id %}>View Intake</a>
    </div>
  {% endif %}
  {% if selected_contact.client_status == "Current" or selected_contact.client_status == "Former" %}
    <a href={% url 'trust:client-index' selected_contact.id %}>View Trust</a>
  {% endif %}
  <div class="contacts-assignment">
    <a href="#"
       hx-get="/contacts/{{ selected_contact.id }}/assign"
       hx-target="#htmx-modal-container"
       data-bs-toggle="modal"
       data-bs-target="#htmx-modal-container">Assign</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <a href="#"
       hx-get="/contacts/{{ selected_contact.id }}/remove"
       hx-target="#htmx-modal-container"
       data-bs-toggle="modal"
       data-bs-target="#htmx-modal-container">Remove</a>
  </div>
</div>
