<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if not edit %}
          Add Contact
        {% else %}
          Edit Contact
        {% endif %}
      </h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="contact-form"
            hx-post="{{ action }}"
            hx-target="#htmx-modal-container"
            class="form-compact col2 contacts-form">
        {% csrf_token %}
        {% if intake_id %}<input type="hidden" name="intake_id" value="{{ intake_id }}" />{% endif %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="contact-form" class="submit">Submit</button>
      {% if edit %}
        <a href="#"
           class="delete-link"
           hx-confirm="Are you sure you want to delete this record?"
           hx-delete="{% url 'contacts:delete' id=contact.id %}">Delete Contact</a>
      {% endif %}
    </div>
  </div>
</div>
