<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">
        {% if not edit %}
          Add Contact
        {% else %}
          Edit Contact
        {% endif %}
      </h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="contact-form"
            hx-post="{{ action }}"
            hx-target="#htmx-modal-container"
            class="contacts-form-grid">
        {% csrf_token %}
        {% if intake_id %}<input type="hidden" name="intake_id" value="{{ intake_id }}" />{% endif %}
        <div class="contacts-form-left form-compact col2">
          {% for field in form %}
            {% if field.name == 'client_status' or field.name == 'folder' or field.name == 'name' or field.name == 'company' or field.name == 'email' or field.name == 'email2' or field.name == 'address' %}
              <div class="form-group field-{{ field.name }}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div>{{ field }}{{ field.errors }}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="contacts-form-right form-compact col2">
          {% for field in form %}
            {% if field.name == 'phone1' or field.name == 'phone1_label' or field.name == 'phone2' or field.name == 'phone2_label' or field.name == 'phone3' or field.name == 'phone3_label' or field.name == 'website' or field.name == 'notes' %}
              <div class="form-group field-{{ field.name }}">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div>{{ field }}{{ field.errors }}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="contact-form" class="submit">Submit</button>
      {% if edit %}
        <a href="#"
           class="delete-link"
           hx-confirm="Are you sure you want to delete this record?"
           hx-delete="{% url 'contacts:delete' id=contact.id %}"
           hx-target="#htmx-modal-container">Delete Contact</a>
      {% endif %}
    </div>
  </div>
</div>
