{% extends "base.html" %}
{% block content %}

    <div class="col-sm-12">
        <div class="section-title">
            Remove Contact from Matter
        </div>
        <form action="{{ action }}" method="post" role="form">
            {% csrf_token %}
            <table>
                <tr>

                    <th>Matter:</th>

                    <td>

                        <label>
                            <select class="select-field" name="relationship_id">

                                {% for relationship in relationships %}

                                    <option value="{{ relationship.id }}">{{ relationship.matter.name }}</option>

                                {% endfor %}

                            </select>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td></td>

                    <td>
                        <input type="submit" value="Submit"/>
                    </td>
                </tr>

            </table>
        </form>
    </div>

{% endblock content %}
