<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Remove Contact from Matter</h1>
      <div>
        <a href="#" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <form id="contact-remove-form"
            action="{{ action }}"
            method="post"
            class="form-responsive form-spacious"
            role="form">
        {% csrf_token %}
        <label>Matter:</label>
        <label>
          <select class="contacts-assignment-select" name="relationship_id">
            {% for relationship in relationships %}
              <option value="{{ relationship.id }}">{{ relationship.matter.name }}</option>
            {% endfor %}
          </select>
        </label>
      </form>
    </div>
    <div class="modal-footer">
      <button type="submit" form="contact-remove-form" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
