{% extends "base.html" %}
{% block content %}
  <div class="section">
    <div class="section-title">
      <div class="section-title-left">
        <h1>Pending Events</h1>
        <div class="section-title-left-right">
          <button type="button"
                  class="btn-icon"
                  hx-get="/events/add"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="table-container">
      <table class="table events">
        <tr>
          <th class="date">Date</th>
          <th class="matter">Matter</th>
          <th class="party">Party</th>
          <th class="description">Description</th>
        </tr>
        {% for event in events %}
          <tr>
            <td class="date">{{ event.date|date:"Y-m-d" }}</td>
            <td class="matter">
              <a href={% url 'matters:events' id=event.matter.id %}>{{ event.matter.name }}</a>
            </td>
            <td class="party">{{ event.party }}</td>
            <td class="description {% if event.date < third_day and event.status == 'Pending' %}soon{% endif %}">
              <a href="#"
                 type="button"
                 class="btn-icon"
                 hx-get="/events/{{ event.id }}/edit"
                 hx-target="#htmx-modal-container"
                 hx-trigger="click"
                 data-bs-toggle="modal"
                 data-bs-target="#htmx-modal-container">{{ event.description }}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
      {% include "pagination.html" %}
    </div>
  </div>
{% endblock content %}
